<template>
    <nav id="menu-products" class="l-menu">
        <router-link to="/profile/products"><span>Всі продукти (100)</span></router-link>
        <router-link to="/profile/products/last"><span>Останні додані</span></router-link>
    </nav>
</template>

<script>
    export default {
        data(){
            return {

            }
        },
        methods: {

        },
        destroyed: function() {

        },
        mounted() {

        }
    }
</script>