<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <menu-products></menu-products>
                </div>
                <div class="col-lg-9"> 
                    <div class="row">
                        <div class="col-lg-3">
                            <router-link :to="{name: 'products.create'}" class="btn btn-add-product" v-scroll-to="'#page-add-product'">
                                <span>
                                    <i class="plus-ico"></i>
                                    <p>Додати новий товар</p>
                                </span>
                            </router-link>
                        </div>
                        <template v-if="Object.keys(items).length && items.data.length">
                            <div class="col-lg-3" v-for="item in items.data">
                                <tpl-product-edit :item="item" @reload="getData"></tpl-product-edit>
                            </div>
                        </template>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</template>

<script>

    Vue.component('menu-products', require('../products/MenuProducts.vue'));
    Vue.component('tpl-product-edit', require('../../products/TplProductCardEdit.vue'));
   
    export default {
        data(){
            return {
                items: [],
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.get('/api/v1/product/lists').then(response => {
                    this.items = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>