<template>
    <div id="block-group-week" class="container">
        <h2>Групи</h2>
        <span class="ln"></span>
        <h3>тижня</h3> 
        <div class="row m-b-20"> 
            <div class="col-lg-4" v-for="(item, k) in items">
                <tpl-group :item="item" :itemkey="k"></tpl-group> 
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Створити групу</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-default w100p tup">До всіх груп <i class="blk-uniF101"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    Vue.component('tpl-group', require('../groups/TplGroup.vue'));
    
    export default {
        data(){
            return {
                items: [],
            }  
        },
        methods:{
            getData: function()
            {
                axios.post('/api/v1/get/block/group').then(response => {
                    this.items = response.data;
                }).catch(error => {
                    
                });
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>