<template>
    <div id="block-gall" class="container">
        <h2>Галерея</h2>
        <span class="ln"></span>
        <h3>моделей</h3>
        <div class="cont">
            <div class="row" v-for="(block, n) in blocks" :class="(blocks.length == n+1) ? 'bottom' : ''">
                <div class="col-lg-3" v-for="(item, k) in block">
                    <tpl-gallery-2 :item="item" :num="k"></tpl-gallery-2>
                </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Розмістити роботу</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-default w100p tup">До всієї галереї <i class="blk-uniF101"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    Vue.component('tpl-gallery-2', require('../gallery/TplGallery.vue'));
    
    export default {
        data(){
            return {
                items: [],
            }  
        },
        methods:{
            getData: function()
            {
                axios.post('/api/v1/get/block/gallery').then(response => {
                    this.items = response.data;
                }).catch(error => {
                    
                });
            }
        },
        computed: {
            blocks: function()
            {
                return _.chunk(_.toArray(this.items), 4);
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>