<template>
    <div id="block-notify"  class="block" ref="dropdownMenu">
        <template v-if="Object.keys(notifi).length">
            <button class="btn btn-link no-hover notify" v-on:click="openMenu">
                <i class="models-svg-005"></i>
                <span class="badge badge-red b-badge" v-if="notifi.countNew > 0">{{ notifi.countNew }}</span>
            </button>
            <div class="drop-down anim zoomIn" v-if="show" :class="[(show) ? 'show-dd' : '']">
                <div class="top">
                    <div class="row">
                        <div class="col-lg-10">
                            <p v-if="notifi.countNew > 0" v-html="$t('you_have3_notifications', {count: notifi.countNew})"></p>
                            <p v-else>{{ $t('notification') }}</p>
                        </div>
                        <div class="col-lg-2 text-right">
                            <a href="javascript:void(0);"><i class="ico-gear"></i></a>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <ul>
                        <li v-if="notifi.data.length" v-for="item in notifi.data">
                            <template v-if="item.type == 'friend_request'">
                                <tpl-friend-req-list :item="item" @close="show = false"></tpl-friend-req-list>
                            </template>
                            <template v-if="item.type == 'notifi'">
                                <tpl-notifi-list :item="item"></tpl-notifi-list>
                            </template>
                        </li>
                    </ul>
                </div>

                <div class="bottom">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <router-link to="/profile/activity/all-notifications">{{ $t('all_notifications') }}</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    Vue.component('tpl-friend-req-list', require('../tpl/TplNotifiFriendReqList.vue'));
    Vue.component('tpl-notifi-list', require('../tpl/TplNotifiList.vue'));

    export default {
        data(){
            return {
                show: false,
                notifi: [],
                loadData: false,
            }
        },
        methods:{
            openMenu: function()
            {
                this.show = !this.show;
            },
            getData: function () {
                this.loadData = true;
                axios.post('/api/v1/notifi/block/notifi').then(response => {
                    this.notifi = response.data;
                    this.loadData = false;
                }).catch(error => {
                    this.loadData = false;
                });
            },
            documentClick(e){
                var el = this.$refs.dropdownMenu;
                var target = e.target;
                if ( el !== target && !el.contains(target))
                {
                    this.show = false;
                }
            },
            readAll: function () {
                axios.post('/api/v1/notifi/read/all');
            }
        },
        watch:{
            show: function (val) {
                if(val == false)
                {
                    this.readAll();
                }
            }
        },
        created () {
            document.addEventListener('click', this.documentClick)
        },
        destroyed () {
            document.removeEventListener('click', this.documentClick)
        },
        mounted(){
            var vm = this;
            this.getData();
            //
            this.$echo.channel('notifi.'+this.$auth.getUser().id).listen('.Modules.Notifi.Events.UpdateBlockEvent', (payload) => {
                vm.notifi = payload.data;
            });
            //
            EventBus.$on('readNotifi', function (count) {
                vm.notifi.countNew =  count;
            });
            //
        }
    }
</script>