<template>
    <div id="block-top" class="container">
        <h2>Топ</h2>
        <span class="ln"></span>
        <h3>дизайнерів тижня</h3>
        <div class="row">
            <div class="col-lg-4" v-for="block in blocks"> 
                <div class="iner">
                    <div class="user">
                        <a href="javascript:void(0);" class="ava">
                            <img :src="block.user.avatar" :alt="block.user.name" class="img-circle img-responsive">
                        </a>
                        <h4><a href="javascript:void(0);">{{ block.user.name }}</a></h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 p-r-0">
                            <div class="fotos">
                                <a href="javascript:void(0);" v-for="image in block.images">
                                    <img :src="image" class="img-responsive">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 p-l-0">
                            <div class="flag">
                                <span>{{ block.flag }}</span>
                            </div>
                            <div class="position">
                                <span>{{ block.positiops }}</span>
                                <p>Позицій</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 p-r-0">
                            <ul class="statistic">
                                <li class="sts">
                                    <i class="models-svg-043"></i> {{ block.views }}
                                </li>
                                <li class="sts">
                                    <i class="models-svg-034"></i> {{ block.likes }}
                                </li>
                                <li class="sts">
                                    <i class="models-svg-058 intop">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i> {{ block.follows }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 p-l-0">
                            <div class="btn btn-shop">До магазину <i class="blk-uniF101"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row buttons"> 
            <div class="col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Потрапити в топ</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-default w100p tup">До всіх дизайнерів <i class="blk-uniF101"></i></a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                blocks: null,
            }  
        },
        methods:{
            getData: function()
            {
                axios.post('/api/v1/get/top/disainers').then(response => {
                    this.blocks = response.data;
                }).catch(error => {
                    
                });
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>