<template>
    <div id="block-mess" class="block" ref="dropdownMenu">
        <template v-if="Object.keys(messages).length">
            <button type="button" class="btn btn-link no-hover mess" v-on:click="openMenu">
                <i class="models-svg-007"></i>
                <span class="badge badge-red b-badge" v-if="messages.countNew > 0">{{ messages.countNew }}</span>
            </button>
            <div class="drop-down anim zoomIn" v-if="show" :class="[(show) ? 'show-dd' : '']">
                <div class="top">
                    <div class="row">
                        <div class="col-lg-10">
                            <p v-if="messages.countNew > 0">У Вас <span class="badge">{{ messages.countNew }}</span> повідомлень</p>
                            <p v-else>У Вас немає нових повідомлень</p>
                        </div>
                        <div class="col-lg-2 text-right">
                            <router-link to="/profile/message"><i class="ico-right"></i></router-link>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <ul>
                        <template v-if="messages.data.length" v-for="item in messages.data">
                            <li v-if="item">
                                <tpl-message-block :item="item" @closeBlock="closeBlock"></tpl-message-block>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('tpl-message-block', require('../tpl/TplMessageBlock.vue'));

    export default {
        data(){
            return {
                show: false,
                messages: [],
                loadData: false,
            }
        },
        methods:{
            openMenu: function()
            {
                this.show = !this.show;
            },
            getData: function () {
                this.loadData = true;
                axios.post('/api/v1/message/block').then(response => {
                    this.messages = response.data;
                    this.readChanel();
                    this.loadData = false;
                }).catch(error => {
                    this.loadData = false;
                });
            },
            closeBlock: function () {
                this.show = false;
            },
            documentClick(e){
                var el = this.$refs.dropdownMenu;
                var target = e.target;
                if ( el !== target && !el.contains(target))
                {
                    this.show = false;
                }
            },
            readChanel: function () {
                var vm = this;
                this.$echo.channel('messages.'+this.$auth.getUser().id).listen('.Modules.Message.Events.UpdateMessageBlockEvent', (payload) => {
                    vm.messages = payload.block;
                });
            }
        },
        computed: {

        },
        created () {
            document.addEventListener('click', this.documentClick)
        },
        destroyed () {
            document.removeEventListener('click', this.documentClick)
        },
        mounted(){
            var vm = this;
            vm.getData();
            //deleteFromBlock
//            EventBus.$on('deleteFromBlock', function (data) {
//                vm.messages = data;
//            });
//            //
//            this.$echo.channel('newMessage.'+this.$auth.getUser().id).listen('.Modules.Message.Events.NewMessageEvent', (payload) => {
//                vm.messages = payload.block;
//            });
//            //
//            EventBus.$on('updateMessageBlock', function (data) {
//                vm.messages = data;
//            });
            //
        }
    }
</script>