<template>
    <div id="block-new" class="container">
        <h2>Нові</h2>
        <span class="ln"></span>
        <h3>надходження</h3>
        <div class="cont">
            <div class="row" v-for="(block, n) in blocks" :class="(blocks.length == n+1) ? 'bottom' : ''">
                <div class="col-lg-3" v-for="(item, k) in block">
                    <template v-if="item.tpl == 'model'">
                        <tpl-model :item="item" :num="k"></tpl-model>
                    </template>
                    <template v-if="item.tpl == 'image'">
                        <tpl-image :item="item" :num="k"></tpl-image>
                    </template>
                    <template v-if="item.tpl == 'video'">
                        <tpl-video :item="item" :num="k"></tpl-video>
                    </template>
                    <template v-if="item.tpl == 'audio'">
                        <tpl-audio :item="item" :num="k"></tpl-audio>
                    </template>
                </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Розпочати продавати</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-default w100p tup">До всіх моделей <i class="blk-uniF101"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    Vue.component('tpl-model', require('../products/TplModel.vue'));
    Vue.component('tpl-image', require('../products/TplImage.vue'));
    Vue.component('tpl-video', require('../products/TplVideo.vue'));
    Vue.component('tpl-audio', require('../products/TplAudio.vue'));
    
    export default {
        data(){
            return {
                items: [],
            }  
        },
        methods:{
            getData: function()
            {
                axios.post('/api/v1/get/block/new').then(response => {
                    this.items = response.data;
                }).catch(error => {
                    
                });
            }
        },
        computed: {
            blocks: function()
            {
                return _.chunk(_.toArray(this.items), 4);
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>