<template>
    <div id="block-work">
        <div class="container">
            <h2>Робота</h2>
            <span class="ln"></span>
            <h3>реалізація та замовлення</h3>

            <div class="row" v-if="blocks">
                <div class="col-lg-6">

                    <div class="refresh-work">
                        <div class="d1"></div>
                        <div class="d2"></div>
                    </div>

                    <div class="row p-15">
                        <div class="col-lg-6">
                            <ul class="frilances-list">
                                <li class="row" v-for="user in blocks.frilancers">
                                    <div class="col-lg-3">
                                        <a href="javascript:void(0);" class="ava">
                                            <img :src="user.avatar" class="img-circle img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-lg-9">
                                        <h4><a href="javascript:void(0);">{{ user.name }}</a></h4>
                                        <p>Репутація: <span>{{ user.reputation }}</span></p>
                                        <p>Моделей створено: <span>{{ user.models }}</span></p>
                                    </div>
                                </li>
                            </ul>
                            <div class="line1"></div>
                            <div class="sqr"></div>
                            <div class="txt">Знаходь завдання, пов'язані з 3D</div>
                        </div>
                        <div class="col-lg-6">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row p-15">
                        <div class="col-lg-8">
                            <div class="txt2">Найми фрілансерів на свої проекти</div>
                            <div class="sqr2"></div>
                            <div class="line2"></div>
                            <ul class="work-list">
                                <li class="row" v-for="(work, k) in blocks.works">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <i :class="'ico-work-'+k"></i> 
                                            </div>
                                            <div class="col-lg-8 p-l-0"> 
                                                <h4><a href="javascript:void(0);">{{ work.work.title }}</a></h4>
                                                <p>type of</p>
                                                <div class="price">$ {{ work.work.price.min }} - $ {{ work.work.price.max }}</div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <a href="javascript:void(0);" class="ava">
                                                    <img :src="work.user.avatar" class="img-circle img-responsive">
                                                </a>
                                            </div>
                                            <div class="col-lg-8">
                                                <h4><a href="javascript:void(0);">{{ work.user.name }}</a></h4>
                                                <p>Репутація: <span>{{ work.user.reputation }}</span></p>
                                                <p>{{ work.user.last_visit }} хвилин тому</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row buttons">
                <div class="col-lg-6 col-lg-offset-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Почати працювати</a>
                        </div>
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" class="btn btn-default w100p tup">До всієї роботи <i class="blk-uniF101"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--.container-->
    </div><!--#block-work-->
</template>

<script>
    
    export default {
        data(){
            return {
                blocks: null,
            }  
        },
        methods:{
            getData: function()
            {
                axios.post('/api/v1/get/block/work').then(response => {
                    this.blocks = response.data;
                }).catch(error => {
                    
                });
            }
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted BlockNew.');
            this.getData();
        }
    }
</script>