<template>
    <div id="block-string" class="block" ref="dropdownMenu">
        <button type="button" class=" btn btn-link no-hover string" v-on:click="openMenu">
            <i class="models-svg-001"></i>
            <!--<span class="badge badge-red b-badge">200</span>-->
        </button>
        <ul class="drop-down anim zoomIn" v-if="show" :class="[(show) ? 'show-dd1' : '']">
            <li class="top">
                <div class="row">
                    <div class="col-lg-10">
                        <p>Стрічка проектів</p>
                    </div>
                    <div class="col-lg-2 text-right">
                        <a href="javascript:void(0);"><i class="ico-gear"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        data(){
            return {
                show: false,
            }
        },
        methods:{
            openMenu: function()
            {
                this.show = !this.show;
            },
            documentClick(e){
                var el = this.$refs.dropdownMenu;
                var target = e.target;
                if ( el !== target && !el.contains(target))
                {
                    this.show = false;
                }
            }
        },
        created () {
            document.addEventListener('click', this.documentClick)
        },
        destroyed () {
            document.removeEventListener('click', this.documentClick)
        },
        mounted(){
            var vm = this;
        }
    }
</script>