<template>
    <div id="block-cart" class="block" ref="dropdownMenu">
        <button class="btn btn-link no-hover cart" v-on:click="openMenu">
            <i class="models-svg-003"></i>
            <!--<span class="badge badge-red b-badge">200</span>-->
        </button>
        <ul class="drop-down anim zoomIn" v-if="show" :class="[(show) ? 'show-dd3' : '']">
            <li class="top">
                <div class="row">
                    <div class="col-lg-10">
                        <p>У Вас <span class="badge">200</span> товарів</p>
                    </div>
                    <div class="col-lg-2 text-right">
                        <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </li>
            <li class="bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="sum">Сума: <b>$60.92</b></p>
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="javascript:void(0);" class="btn btn-cart w100p">придбати зараз</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                show: false,
            }
        },
        methods:{
            openMenu: function()
            {
                this.show = !this.show;
            },
            documentClick(e){
                var el = this.$refs.dropdownMenu;
                var target = e.target;
                if ( el !== target && !el.contains(target))
                {
                    this.show = false;
                }
            }
        },
        created () {
            document.addEventListener('click', this.documentClick)
        },
        destroyed () {
            document.removeEventListener('click', this.documentClick)
        },
        mounted(){
            var vm = this;
        }
    }
</script>