<template>
    <div id="block-login" class="block">
        <div class="lg">
            <a href="javascript:void(0);" v-on:click="openPopUp"><i class="ico-login"></i>{{ $t('loginBlock.register') }}</a>
        </div> 
    </div> 
</template> 

<script>
    import { EventBus } from '../event-bus.js';
    import ModalLogin from '../blocks/ModalLogin.vue';

    export default {
        data(){
            return {
            }  
        },
        methods:{
            openPopUp: function()
            {
                $('body').append('<div id="modal-container"></div>').hide().fadeIn(500);
                var mod = new Vue({
                    el: '#modal-container',
                    i18n: this.$i18n,
                    render: h => h(ModalLogin) 
                });
            },
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted BlockLogin.');
        }
    }
</script>