<template>
    <div class="dropdown" id="change-lang"> 
        <a data-toggle="dropdown" href="javascript:void(0);" class="current"><i v-bind:class="flag[currentFlag]"></i>{{ name[currentFlag] }}</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="javascript:void(0);" v-if="$locale.current() !== 'en'" v-on:click="changeLang('en')"><i class="ico-eng"></i> eng</a></li>
            <li><a href="javascript:void(0);" v-if="$locale.current() !== 'ru'" v-on:click="changeLang('ru')"><i class="ico-rus"></i> рус</a></li>
            <li><a href="javascript:void(0);" v-if="$locale.current() !== 'uk'" v-on:click="changeLang('uk')"><i class="ico-ukr"></i> укр</a></li>
        </ul>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    
    export default {
        data(){
            return {
                currentFlag: (localStorage.getItem('currentLang')) ? localStorage.getItem('currentLang') : 'uk',
                flag: {
                    'uk' : 'ico-ukr',
                    'ru' : 'ico-rus',
                    'en' : 'ico-eng',
                },
                name:{
                    'uk' : 'укр',
                    'ru' : 'рус',
                    'en' : 'eng',
                }
            }  
        },
	methods : {
	    changeLang: function(newLang){
		    this.$locale.change(newLang);
            this.currentFlag = newLang;
            localStorage.setItem('currentLang', newLang);
            EventBus.$emit('lang', newLang);
	    }
	}
    }
</script>