<template>
    <transition name="fade">
        <div id="find-with-photo" v-if="open">
            <a href="javascript:void(0);" class="close-f z1001" v-on:click="closeFoto"><i class="ico-close-f"></i></a>
            <div class="container z1001 pr">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h2 class="text-center">{{ $t('shearch.h2') }}</h2>
                        <h3 class="text-center h2-sm m-t-0">{{ $t('shearch.h3') }}</h3>
                        <div class="select-foto">
                            <button class="btn btn-default btn-up" @click="openDialog">{{ $t('shearch.selectFile') }}</button>
                        </div>
                        <drop @drop="dropDialog" v-if="file.length == 0">
                            <div class="upload-drop-zone drag-foto" id="drop-zone" @click="openDialog">
                                <i class="ico-drag-drop"></i>
                                <p>{{ $t('shearch.txt') }}</p>
                            </div>
                        </drop>
                        <drop @drop="dropDialog" v-else>
                            <div @click="openDialog" class="find-foto drag-foto">
                                <div v-if="file.loading" class="analiz-foto">Зачекайте йде аналіз фото...</div>
                                <img :class="[(file.loading) ? 'opa-05' : '']" :src="file.img" class="img-responsive"  alt="Responsive image">
                            </div>
                        </drop>
                        <span class="info">{{ $t('shearch.info') }}</span>
                        <input id="drag-img" class="hidden" name="images" type="file" @change="onFileChange">
                        <!--<div v-if="file.tags" class="foto-poisk-tags">-->
                            <!--<div class="ttl">Виберіть теги для пощуку</div>-->
                            <!--<div class="tags">-->
                                <!--<VuePerfectScrollbar :settings="settings" class="scroll-poisk-tag" ref="scroll">-->
                                    <!--<span @click="selectAll">Всі</span>-->
                                    <!--<template v-for="tag in file.tags">-->
                                        <!--<span>{{ tag.tag }}</span>-->
                                    <!--</template>-->
                                <!--</VuePerfectScrollbar>-->
                            <!--</div>-->
                            <!--<button class="btn btn-poisk-foto w100p" type="button">Шукати</button>-->
                        <!--</div>-->
                    </div>
                </div>
                <find-result></find-result>
            </div>
            <div class="masks" @click="closeFoto"></div>
        </div>
    </transition>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import { Drag, Drop } from 'vue-drag-drop';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';
    Vue.component('drag', Drag);
    Vue.component('drop', Drop);
    Vue.component('find-result', require('../blocks/FindResult.vue'));

    export default {
        components: {
            VuePerfectScrollbar
        },
        props: {
            open: {
                type: Boolean,
                default: false
            },
        },
        data(){
            return {
                file: [],
                lng: this.$locale.current(),
                settings:{
                    suppressScrollX: true,
                }
            }  
        },
        methods:{
            openDialog: function () {
                $('#drag-img').click();
            },
            closeFoto: function()
            {
                this.$emit('onCloseBlock')
            },
            dropDialog: function (data, e) {
                e.preventDefault();
                var files = e.target.files || e.dataTransfer.files;
                this.validImage(files[0]);
            },
            onFileChange: function(e)
            {
                e.preventDefault();
                var files = e.target.files || e.dataTransfer.files;
                this.validImage(files[0]);
            },
            validImage: function (file) {
                var vm = this;
                if(file.size < 1000000)
                {
                    vm.createImage(file);
                }
                else
                {
                    vm.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Слишком большой размер файла - '+file.name,
                    });
                }
                //console.log(file);
            },
            createImage: function (file) {
                var vm = this;
                var reader = new FileReader();
                reader.onload = function (e) {
                    var id = Math.round(new Date().getTime() + (Math.random() * 100));
                    var i = e.target.result;

                    vm.file = {
                        fid: null,
                        id: id,
                        img: i,
                        loading: true,
                        tags: null,
                    };
                    vm.uploadFile(file, id);
                }
                reader.readAsDataURL(file);
            },
            uploadFile: function (file, id) {
                var vm = this;
                var form_data = new FormData();
                form_data.append('image', file);
                form_data.append('folder', 'image_search');
                form_data.append('file_id', id);
                form_data.append('lang', this.lng);
                //
                axios.post('/filem/upload/analize', form_data).then(response => {
                    this.file = {
                        fid: response.data.id,
                        id: response.data.file_id,
                        img: '/uploads/'+response.data.uri+'/'+response.data.filename,
                        loading: false,
                        tags: response.data.tags,
                    };
                    EventBus.$emit('loadTags', response.data);
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Загрузки фото!',
                    });
                });
            },
            selectAll: function () {
//                _.forEach(this.file.tags, function (v) {
//                    console.log(v);
//                });
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            EventBus.$on('lang', function (lang) {
                vm.lng = lang;
            });
        }
    }
</script>

<style lang="scss">
    .scroll-poisk-tag {
        position: relative;
        margin: auto;
        height: 200px;
    }
</style>