<template>
    <div class="foto-find-result">
        <template v-if="Object.keys(items).length">
            <h2>Результати пошуку ({{ items.total }} товарів)</h2>

            <template v-if="rows">
                <VuePerfectScrollbar :settings="settings" class="scroll-poisk-result" ref="scroll">
                    <div class="row" v-for="row in rows">
                        <div class="col-lg-3" v-for="item in row">
                            <tpl-product :item="item"></tpl-product>
                        </div>
                    </div>
                </VuePerfectScrollbar>
            </template>
        </template>
        <div class="find-load" v-if="loadData">Пошук товарів...</div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';
    Vue.component('tpl-product', require('../products/TplModel.vue'));

    export default {
        components: {
            VuePerfectScrollbar
        },
        data(){
            return {
                settings:{
                    suppressScrollX: true,
                },
                tags: [],
                items: [],
                loadData: false,
            }
        },
        methods:{
            getData: function () {
                this.loadData = true;
                axios.get('/api/v1/product/find').then(response => {
                    this.items = response.data;
                    this.loadData = false;
                }).catch(error => {
                    this.loadData = false;
                });
            }
        },
        computed: {
            rows: function () {
                return _.chunk(_.toArray(this.items.data), 4);
            }
        },
        mounted() {
            var vm = this;
            EventBus.$on('loadTags', function (data) {
                vm.tags = data.tags;
                vm.getData();
            });
        }
    }
</script>

<style lang="scss">
    .scroll-poisk-result {
        position: relative;
        margin: auto;
        height: 400px;
    }
</style>