<template>
    <div class="login-pop-up">
        <vue-progress-bar></vue-progress-bar>
        <notifications classes="cp"/>
        <div class="login-pop-mask"></div>
        <div class="close-btn">
            <a href="javascript:void(0);" v-on:click="closePopUp"><i class="ico-close-f"></i></a>
        </div>
        <div class="login-pop-up-cont">
            <div class="container" v-if="currentForm != 'reminder'">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1">
                        <template v-if="currentForm == 'login'">
                            <form-login></form-login>
                        </template>

                        <template v-if="currentForm == 'register'">
                            <form-register></form-register>
                        </template>

                        <template v-if="currentForm == 'forgot'">
                            <form-forgot></form-forgot>
                        </template>
                    </div>
                    <div class="col-lg-1">
                        <div class="v-line"></div>
                    </div>
                    <div class="col-lg-4">
                            <form-social></form-social>
                    </div>
                </div>
            </div><!--.container-->
            <div class="container" v-if="currentForm == 'reminder'">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">

                    </div>
                </div>
            </div><!--.container-->
        </div><!--.login-pop-up-cont-->
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('form-login', require('../forms/FormLogin.vue'));
    Vue.component('form-social', require('../forms/FormSocial.vue'));
    Vue.component('form-register', require('../forms/FormRegister.vue'));
    Vue.component('form-forgot', require('../forms/FormForgot.vue'));

    export default {
        data(){
            return {
                open: true,
                currentForm: 'login',
            }
        },
        methods:{
            openPopUp: function()
            {
                var _this = this;
                this.open = true;
                $('body').addClass('blurBody');
                $('.login-pop-mask').on('click', function(){
                    _this.closePopUp();
                });
            },
            closePopUp: function()
            {
                this.open = false;
                $('.login-pop-up').fadeOut(500, function(){
                    $('body').removeClass('blurBody');
                    $('.login-pop-up').remove();
                });
            },
            setForm: function(form)
            {
                this.currentForm = form;
            }
        },
        mounted() {
            var vm = this;
            this.openPopUp();
            EventBus.$on('setLoginForm', function (data) {
                vm.currentForm = data;
            });
        }
    }
</script>