<template>
    <v-list id="left-menu">

        <v-list-tile href="/">
            <v-list-tile-action>
                <v-icon>web</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Сайт</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-group
                v-for="item in items"
                :key="item.title"
                :prepend-icon="item.action"
                no-action
                v-if="item.items.length"
        >
            <v-list-tile slot="activator">
                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-for="subItem in item.items" :key="subItem.title" :to="subItem.to">
                <v-list-tile-content>
                    <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-icon>{{ subItem.action }}</v-icon>
                </v-list-tile-action>
            </v-list-tile>
        </v-list-group>

        <v-list-tile :to="item.to"  v-else>
            <v-list-tile-action>
                <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

    </v-list>

</template>

<script>
    export default{
        data(){
            return {
                items: [
                    {
                        action: 'library_books',
                        title: 'Товари',
                        items: [
                            { title: 'Тарифи', to: '/admin/products/tariff' },
                            { title: 'Реклама', to: '/admin/products/reklama' },
                        ]
                    },
                    {
                        action: 'bookmarks',
                        title: 'Довідники',
                        to: '/admin/catalog',
                        items: []
                    },
                ],
            }
        }
    }
</script>