<template>
    <div class="tpl-druzi">
        <div class="row">
            <div class="col-lg-2">
                <div class="user-ava-wrp">
                    <button-friend :user="user"></button-friend>
                    <router-link target="_blank" :to="{name: 'user', params:{slug: user.slug}}">
                        <img :src="'/avatar/80x80/'+user.id" :alt="user.fullname" class="img-circle img-responsive avaprofile">
                    </router-link>
                </div>
            </div>
            <div class="col-lg-3 p-l-0">
                <h3>
                    <router-link target="_blank" :to="{name: 'user', params:{slug: user.slug}}">
                        {{ user.fullname }}
                    </router-link>
                </h3>
                <div class="address" v-if="user.address.address">{{ user.address.address }}</div>
                <div class="vid_diyalnosti" v-if="user.vid_diyalnosti">{{ user.vid_diyalnosti[$locale.current()] }}</div>
                <ul class="statistic">
                    <li class="sts"><i class="blk-uniF108"></i> {{ user.views }}</li>
                    <li class="sts"><i class="blk-uniF107"></i> {{ user.likes }}</li>
                    <li class="sts"><i class="blk-uniF106"></i> {{ user.follows }}</li>
                </ul>
            </div>
            <div class="col-lg-7">
                <ul class="last-works" v-if="user.last_works.items.length > 0">
                    <li v-for="item in user.last_works.items">
                        <a href="javascript:void(0);">
                            <img :src="'/fake/image/80x80/'+item.image" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="last">
                        <div class="count">{{ user.last_works.count }}</div>
                        <p>позицій</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.component('button-friend', require('../user/friends/ButtonFriend.vue'));

    export default{
        props:{
            user:{
                type:Object,
                default: null,
            },
            type: String,
        }
    }
</script>