<template>
    <div class="tpl-druzi">
        <div class="row">
            <div class="col-lg-2">
                <div class="user-ava-wrp">
                    <button v-if="!user.is_my_req" type="button" class="btn btn-ico btn-friend-cancel" v-tooltip="'Видалити запит'" @click="cancel">
                        <i class="models-x-circle"></i>
                    </button>
                    <button v-if="!user.is_my_req" type="button" class="btn btn-ico btn-friend-apply" v-tooltip="'Додати в друзі'" @click="apply">
                        <i class="models-check-circle"></i>
                    </button>
                    <button v-if="user.is_my_req" type="button" class="btn btn-ico btn-friend-removereq" v-tooltip="'Видалити запит'" @click="removereq">
                        <i class="f-sz-24 models-svg-063"><span class="path1"></span> <span class="path2"></span> <span class="path3"></span> <span class="path4"></span> <span class="path5"></span></i>
                    </button>

                    <router-link target="_blank" :to="{name: 'user', params:{slug: user.slug}}">
                        <img :src="'/avatar/80x80/'+user.id" :alt="user.fullname" class="img-circle img-responsive avaprofile">
                    </router-link>
                </div>
            </div>
            <div class="col-lg-3 p-l-0">
                <h3>
                    <router-link target="_blank" :to="{name: 'user', params:{slug: user.slug}}">
                        {{ user.fullname }}
                    </router-link>
                </h3>
                <div class="address" v-if="user.address.address">{{ user.address.address }}</div>
                <div class="vid_diyalnosti" v-if="user.vid_diyalnosti">{{ user.vid_diyalnosti[$locale.current()] }}</div>
                <ul class="statistic">
                    <li class="sts"><i class="blk-uniF108"></i> {{ user.views }}</li>
                    <li class="sts"><i class="blk-uniF107"></i> {{ user.likes }}</li>
                    <li class="sts"><i class="blk-uniF106"></i> {{ user.follows }}</li>
                </ul>
            </div>
            <div class="col-lg-7">
                <ul class="last-works" v-if="user.last_works.items.length > 0">
                    <li v-for="item in user.last_works.items">
                        <a href="javascript:void(0);">
                            <img :src="'/fake/image/80x80/'+item.image" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="last">
                        <div class="count">{{ user.last_works.count }}</div>
                        <p>позицій</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        props:{
            user:{
                type:Object,
                default: null,
            },
        },
        methods: {
            apply: function () {
                axios.post('/api/v1/friends/accept/'+this.user.id).then(response => {
                    this.$notify({
                        type: 'success',
                        title: this.$i18n.t('success'),
                        text: this.user.fullname+ ' Став вашим другом.',
                    });
                });

                this.$emit('apply', this.user);
            },
            cancel: function () {
                axios.post('/api/v1/friends/refuse/'+this.user.id).then(response => {
                });
                this.$emit('cancel', this.user);
            },
            removereq: function () {
                axios.post('/api/v1/friends/removereq/'+this.user.id).then(response => {
                });
                this.$emit('removereq', this.user);
            }
        }
    }
</script>