<template>
    <div class="tpl-gallery" v-on:mouseover="onMouseover" v-on:mouseleave="onMouseleave"> 
        <div class="tpl-left">
            <ul class="infos">
                <li><div class="ic">{{ item.scale }}</div></li>  
                <li><div class="ic">{{ item.downloads }}<br> <i class="blk-uniF105"></i></div></li>
                <li><div class="ic">{{ item.comments }}<br> <i aria-hidden="true" class="fa fa-comment-o"></i></div></li>
                <li><div class="ic">{{ item.views }}<br> <i class="blk-uniF108"></i></div></li>
                <li><div class="ic">{{ item.likes }}<br> <i class="blk-uniF107"></i></div></li>
            </ul> 
        </div>
        <div class="tpl-rigth"> 
            <div class="user">  
                <router-link :to="item.user.link" class="ava">
                    <img :src="item.user.avatar" class="img-circle img-responsive">
                </router-link>
            </div>
            <div class="line"></div>
            <img :src="item.img" class="img-responsive item-img">
        </div> 
        <div class="clearfix"></div>
        <div class="captions">
            <div class="captions-left">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.category }}</h4> 
            </div>
            <div class="captions-rigth">
                
            </div>
        </div>
        <div class="to-gallery anim" v-bind:class="hover">  
            <a href="javascript:void(0);" class="btn btn-shop">Галерея автора <i class="blk-uniF101"></i></a>
        </div> 
        <div class="clearfix"></div>  
    </div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
        data(){
            return {
                hover: 'unvis',
            }  
        },
        methods: {
            onMouseover: function()
            {
                this.hover = 'lightSpeedIn';
            },
            onMouseleave: function()
            {
                this.hover = 'lightSpeedOut';
            }
        }
    }
</script>