<template>
    <div class="tpl-message-block">
        <div class="row">
            <div class="col-lg-2" @click="openMsg(item)">
                <img :src="'/avatar/40x40/'+item.user.id" class="img-circle">
                <span v-if="item.countNew > 0" class="badge countNew">{{ item.countNew }}</span>
            </div>
            <div class="col-lg-10" @click="openMsg(item)">
                <div class="message_inside">
                    <div class="message_head">
                        <div class="message_from">{{ item.user.name }}</div>
                    </div>
                    <div class="message_wrap">
                        <div class="message_text" v-if="item.message == 'start_msg'">{{ $t('start_msg') }}</div>
                        <div class="message_text" v-else-if="item.message == 'send_msg'">{{ $t('send_msg') }}</div>
                        <div class="message_text" v-else>{{ item.message | striphtml }}</div>
                        <div class="created-at">{{ item.created_at }}</div>
                    </div>
                </div> <!---->
            </div>
            <!--<div class="col-lg-2 text-right">-->
                <!--<div class="settings">-->
                    <!--<div @click="read(item)" class="fa fa-thumb-tack cupoint" v-tooltip="$t('to_mark_as_read')" aria-hidden="true"></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
        methods:{
            openMsg: function (item) {
                this.$emit('closeBlock');
                this.$router.push({name: 'message.id', params: {id: item.id}});
            }
        }
    }
</script>