<template>
    <div class="tpl-notifications">
        <div class="row">
            <div class="col-lg-2">
                <router-link :to="item.user.link" class="ava" target="_blank">
                    <img :src="item.user.avatar" class="img-circle img-responsive">
                </router-link>
            </div>
            <div class="col-lg-8">
                <p class="txt"><b>
                    <span v-if="item.status == 0" class="new-notify" v-tooltip="{content: $t('new'), classes:['new-notify-t']}"></span>
                    <router-link :to="item.user.link" target="_blank">{{ item.user.name }}</router-link></b> {{ $t(item.message) }}
                </p>
                <div class="created">{{ item.created_at }}</div>
            </div>
            <div class="col-lg-2 text-right">
                <div class="settings">
                    <div @click="read(item)" class="fa fa-thumb-tack cupoint" v-tooltip="$t('to_mark_as_read')" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
        methods:{
            read: function (item) {
                axios.post('/api/v1/notifi/'+item.id+'/read').then(response => {
                    EventBus.$emit('readNotifi', response.data);
                }).catch(error => {

                });
            },
        }
    }
</script>