<template>
    <div class="tpl-notifications">
        <div class="row">
            <div class="col-lg-2">
                <router-link :to="item.user.link" class="ava">
                    <img :src="item.user.avatar" class="img-circle img-responsive">
                </router-link>
            </div>
            <div class="col-lg-8">
                <p class="txt"><b><router-link :to="item.user.link">{{ item.user.name }}</router-link></b> {{ item.text }}</p>
                <div class="created">{{ item.created_at }}</div>
            </div>
            <div class="col-lg-2">
                <div class="type" v-if="item.type.name == 'work'">
                    <a class="work" href="item.type.link">
                        <img :src="item.type.src" class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="type" v-if="item.type.name == 'gallery'">
                    <a class="gallery" href="item.type.link">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
    }
</script>