<template>
    <div class="tpl-friend-req-list">
        <div class="row">
            <div class="col-lg-2">
                <router-link :to="item.user.link" class="ava" target="_blank">
                    <img :src="'/avatar/40x40/'+item.user.id" class="img-circle">
                </router-link>
            </div>
            <div class="col-lg-8">
                <div class="message_inside">
                    <div class="message_head">
                        <div class="message_from">
                            <span v-if="item.status == 0" class="new-notify" v-tooltip="{content: $t('new'), classes:['new-notify-t']}"></span>
                            {{ item.user.name }}
                        </div>
                    </div>
                    <div class="message_wrap cupoint" v-if="item.message == 'notifi_1'" @click="goToReq">
                        <div class="message_text">{{ $t(item.message) }}</div>
                        <div class="created">{{ item.created_at }}</div>
                    </div>
                    <div class="message_wrap" v-else>
                        <div class="message_text">{{ $t(item.message) }}</div>
                        <div class="created">{{ item.created_at }}</div>
                    </div>
                </div> <!---->
            </div>
            <div class="col-lg-2 text-right">
                <div class="settings">
                    <div @click="read(item)" class="fa fa-thumb-tack cupoint" v-tooltip="$t('to_mark_as_read')" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
        methods:{
            read: function (item) {
                axios.post('/api/v1/notifi/'+item.id+'/read').then(response => {
                    EventBus.$emit('readNotifi', response.data);
                }).catch(error => {

                });
            },
            refuse: function (item) {
                axios.post('/api/v1/friends/refuse/'+item.request.id).then(response => {
                    EventBus.$emit('readNotifi', response.data.countNew);
                    item.request.status = 2;
                }).catch(error => {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: this.$i18n.t(error.response.data),
                    });
                });
            },
            accept: function (item) {
                axios.post('/api/v1/friends/accept/'+item.request.id).then(response => {
                    EventBus.$emit('readNotifi', response.data.countNew);
                    item.request.status = 1;
                }).catch(error => {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: this.$i18n.t(error.response.data),
                    });
                });
            },
            goToReq: function () {
                this.$router.push({name: 'friends.request'});
                this.$emit('close');
            }
        }
    }
</script>