<template>
    <div class="tpl-tema"> 
        <div class="row">
            <div class="col-lg-8">
                <div class="created">додано {{ item.created }}</div>
            </div> 
            <div class="col-lg-4">
                <div class="comments"> 
                    <i aria-hidden="true" class="fa fa-comment-o"></i> {{ item.comments }}
                </div> 
            </div>
        </div>
        <div class="img">
            <div class="user">  
                <router-link :to="item.user.link" class="ava">
                    <img :src="item.user.avatar" class="img-circle img-responsive">
                </router-link> 
            </div>
            <a href="javascript:void(0);">
                <img :src="item.img" class="img-responsive">
            </a>
        </div>
        <h3><a href="javascript:void(0);">{{ item.name }}</a></h3> 
        <div class="text">{{ item.text }}</div>
        <div class="category">
            <a href="javascript:void(0);" v-for="category in item.category">{{ category }}</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
    }
</script>