<template>
    <div class="m-ms">
        <nav id="menu-message" class="l-menu" :class="'lang-'+$t('lang')">
            <b class="btn btn-shop w100p m-b-30" @click="newMessage">Написати</b>
            <ul>
                <template v-if="items" v-for="item in items">
                    <template v-if="item.slug">
                        <li>
                            <router-link :to="{name: 'message.category', params:{slug: item.slug}}">
                                <template v-if="item.translate">
                                    <span>{{ $t(item.name) }} <template v-if="item.count">({{ item.count }})</template></span>
                                </template>
                                <template v-else>
                                    <span>{{ item.name }} <template v-if="item.count">({{ item.count }})</template></span>
                                </template>
                            </router-link>

                            <div class="settings-link dropdown" v-if="item.rm">
                                <button type="button"  id="dropdown-settings" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" role="menu" aria-labelledby="dropdown-settings">
                                    <div class="lnk" @click="editItem(item)">Редагувати</div>
                                    <div class="lnk" @click="remove(item)">Видалити</div>
                                </div>
                            </div>

                        </li>
                    </template>
                    <template v-else>
                        <li><router-link to="/profile/message"><span>{{ $t(item.name) }} <template v-if="item.count">({{ item.count }})</template></span></router-link></li>
                    </template>

                </template>
            </ul>
            <a href="javascript:void(0);" @click="open = !open"><b>+ {{ $t('to_create_the_folder') }}</b></a>
        </nav>
        <modal v-if="open" @close="open = false" :name="'form-create-category'">
            <b slot="header">{{ (Object.keys(edit).length) ? $t('to_edit_the_folder') : $t('to_create_the_folder') }}</b>
            <div slot="body">
                <form-create-category :edit="edit"></form-create-category>
            </div>
        </modal>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    Vue.component('form-create-category', require('../../forms/FormCreateMessageCategory.vue'));

    export default {
        data(){
            return {
                open: false,
                items: [],
                visible: false,
                edit: [],
            }
        },
        watch:{
            '$route': 'getData',
        },
        methods: {
            getData: function () {
                axios.get('/api/v1/message/category/my').then(response => {
                    this.items = response.data;
                }).catch(error => {

                });
//                //
//                this.$echo.channel('friendReq.'+this.$auth.getUser().id).listen('.Modules.User.Events.FriendReq', (payload) => {
//                    this.count.req = payload.data.countNew;
//                });
//                //
//                this.$echo.channel('myFriend.'+this.$auth.getUser().id).listen('.Modules.User.Events.MyFriendEvent', (payload) => {
//                    this.count.all = payload.data.countNew;
//                });
            },
            editItem: function (item) {
                this.edit = item;
                this.open = true;
            },
            remove: function (item) {
                axios.delete('/api/v1/message/category/'+item.id);
                this.items = _.remove(this.items, function(n) {
                    return n.id !== item.id;
                });
            },
            newMessage: function () {
                EventBus.$emit('newMessage');
            }
        },
        mounted() {
            var vm = this;
            this.getData();
            //
            EventBus.$on('createMessageCategory', function (data) {
                vm.open = false;
                vm.items.push(data);
            });
            //
            EventBus.$on('updateMessageCategory', function (data) {
                _.forEach(vm.items, function (v, i) {
                    if(v.id == data.id)
                    {
                        vm.items[i] = data;
                    }
                })
                vm.open = false;
            });
            //
            EventBus.$on('closeModal', function () {
                vm.edit = [];
            });
            //
            this.$echo.channel('newMessage.'+this.$auth.getUser().id).listen('.Modules.Message.Events.NewMessageEvent', (payload) => {
                vm.items[0].count = payload.inbox.countNew;
            });
        }
    }
</script>