<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" v-if="Object.keys(items).length">
                    <div class="row" v-if="items.data.length">

                        <div class="msg-t" :class="[(openItem) ? 'col-lg-4' : 'col-lg-12']">
                            <ul class="message-list">
                                <li v-for="item in items.data" :class="[(openItem) ? 'open' : '']" @click="openMsg(item)">
                                    <div class="row">
                                        <div class="col-lg-1 text-center p-r-0">
                                            <img :src="'/avatar/40x40/'+item.user.id" alt="" class="img-circle">
                                            <span v-if="item.countNew > 0" class="badge countNew">{{ item.countNew }}</span>
                                        </div>
                                        <div class="col-lg-11">
                                            <div class="msg-in">
                                                <div class="header-msg row">
                                                    <div class="col-lg-6">
                                                        <div class="username">{{ item.user.name }}</div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="date">{{ item.created_at }}</div>
                                                    </div>
                                                </div>
                                                <div class="subject-msg">
                                                    <div class="message text-muted" v-if="item.message == 'start_msg'">{{ $t('start_msg') }}</div>
                                                    <div class="message text-muted" v-else-if="item.message == 'send_msg'">{{ $t('send_msg') }}</div>
                                                    <div class="message text-muted" v-else>{{ item.message | striphtml }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-8 msg-t" v-if="openItem">
                            <message @closeMsg="closeMsg"></message>
                        </div>
                    </div>
                    <p class="bg-warning p-15" v-if="items.data.length == 0">Повідомлення відсутні.</p>
                </div>
            </div> 
        </div>
        <form-new-message></form-new-message>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';

    Vue.component('form-new-message', require('../../forms/FormNewMessage.vue'));
    Vue.component('message', require('../../messages/Message.vue'));

    export default {
        components: {
            VuePerfectScrollbar
        },
        data(){
            return {
                items: [],
                openItem: null,
                oldItem: null,
                load: false,
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/message/get/messages').then(response => {
                    this.items = response.data;
                    this.readChanel();
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();

                });
            },
            openMsg: function (item) {
                var vm = this;
                if(this.oldItem)
                {
                    this.$echo.leave('message.'+this.oldItem);
                }
                this.oldItem = this.openItem;
                this.openItem = item.id;
                this.$router.push({name: 'message.id', params: {id: item.id}});
            },
            closeMsg: function () {
                this.openItem = null;
            },
            getOpen: function () {
                if(this.oldItem)
                {
                    this.$echo.leave('message.'+this.oldItem);
                }
            },
            readChanel: function () {
                var vm = this;
                this.$echo.channel('messages.'+this.$auth.getUser().id).listen('.Modules.Message.Events.UpdateMessageListEvent', (payload) => {
                    vm.items = payload.list;
                });
            }
        },
        watch:{
            '$route': 'getOpen',
        },
        mounted() {
            var vm = this;
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
            //
            if(Object.keys(this.$route.params).length)
            {
                this.openItem = parseInt(this.$route.params.id);
            }
        }
    }
</script>
