<template>
    <v-container grid-list-lg>
        <v-layout row wrap>
            <template v-for="item in items">
                <v-flex lg12>
                    <v-card flat class="elevation-3">
                        <v-card-title>
                            <div class="headline">
                                Топ-оголошення
                            </div>
                            <v-spacer></v-spacer>
                            <v-menu bottom left>
                                <v-btn icon slot="activator">
                                    <v-icon>more_vert</v-icon>
                                </v-btn>
                                <v-list>
                                    <v-list-tile @click="edit(item)">
                                        <v-list-tile-title><v-icon>edit</v-icon> Редагувати</v-list-tile-title>
                                    </v-list-tile>

                                    <v-list-tile @click="setActive(item, 1)" v-if="item.status == 0">
                                        <v-list-tile-title><v-icon>alarm_on</v-icon> Активувати</v-list-tile-title>
                                    </v-list-tile>

                                    <v-list-tile @click="setActive(item, 0)" v-if="item.status == 1">
                                        <v-list-tile-title><v-icon>alarm_off</v-icon> Не активний</v-list-tile-title>
                                    </v-list-tile>

                                    <v-list-tile @click="remove(item)">
                                        <v-list-tile-title><v-icon>delete</v-icon>Видалити</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                            </v-menu>
                        </v-card-title>
                        <v-card-text>
                            <template v-for="top in item.tops">
                                <v-chip color="green" text-color="white">
                                    <v-avatar class="green darken-4">{{ top.day }}</v-avatar>днів, {{ top.pix }} pix
                                </v-chip>
                            </template>
                            <v-divider></v-divider>
                            <p class="text-lg-right">{{ status[item.status] }}</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </template>

        </v-layout>
    </v-container>
</template>

<script>
    export default{
        props:{
            items:{
                type:[Array, Object],
                default: null,
            }
        },
        data(){
            return{
                status:{
                    0: 'Не активний',
                    1: 'Активний',
                }
            }
        },
        methods:{
            setActive: function (item, val) {
                item.status = val;
                axios.post('/api/admin/product/reklama/activate/'+item._id, {status: val});
            },
            edit: function (item) {
                this.event.$emit('openReklamaTopForm', 'put', item);
            },
            remove: function (item) {
                this.event.$emit('progress1', true);
                axios.delete('/api/admin/product/reklama/'+item._id).then(response => {
                    this.$emit('reload');
                    this.event.$emit('progress1', false);
                });
            }
        }
    }
</script>