<template>
    <v-container grid-list-lg>
        <v-layout row wrap>
            <template v-for="item in items">
                <v-flex lg3>
                    <v-card flat class="elevation-3">
                        <v-card-title>
                            <div class="headline">{{ item.name.uk }}</div>
                            <v-spacer></v-spacer>
                            <v-menu bottom left>
                                <v-btn icon slot="activator">
                                    <v-icon>more_vert</v-icon>
                                </v-btn>
                                <v-list>
                                    <v-list-tile @click="edit(item)">
                                        <v-list-tile-title><v-icon>edit</v-icon> Редагувати</v-list-tile-title>
                                    </v-list-tile>

                                    <v-list-tile @click="setActive(item, 1)" v-if="item.status == 0">
                                        <v-list-tile-title><v-icon>alarm_on</v-icon> Активувати</v-list-tile-title>
                                    </v-list-tile>

                                    <v-list-tile @click="setActive(item, 0)" v-if="item.status == 1">
                                        <v-list-tile-title><v-icon>alarm_off</v-icon> Не активний</v-list-tile-title>
                                    </v-list-tile>

                                    <v-list-tile @click="remove(item)">
                                        <v-list-tile-title><v-icon>delete</v-icon>Видалити</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                            </v-menu>
                        </v-card-title>
                        <v-card-text>
                            <p>Топ-оголошення на <b>{{ item.rotation }}</b> днів днів в пошуку і категорії</p>
                            <v-divider></v-divider>
                            <p><b>{{ item.top }}</b> дні ротація в головному меню</p>
                            <v-divider></v-divider>
                            <h3>{{ item.pix }} pix</h3>
                            <v-divider></v-divider>
                            <p class="text-lg-right">{{ status[item.status] }}</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </template>

        </v-layout>
    </v-container>
</template>

<script>
    export default{
        props:{
            items:{
                type:[Array, Object],
                default: null,
            }
        },
        data(){
          return{
              status:{
                  0: 'Не активний',
                  1: 'Активний',
              }
          }
        },
        methods:{
            setActive: function (item, val) {
                item.status = val;
                axios.post('/api/admin/product/reklama/activate/'+item._id, {status: val});
            },
            edit: function (item) {
                this.event.$emit('openReklamaForm', 'put', item);
            },
            remove: function (item) {
                this.event.$emit('progress1', true);
                axios.delete('/api/admin/product/reklama/'+item._id).then(response => {
                    this.$emit('reload');
                    this.event.$emit('progress1', false);
                });
            }
        }
    }
</script>