<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                    <v-layout wrap>

                        <v-flex lg12>
                            <v-select
                                    :items="categoris"
                                    v-model="form.category"
                                    label="Категорія"
                                    single-line
                                    required
                                    :rules="rules.category"
                            ></v-select>
                        </v-flex>


                        <v-flex :class="[(vid == 'sng') ? 'lg4' : 'lg6']">
                            <v-text-field v-model="form.amount" :rules="rules.amount" label="Вартість" prefix="$" required></v-text-field>
                        </v-flex>

                        <v-flex lg4 v-if="vid == 'sng'">
                            <v-text-field v-model="form.amount_sng" :rules="rules.amount_sng" label="Вартість для СНГ" prefix="$" required></v-text-field>
                        </v-flex>

                        <v-flex :class="[(vid == 'sng') ? 'lg4' : 'lg6']">
                            <v-text-field v-model="form.persent" :rules="rules.persent" label="Відсоток на руки" suffix="%" required></v-text-field>
                        </v-flex>



                        <v-flex lg6>
                            <v-text-field v-model="form.pix" :rules="rules.pix" label="pix" suffix="pix" required></v-text-field>
                        </v-flex>

                        <v-flex lg6>
                            <v-text-field v-model="form.rate" :rules="rules.rate" label="rate" suffix="rate" required></v-text-field>
                        </v-flex>

                    </v-layout>
                    </v-container>


                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="$emit('close')">Закрити</v-btn>
                    <v-btn color="teal" flat @click="submit">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
    export default{
        props:{
            dialog: {
                type:Boolean,
                default: false,
            },
            edit: {
                type:[Array, Object],
                default: null,
            },
            method: {
                type:[String],
                default: 'post',
            },
            vid: {
                type:[String],
                default: 'world',
            },
        },
        data(){
            return{
                valid: false,
                title: 'Додати тариф',
                categoris: ['free', 'mini', 'midi', 'maxi', 'super', 'ultra'],
                form:{
                    vid: this.vid,
                    category: null,
                    amount: null,
                    amount_sng: null,
                    persent: null,
                    pix: null,
                    rate: null,
                },
                rules:{
                    category: [v => !!v || "обовя'зково"],
                    amount: [v => !!v || "обовя'зково"],
                    amount_sng: [v => !!v || "обовя'зково"],
                    persent: [v => !!v || "обовя'зково"],
                    pix: [v => !!v || "обовя'зково"],
                    rate: [v => !!v || "обовя'зково"],
                }

            }
        },
        watch:{
            vid: function (data) {
                this.form.vid = data;
            },
            edit: function (data) {
                if(Object.keys(data).length)
                {
                    this.form = data;
                    this.title = 'Редагувати тариф';
                }
                else {
                    this.title = 'Додати тариф';
                }
            }
        },
        methods:{
            submit: function () {
                if (this.$refs.form.validate()) {

                    if(this.method == 'post')
                    {
                        axios.post('/api/admin/product/tariff', this.form).then(response => {
                            this.$emit('reload');
                            this.$emit('close');
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                    if(this.method == 'put')
                    {
                        axios.put('/api/admin/product/tariff/'+this.form._id, this.form).then(response => {
                            this.$emit('reload');
                            this.$emit('close');
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                }
            },
            clearForm: function () {
                this.form = {
                    vid: this.vid,
                    category: null,
                    amount: null,
                    persent: null,
                    pix: null,
                    rate: null,
                };
                this.$refs.form.reset();
            }
        }
    }
</script>