<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex lg6>
                                <v-text-field v-model="form.rotation" :rules="[v => !!v || 'обовязково']" label="днів" suffix="днів" required></v-text-field>
                            </v-flex>

                            <v-flex lg6>
                                <v-text-field v-model="form.pix" :rules="[v => !!v || 'обовязково']" label="pix" suffix="pix" required></v-text-field>
                            </v-flex>

                        </v-layout>
                    </v-container>


                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="closeForm">Закрити</v-btn>
                    <v-btn color="teal" flat @click="submit">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
    export default{
        data(){
            return{
                dialog: false,
                valid: false,
                title: 'Додати блок',
                method: 'post',
                form:{
                    type:'rotation',
                    rotation: null,
                    pix: null,
                }
            }
        },
        methods:{
            submit: function () {
                if (this.$refs.form.validate()) {

                    if(this.method == 'post')
                    {
                        axios.post('/api/admin/product/reklama', this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                    if(this.method == 'put')
                    {
                        axios.put('/api/admin/product/reklama/'+this.form._id, this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                }
            },
            clearForm: function () {
                this.form = {
                    type:'rotation',
                    rotation: null,
                    pix:null,
                };
                this.$refs.form.reset();
            },
            closeForm: function () {
                this.dialog = false;
            }
        },
        mounted(){
            var vm =this;
            //
            this.event.$on('openReklamaRotationForm', function (method, item = null) {
                vm.method = method;
                vm.dialog = true;
                if(item)
                {
                    vm.form = item;
                }
                if(vm.method == 'post')
                {
                    vm.clearForm();
                }
            });
        }
    }
</script>