<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <template v-for="(item, k) in form.tops">
                            <template v-if="k==0">
                                <v-layout row wrap>
                                    <v-flex lg6>
                                        <v-text-field v-model="item.day" :rules="[v => !!v || 'обовязково']" label="днів" suffix="днів" required></v-text-field>
                                    </v-flex>

                                    <v-flex lg6>
                                        <v-text-field v-model="item.pix" :rules="[v => !!v || 'обовязково']" label="pix" suffix="pix" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </template>
                            <template v-else>
                                <v-layout row wrap>
                                    <v-flex lg6>
                                        <v-text-field v-model="item.day" :rules="[v => !!v || 'обовязково']" label="днів" suffix="днів" required></v-text-field>
                                    </v-flex>

                                    <v-flex lg5>
                                        <v-text-field v-model="item.pix" :rules="[v => !!v || 'обовязково']" label="pix" suffix="pix" required></v-text-field>
                                    </v-flex>
                                    <v-flex lg1>
                                        <v-btn fab dark small color="red" @click="removeField(k)">
                                            <v-icon dark>remove</v-icon>
                                        </v-btn>
                                    </v-flex>

                                </v-layout>
                            </template>
                        </template>
                        <v-layout row wrap>
                            <v-flex lg1 offset-lg11>
                                <v-btn fab dark small color="green" @click="addField">
                                    <v-icon dark>add</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="closeForm">Закрити</v-btn>
                    <v-btn color="teal" flat @click="submit">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
    export default{
        data(){
            return{
                dialog: false,
                valid: false,
                title: 'Додати блок',
                method: 'post',
                form:{
                    type:'top',
                    tops:[
                        {
                            day: null,
                            pix: null,
                        }
                    ],
                }
            }
        },
        methods:{
            submit: function () {
                if (this.$refs.form.validate()) {

                    if(this.method == 'post')
                    {
                        axios.post('/api/admin/product/reklama', this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                    if(this.method == 'put')
                    {
                        axios.put('/api/admin/product/reklama/'+this.form._id, this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                }
            },
            clearForm: function () {
                this.form = {
                    type:'top',
                    tops:[
                        {
                            day: null,
                            pix: null,
                        }
                    ]
                };
                this.$refs.form.reset();
            },
            closeForm: function () {
                this.dialog = false;
            },
            addField: function () {
                this.form.tops.push({
                    day: null,
                    pix: null,
                });
            },
            removeField: function (k) {
                this.form.tops.splice(k, 1);
            }
        },
        mounted(){
            var vm =this;
            //
            this.event.$on('openReklamaTopForm', function (method, item = null) {
                vm.method = method;
                vm.dialog = true;
                if(item)
                {
                    vm.form = item;
                }
                if(vm.method == 'post')
                {
                    vm.clearForm();
                }
            });
        }
    }
</script>