<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card>
                <v-card-title class="pb-0">
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text class="pt-0">
                    <v-tabs color="grey lighten-3">
                        <v-tab>EN</v-tab>
                        <v-tab>UK</v-tab>
                        <v-tab>RU</v-tab>
                        <v-tab-item>
                            <v-container grid-list-md class="py-0">
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.name.en" :rules="[v => !!v || 'обовязково']" label="Назва" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="form.top" :rules="[v => !!v || 'обовязково']" label="Топ днів" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="form.rotation" :rules="[v => !!v || 'обовязково']" label="Ротація днів" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.pix" :rules="[v => !!v || 'обовязково']" label="PIX" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.description.en" :rules="[v => !!v || 'обовязково']" label="Опис" required multi-line></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item>
                            <v-container grid-list-md class="py-0">
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.name.uk" :rules="[v => !!v || 'обовязково']" label="Назва" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="form.top" :rules="[v => !!v || 'обовязково']" label="Топ днів" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="form.rotation" :rules="[v => !!v || 'обовязково']" label="Ротація днів" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.pix" :rules="[v => !!v || 'обовязково']" label="PIX" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.description.uk" :rules="[v => !!v || 'обовязково']" label="Опис" required multi-line></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item>
                            <v-container grid-list-md class="py-0">
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.name.ru" :rules="[v => !!v || 'обовязково']" label="Назва" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="form.top" :rules="[v => !!v || 'обовязково']" label="Топ днів" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="form.rotation" :rules="[v => !!v || 'обовязково']" label="Ротація днів" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.pix" :rules="[v => !!v || 'обовязково']" label="PIX" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="form.description.ru" :rules="[v => !!v || 'обовязково']" label="Опис" required multi-line></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                    </v-tabs>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="closeForm">Закрити</v-btn>
                    <v-btn color="teal" flat @click="submit">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
    export default{
        data(){
            return{
                dialog: false,
                valid: false,
                title: 'Додати блок',
                method: 'post',
                form:{
                    type:'block',
                    name:{
                        en:null,
                        uk:null,
                        ru:null,
                    },
                    top: null,
                    rotation: null,
                    pix:null,
                    description:{
                        en:null,
                        uk:null,
                        ru:null,
                    }
                },
            }
        },
        watch:{

        },
        methods:{
            submit: function () {
                if (this.$refs.form.validate()) {

                    if(this.method == 'post')
                    {
                        axios.post('/api/admin/product/reklama', this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                    if(this.method == 'put')
                    {
                        axios.put('/api/admin/product/reklama/'+this.form._id, this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {

                        });
                    }
                }
            },
            clearForm: function () {
                this.form = {
                    type:'block',
                        name:{
                        en:null,
                            uk:null,
                            ru:null,
                    },
                    top: null,
                        rotation: null,
                        pix:null,
                        description:{
                        en:null,
                            uk:null,
                            ru:null,
                    }
                };
                this.$refs.form.reset();
            },
            closeForm: function () {
                this.dialog = false;
                //this.$refs.form.reset();
            }
        },
        mounted(){
            var vm =this;
            //
            this.event.$on('openReklamaForm', function (method, item = null) {
                vm.method = method;
                vm.dialog = true;
                if(item)
                {
                    vm.form = item;
                }

                if(vm.method == 'post')
                {
                    vm.clearForm();
                }

            });
        }
    }
</script>