<template>
    <v-container grid-list-xl>
        <v-layout row wrap>
            <template v-if="items">
                <template v-for="item in items">
                    <v-flex lg3>
                        <v-card class="card-tariff" :class="['card-tariff-'+item.category, 'status-'+item.status]">
                            <v-card-title>
                                <div class="headline">{{ item.category }}</div>
                                <v-spacer></v-spacer>
                                <v-menu bottom left>
                                    <v-btn icon slot="activator" :class="[(item.category == 'free') ? 'theme--white' : 'theme--dark']">
                                        <v-icon>more_vert</v-icon>
                                    </v-btn>
                                    <v-list>
                                        <v-list-tile @click="edit(item)">
                                            <v-list-tile-title><v-icon>edit</v-icon> Редагувати</v-list-tile-title>
                                        </v-list-tile>

                                        <v-list-tile @click="setActive(item, 1)" v-if="item.status == 0">
                                            <v-list-tile-title><v-icon>alarm_on</v-icon> Активувати</v-list-tile-title>
                                        </v-list-tile>

                                        <v-list-tile @click="setActive(item, 0)" v-if="item.status == 1">
                                            <v-list-tile-title><v-icon>alarm_off</v-icon> Не активний</v-list-tile-title>
                                        </v-list-tile>

                                        <v-list-tile @click="">
                                            <v-list-tile-title><v-icon>delete</v-icon>Видалити</v-list-tile-title>
                                        </v-list-tile>
                                    </v-list>
                                </v-menu>
                            </v-card-title>
                            <v-card-text>
                                <div>Вартість: ${{ item.amount }}</div>
                                <div v-if="item.vid == 'sng'">Вартість для СНГ: ${{ item.amount_sng }}</div>
                                <div>Відсоток на руки: {{ item.persent }}%</div>
                                <div>pix: {{ item.pix }}</div>
                                <div>rate: {{ item.rate }}</div>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </template>
            </template>
        </v-layout>
    </v-container>
</template>

<script>
    export default{
        props:{
            items:{
                type:[Array, Object],
                default: null,
            }
        },
        methods:{
            setActive: function (item, val) {
                item.status = val;
                axios.post('/api/admin/product/tariff/activate/'+item._id, {status: val});
            },
            edit: function (item) {
                this.event.$emit('editTariffProduct', item);
            }
        }
    }
</script>

