<template>
    <div class="page">
        <v-toolbar color="teal lighten-3" height="50" dark flat>
            <v-menu>
                <v-btn small fab dark color="teal" slot="activator">
                    <v-icon dark>add</v-icon>
                </v-btn>
                <v-list>
                    <v-list-tile @click="openReklamaForm">
                        <v-list-tile-title>Блок реклами</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="openReklamaRotationForm">
                        <v-list-tile-title>Варіант ротації</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="openReklamaTopForm">
                        <v-list-tile-title>Варіант топ</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <v-spacer></v-spacer>
            <v-toolbar-title>Блоки реклами товару</v-toolbar-title>
        </v-toolbar>

        <block-reklama :items="items.blocks" @reload="getData"></block-reklama>
        <block-rotarions :items="items.rotations" @reload="getData"></block-rotarions>
        <block-top :items="items.tops" @reload="getData"></block-top>

        <form-reklama-block @reload="getData"></form-reklama-block>
        <form-reklama-rotation-block @reload="getData"></form-reklama-rotation-block>
        <form-reklama-top-block @reload="getData"></form-reklama-top-block>
    </div>
</template>

<script>
    Vue.component('form-reklama-block', require('../products/FormReklamaBlock.vue'));
    Vue.component('form-reklama-rotation-block', require('../products/FormReklamaRotation.vue'));
    Vue.component('form-reklama-top-block', require('../products/FormReklamaTop.vue'));

    Vue.component('block-reklama', require('../products/BlockReklama.vue'));
    Vue.component('block-rotarions', require('../products/BlockRotations.vue'));
    Vue.component('block-top', require('../products/BlockTop.vue'));

    export default{
        data(){
            return{
                dialog: false,
                items:[],
                edit:[],
                method: 'post',
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            openReklamaForm: function () {
                this.event.$emit('openReklamaForm', 'post');
            },
            openReklamaRotationForm: function () {
                this.event.$emit('openReklamaRotationForm', 'post');
            },
            openReklamaTopForm: function () {
                this.event.$emit('openReklamaTopForm', 'post');
            },
            setVid: function (vid) {
                this.vid = vid;
            },
            getData: function()
            {
                axios.get('/api/admin/product/reklama').then(response => {
                    this.items = response.data;
                }).catch(error => {

                });
            },
        },
        mounted(){
            var vm = this;
            //
        }
    }
</script>

