<template>
    <div class="page">
        <v-toolbar color="teal lighten-3" height="50" dark flat>
            <v-btn small fab dark color="teal" @click.native="openForm">
                <v-icon dark>add</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title>Блоки ціни товару</v-toolbar-title>
        </v-toolbar>

        <v-tabs color="teal lighten-4" fixed-tabs slider-color="pink darken-1">
            <v-tab @click="setVid('world')">Для Світу</v-tab>
            <v-tab @click="setVid('sng')">Для СНГ</v-tab>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <grid-tariff :items="items.world"></grid-tariff>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <grid-tariff :items="items.sng"></grid-tariff>
                    </v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs>
        <form-tariff-world :edit="edit" :method="method" :dialog="dialog" :vid="vid" @close="dialog = false" @reload="getData"></form-tariff-world>
    </div>
</template>

<script>
    Vue.component('form-tariff-world', require('../products/FormTariffWorld.vue'));
    Vue.component('grid-tariff', require('../products/GridProductTariff.vue'));

    export default{
        data(){
            return{
                dialog: false,
                vid: 'world',
                items:[],
                edit:[],
                method: 'post',
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            openForm: function () {
                this.dialog = true;
                this.edit = [];
                this.method = 'post';
            },
            setVid: function (vid) {
                this.vid = vid;
            },
            getData: function()
            {
                axios.get('/api/admin/product/tariff').then(response => {
                    this.items = response.data;
                }).catch(error => {

                });
            },
        },
        mounted(){
            var vm = this;
            //
            this.event.$on('editTariffProduct', function (item) {
                vm.edit = item;
                vm.dialog = true;
                vm.method = 'put';
            });
        }
    }
</script>

