<template>
    <div class="tpl-group"> 
        <div class="in" :class="'in-'+itemkey">
            <div class="bg-group">
                <div class="g-type" :class="'g-type-'+item.group.id"><i :class="item.group.ico"></i><span>{{ item.group.name }}</span></div>
                <div class="g-join" v-if="item.group.id == 2"><i class="models-svg-174"></i><span>Долучитися</span></div>
                <div class="hexagon" :style="{backgroundImage: 'url('+item.img+')'}">
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
            </div>

            <h3 class="h3 text-center">{{ item.name }}</h3> 
            <div class="descr text-center">{{ item.subname }}</div>

            <div class="status-box">
                <ul>
                    <li>
                        <span><i class="models-svg-043"></i> {{ item.views }}</span>
                    </li>
                    <li>
                        <span><i class="models-svg-034"></i> {{ item.likes }}</span>
                    </li>
                    <li>
                        <span>
                            <i class="models-svg-058">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                             </i> {{ item.follows }}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="users">
                <a href="javascript:void(0);" class="ava" v-for="user in item.users">
                    <img :src="user.avatar" :alt="user.name" class="img-circle img-responsive">
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            },
            itemkey: {
                type: Number,
                default: 0,
            }
        },
        data(){
            return {
                
            }  
        },
        methods: {
            
        }
    }
</script>