<template>
    <form v-on:submit="submitForm('submit-form', $event)" id="submit-form"  accept-charset="UTF-8" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">EN</div>
                </div>
                <input v-model="form.name.en" type="text" name="name[en]" class="form-control" placeholder="Name"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">RU</div>
                </div>
                <input v-model="form.name.ru" type="text" name="name[ru]" class="form-control" placeholder="Название"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">UK</div>
                </div>
                <input v-model="form.name.uk" type="text" name="name[uk]" class="form-control" placeholder="Назва"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Class іконки</div>
                </div>
                <input v-model="form.ico" type="text" name="ico" class="form-control" placeholder="іконка"/>
            </div>
        </div>
        <div class="text-right">
            <div class="checkbox-1">
                <input v-model="form.status" :value="1" type="checkbox" name="status" id="status"/>
                <label for="status" class="chbk"></label>
                <label for="status">Активний</label>
            </div>
            <button type="button" class="btn btn-link" @click="closeModal">Закрити</button>
            <button class="btn btn-success" type="submit">Зберегти</button>
        </div>
    </form>
</template>

<script>
    export default {
        props:{
            edit: {
                type: [Array, Object],
                default: null,
            },
            parent_id: {
                type: Number,
                default: null,
            },
        },
        data(){
            return {
                form:{
                    id: null,
                    name: {
                        en: null,
                        ru: null,
                        uk: null,
                    },
                    ico: null,
                    taxonomy_id: this.$route.params.id,
                    parent_id: this.parent_id,
                    status: 1,
                },
                loading: false,
                validate:{
                    rules:{
                        'name[en]': {
                            label: 'Name',
                            required: true,
                        },
                        'name[ru]': {
                            label: 'Название',
                            required: true,
                        },
                        'name[uk]': {
                            label: 'Назва',
                            required: true,
                        },
                    }
                },
            }
        },
        methods:{
            closeModal: function () {
                this.eb.$emit('closeModal');
            },
            submitForm: function (scope, e) {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    this.loading = true;
                    if(Object.keys(this.edit).length)
                    {
                        axios.put('/admin/taxonomy/term/'+this.form.id, this.form).then(response => {
                            this.$notify({
                                type: 'success',
                                title: 'Чудово!',
                                text: 'Елемент оновлено.',
                            });
                            this.eb.$emit('reload');
                            this.loading = false;
                            this.closeModal();
                        }).catch(error => {
                            this.loading = false;
                            this.$msg.errLocale(error, this.$notify, 'Помилка!');
                        });
                    }
                    else
                    {
                        axios.post('/admin/taxonomy/term', this.form).then(response => {
                            this.$notify({
                                type: 'success',
                                title: 'Чудово!',
                                text: 'Елемент створено.',
                            });
                            this.eb.$emit('reload');
                            this.loading = false;
                            this.closeModal();
                        }).catch(error => {
                            this.loading = false;
                            this.$msg.errLocale(error, this.$notify, 'Помилка!');
                        });
                    }
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Помилка!');
                }
            }
        },
        mounted(){
            if(this.edit)
            {
                this.form.id = this.edit.id;
                this.form.name.en = this.edit.name.en;
                this.form.name.ru = this.edit.name.ru;
                this.form.name.uk = this.edit.name.uk;
                this.form.ico = this.edit.ico;
                this.form.taxonomy_id = this.edit.taxonomy_id;
                this.form.parent_id = this.edit.parent_id;
                this.form.status = this.edit.status;
            }
        }
    }
</script>