<template>
    <form v-on:submit="submitForm('submit-form', $event)" id="submit-form"  accept-charset="UTF-8" role="form">
        <div class="form-group">
            <input v-model="form.name" type="text" name="name" class="form-control" placeholder="Назва категорії"/>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-link" @click="closeModal">Закрити</button>
            <button class="btn btn-success" type="submit">Зберегти</button>
        </div>
    </form>
</template>

<script>
    export default {
        props:{
            edit: {
                type: [Array, Object],
                default: null,
            },
        },
        data(){
            return {
                form:{
                    id: null,
                    name: null,
                },
                loading: false,
                validate:{
                    rules:{
                        'name': {
                            label: 'Назва категорії',
                            required: true,
                        },
                    }
                },
            }
        },
        methods:{
            closeModal: function () {
                this.eb.$emit('closeModal');
            },
            submitForm: function (scope, e) {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    this.loading = true;
                    if(Object.keys(this.edit).length)
                    {
                        axios.put('/admin/taxonomy/'+this.form.id, this.form).then(response => {
                            this.$notify({
                                type: 'success',
                                title: 'Чудово!',
                                text: 'Категорія оновлена.',
                            });
                            this.eb.$emit('reload');
                            this.loading = false;
                            this.closeModal();
                        }).catch(error => {
                            this.loading = false;
                            this.$msg.errLocale(error, this.$notify, 'Помилка!');
                        });
                    }
                    else
                    {
                        axios.post('/admin/taxonomy', this.form).then(response => {
                            this.$notify({
                                type: 'success',
                                title: 'Чудово!',
                                text: 'Категорія створена.',
                            });
                            this.eb.$emit('reload');
                            this.loading = false;
                            this.closeModal();
                        }).catch(error => {
                            this.loading = false;
                            this.$msg.errLocale(error, this.$notify, 'Помилка!');
                        });
                    }
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Помилка!');
                }
            }
        },
        mounted(){
            if(this.edit)
            {
                this.form.id = this.edit.id;
                this.form.name = this.edit.name;
            }
        }
    }
</script>