<template>
    <li class="dd-item dd3-item" :data-id="item.id" :class="'st'+item.status">
        <div class="dd-handle dd3-handle">Drag</div>
        <div class="dd3-content">
            <div class="name">{{ item.id }} : {{ item.name.uk }}</div>
            <div class="actions">
                <button type="button" class="btn btn-success btn-rounded btn-sm" @click="addSub(item)">
                    <i class="icon-plus icons f-sz-10"></i>
                </button>
                <button type="button" class="btn btn-info btn-rounded btn-sm" @click="openItem(item)">
                    <i class="icon-pencil icons f-sz-10"></i>
                </button>
                <button-delete :link="'/admin/taxonomy/term/'+item.id"></button-delete>
            </div>
        </div>
        <ol class="dd-list">
            <template v-for="cild in item.children">
                <list :item="cild" ></list>
            </template>
        </ol>
    </li>
</template>



<script>

    Vue.component('list', require('../taxonomy/List.vue'));
    Vue.component('button-delete', require('../buttons/ButtonDelete.vue'));
    export default {
        props:{
            item: {
                type:[Array, Object],
                default: null,
            },
        },
        data(){
            return {
                open: false,
            }
        },
        methods:{
            openItem: function (item) {
                this.eb.$emit('editItem', item);
            },
            addSub: function (item) {
                this.eb.$emit('addItem', item);
            }
        },
        mounted(){
            var vm = this;

        }
    }
</script>