<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col-lg-11">Категорії</div>
                    <div class="col-lg-1 text-right">
                        <button @click="showModal = true" type="button" class="btn btn-success btn-rounded btn-sm">
                            <i class="icon-plus icons f-sz-10"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table-taxonomy :items="items.data"></table-taxonomy>
                <modal v-if="showModal" @close="showModal = false" :bgHeader="'bg-success'" :width="'500px'">
                    <b slot="header">{{ (Object.keys(edit).length) ? 'Редагувати категорію' : 'Додати категорію' }}</b>
                    <form-taxonomy slot="body" :edit="edit"></form-taxonomy>
                </modal>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('table-taxonomy', require('../taxonomy/TableTaxonomy.vue'));
    Vue.component('form-taxonomy', require('../taxonomy/FormTaxonomy.vue'));

    export default {
        data(){
            return {
                items: {
                    data: [],
                },
                showModal: false,
                edit: [],
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            getData: function () {
                this.$Progress.start();
                axios.get('/admin/taxonomy/items/all').then(response => {
                    this.items = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted(){
            var vm = this;
            this.eb.$on('editItem', function (item) {
                vm.edit = item;
                vm.showModal = true;
            });
            //
            this.eb.$on('onCloseModal', function () {
                vm.edit = [];
            });
            //
            this.eb.$on('reload', function () {
                vm.getData();
            });
        }
    }
</script>