<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col-lg-11">{{ category.name }}</div>
                    <div class="col-lg-1 text-right">
                        <button @click="showModal = true" type="button" class="btn btn-success btn-rounded btn-sm">
                            <i class="icon-plus icons f-sz-10"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body" v-if="!loadData">
                <template v-if="Object.keys(items).length">
                    <div class="dd">
                        <ol class="dd-list" id="taxonomy-ul">
                            <template v-for="item in items">
                                <list :item="item"></list>
                            </template>
                        </ol>
                    </div>
                </template>
                <div class="bg-warning p-15" v-else>Немає елементів.</div>
                <modal v-if="showModal" @close="showModal = false" :bgHeader="'bg-success'" :width="'500px'">
                    <b slot="header">{{ (Object.keys(edit).length) ? 'Редагувати елемент' : 'Додати елемент' }}</b>
                    <form-term slot="body" :edit="edit" :parent_id="parent_id"></form-term>
                </modal>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.component('list', require('../taxonomy/List.vue'));
    Vue.component('form-term', require('../taxonomy/FormTerm.vue'));

    export default {
        data(){
            return {
                items: [],
                category: [],
                loadData: false,
                showModal:false,
                edit: [],
                parent_id: null,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            getData: function () {
                this.$Progress.start();
                this.loadData = true;
                axios.get('/admin/taxonomy/term/items/'+this.$route.params.id).then(response => {
                    this.items = response.data.items;
                    this.category = response.data.category;
                    this.loadData = false;
                    this.$Progress.finish();
                    this.$nextTick(function () {
                        $('.dd').nestable();
                    });
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            }
        },
        mounted(){
            var vm = this;
            //
            this.eb.$on('reload', function () {
                vm.getData();
            });
            //
            this.eb.$on('editItem', function (item) {
                vm.edit = item;
                vm.showModal = true;
            });
            //
            this.eb.$on('onCloseModal', function () {
                vm.edit = [];
            });
            //
            this.eb.$on('addItem', function (item) {
                vm.edit = [];
                vm.parent_id = item.id;
                vm.showModal = true;
            });
//            this.$nextTick(function () {
//                $('.dd2').nestable();
//            });
        }
    }
</script>