<template>
    <table class="table table-hover table1">
        <thead>
            <tr>
                <th width="20">#</th>
                <th>Назва</th>
                <th width="200"></th>
            </tr>
        </thead>
        <tbody>
            <template v-if="items">
                <tr v-for="(item, k) in items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-right">
                        <router-link :to="{name:'admin.taxonomy.id', params: {id: item.id}}" class="btn btn-secondary btn-rounded btn-sm">
                            <i class="icon-list icons"></i>
                        </router-link>
                        <button type="button" class="btn btn-info btn-rounded btn-sm" @click="edit(item)">
                            <i class="icon-pencil icons"></i>
                        </button>
                        <button-delete :link="'/admin/taxonomy/'+item.id"></button-delete>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</template>

<script>
    Vue.component('button-delete', require('../buttons/ButtonDelete.vue'));
    export default {
        props:{
            items: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return {

            }
        },
        methods:{
            edit: function (item) {
                this.eb.$emit('editItem', item);
            }
        },
        mounted(){

        }
    }
</script>