<template>
    <div class="field-select">
        <div class="btn btn-select" :class="sclass" v-on:click="setOpen"><span v-if="label" class="slbl">{{label }}: </span>{{ selectedTitle }} <span class="caret"></span></div>
        <ul class="ul-select" v-if="open" v-on:mouseleave="setClose" :style="[(hidden) ? {overflowY: 'scroll'} : null]">
            <li  v-if="options" v-for="option in options">
                <a v-on:click="setSelected(option)" :class="[(value == option.id) ? 'active' : '']">{{ option.name }}</a>
            </li>
        </ul>

        <select
                :data-vv-as="vVas"
                class="w100p hidden"
                :title="title"
                :name="name"
                :value="value"
                :id="'sel-'+$slug.set(name)"
        >
            <option v-if="title" value="">{{ title }}</option>
            <option v-if="!title" value="">{{ $t('choose') }}</option>
            <option v-if="options" v-for="option in options" :value="option.id">{{ option.name }}</option>
        </select>

    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            options: {
                type: [Array, Object],
                default: null,
            },
            title:{
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            valid:{
                type: Boolean,
                default: false,
            },
            vVas: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number],
                default: null,
            },
            label:{
                type: String,
                default: null,
            },
        },
        data(){
            return {
                selectedTitle: (this.title && !this.label) ? this.title : this.$t('choose'),
                open: false,
                sclass: '',
                hidden: false,
            }
        },
        methods: {
            setOpen: function () {
                this.open = !this.open;
                EventBus.$emit('openSelect', this.name);
            },
            setClose: function () {
                this.open = false;
            },
            setSelected: function (option) {
                this.open = false;
                this.selectedTitle = option.name;
                this.sclass = 'blk';
                var vm = this;
                vm.$emit('input', option.id);
            }
        },
        watch: {
            options: function (val) {
                if(_.isArray(val) && val.length > 5)
                {
                    this.hidden = true;
                }
                if(_.isObject(val) && Object.keys(val).length > 5)
                {
                    this.hidden = true;
                }
            },
            value:function (data) {
                var vm = this;
                $.each(vm.options, function (k, v) {
                    if(parseInt(v.id) == parseInt(data))
                    {
                        vm.selectedTitle = v.name;
                        vm.sclass = 'blk';
                    }
                });
                EventBus.$emit('changeField', data);
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;

            if(vm.value)
            {
                vm.selectedTitle = vm.value;
                vm.sclass = 'blk';
            }

            EventBus.$on('openSelect', function (val) {
                if(vm.name !== val)
                {
                    vm.open = false;
                }
            });

            if(_.isArray(this.options) && this.options.length > 5)
            {
                this.hidden = true;
            }
            if(_.isObject(this.options) && Object.keys(this.options).length > 5)
            {
                this.hidden = true;
            }



        }
    }
</script>
