<template>
    <div class="yes-no">
        <div class="radio-inline">
            <div class="redio-div" v-on:click="setChk"><span :class="[(check) ? 'chk' : '']"></span> {{ $t('yes') }}</div>
        </div>
        <div class="radio-inline">
            <div class="redio-div" v-on:click="unsetChk"><span :class="[(!check) ? 'chk' : '']"></span> {{ $t('no') }}</div>
        </div>
        <input type="checkbox" :name="name" :value="val" v-model="check"/>
    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number, Array],
                default: null,
            },
            val: {
                type: [String, Number, Array],
                default: null,
            },
        },
        data(){
            return {
                check: false,
            }
        },
        methods: {
            uniqueArray: function (arr) {
                function onlyUnique(value, index, self) {
                    return self.indexOf(value) === index;
                }
                var unique = arr.filter( onlyUnique );
                return unique;
            },
            deleteMe: function (arr, me) {
                var i = arr.length;
                while( i-- ) if(arr[i] === me ) arr.splice(i,1);
            },
            setChk: function () {
                this.check = true;
            },
            unsetChk: function () {
                this.check = false;
            }
        },
        watch: {
            check: function (item) {
                var vm = this;
                var arr = this.value;

                if(item == true)
                {
                    arr.push(this.val);
                    arr = this.uniqueArray(arr);
                }
                else
                {
                    this.deleteMe(arr, this.val);
                    arr = this.uniqueArray(arr);
                }
                vm.$emit('input', arr);
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            this.value.forEach(function (v,k) {
                if(v == vm.val)
                {
                    vm.check = true;
                }
            })
        }
    }
</script>