<template>
    <div class="field-scan" @click="getFile">
        <s>{{ label }}</s>
        <a class="btn btn-green"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
        <input id="upload-scan" name="image" multiple class="hidden" type="file" accept="image/*" @change="onFileChange">
    </div>
</template>

<script>
    export default{
        props:{
            value:{
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                label: this.$i18n.t('scan_of_the_articles_of_incorporations_of_the_company'),
                images:[],
                files:[],
            }
        },
        watch:{
            images: function (val) {
                if(val.length)
                {
                    this.label = val.join(', ');
                }
                else
                {
                    this.label = this.$i18n.t('scan_of_the_articles_of_incorporations_of_the_company');
                }
            }
        },
        methods: {
            getFile: function()
            {
                $('#upload-scan').click();
            },
            onFileChange: function(e)
            {
                var vm = this;
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                if(files.length > 2 || vm.images.length >= 2)
                {
                    this.$notify({
                        type: 'error',
                        title: this.$t('error'),
                        text: this.$t('files_must_be_maximum2'),
                    });
                }
                else
                {
                    var form_data = new FormData();
                    $.each(files, function(k,v){
                        //console.log(v);
                        form_data.append('image[]', v);
                        vm.images.push(v.name);
                    });
                    //
                    axios.post('/api/v1/profile/upload/scan', form_data).then(response => {
                        _.forEach(response.data, function (v) {
                            vm.files.push(v);
                        });
                        vm.$emit('input', vm.files);
                    }).catch(error => {
                        alert('Error loading file!');
                    });

                }
            },
        }
    }
</script>