<template>
    <field-select-one
        :options="days"
        :name="'birthday[day]'"
        :title="$t('profileSettings.birthdayDay')"
        :vVas="$t('profileSettings.birthdayDay1')"
        :label="$t('profileSettings.birthdayDay')"
        :value="value"
    >
    </field-select-one>
</template>

<script>

    export default {
        props: {
            value: [Number, String],
        },
        data(){
            return {

            }
        },
        methods: {

        },
        computed: {
            days: function () {
                var day = [];
                for (var i = 1; i < 32; i++) {
                    day.push({id: i, name: i});
                }
                return day;
            },
        },
        mounted() {
console.log(this.value);
        }
    }
</script>