<template>
    <div class="fiels-tags">
        <div class="items">
            <div class="item" v-for="(item, k) in items">{{ item }} <i class="fa fa-times" @click="removeItem(k)"></i></div>
            <div class="item-inp">
                <input v-model="string" type="text" class="inp-tags" @keyup.space="setTag" @keydown.enter.prevent="setTag" @blur="saveProduct" :placeholder="placeholder"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value:{
                type: [Array, Object],
                default: null,
            },
            id:{
                type: String,
                default: null,
            }
        },
        data(){
            return {
                string: null,
                items: [],
                placeholder: 'додати теги',
            }
        },
        watch:{
            string: function (val) {
                this.$emit('input', this.items);
            },
            value: function (data) {
                this.items = data;
            }
        },
        methods:{
            removeItem: function (k) {
                this.items = _.remove(this.items, function(n, i) {
                    return i !== k;
                });
                //
                this.$emit('input', this.items);
                this.$emit('save');
            },
            getTags: function () {
                var vm = this;
                var product = this.$session.get('product');

                if(product.tags == undefined && product.files && product.files.images.length || product.tags.length == 0)
                {
                    this.$nextTick(function () {
                        axios.get('/api/v1/product/tags/'+product.files.images[0].fid).then(response => {
                            this.items = response.data;
                            this.$emit('input', this.items);
                            vm.$emit('save');
                        });
                    });
                }
            },
            saveProduct: function () {
                this.$emit('save');
            },
            setTag: function () {
                if(this.string && this.string !== ' ' && this.items.length < 10)
                {
                    this.items.push(this.string);
                }
                this.string = null;
            }
        },
        mounted(){
            this.getTags();
        }
    }
</script>