<template>
    <div class="field-upload-foto">
        <div class="row m-b-20">
            <div class="col-lg-12 m-b-10">
                <label>{{ $t('profileSettings.download_the_copy_of_a_top_passport_page_and_identifying_code') }}</label>
            </div>
            <div class="col-lg-4 m-b-10">
                <a href="javascript:void(0);" v-on:click="getFile" class="btn btn-default btn-40 w100p text-uppercase">{{ $t('profileSettings.to_load') }}</a>
                <input id="upload-foto-input" name="image" value="" multiple class="hidden" type="file" accept="image/*" v-on:change="onFileChange">
            </div>
            <div class="col-lg-12">
                <label>{{ $t('profileSettings.uploaded_files') }}:</label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                loading: false,
                uploadClass: '',
                hideA: true,
            }
        },
        methods: {
            getFile: function()
            {
                $('#upload-foto-input').click();
            },
            onFileChange: function(e)
            {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var form_data = new FormData();
                $.each(files, function(k,v){
                    form_data.append('image[]', v);
                });

                console.log(files);
                //
//                this.uploadClass = 'opa';
//                this.hideA = false;
//                axios.post('/api/v1/profile/upload/avatar', form_data).then(response => {
//                    this.uploadClass = '';
//                    this.hideA = true;
//                    this.replaceSrc();
//                }).catch(error => {
//                    //
//                    this.uploadClass = '';
//                    this.hideA = true;
//                    alert('Error loading file!');
//                });
            },
        },
        mounted() {

        }
    }
</script>