<template>
    <ul class="web-r">
        <li v-for="(item, k) in soc">
            <div class="row">
                <div class="col-lg-10">
                    <b><i class="fa" :class="item.ico"></i> {{ item.name }}</b>
                    <a :href="item.link" class="link" v-if="item.link">{{ item.link }}</a>
                </div>
                <div class="col-lg-2 text-right">
                    <div class="input-group web-r-input-group">
                        <input v-on:blur="onBlur(k)" :name="k" type="url" v-model="soc[k].link" class="form-control" placeholder="посилання">
                        <span class="input-group-addon"><i class="blk-uniF101"></i></span>
                    </div>
                    <span class="flesh">@flesh</span>
                    <a href="javascript:void(0);" class="remove" v-on:click="removeLink(k)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </li>
    </ul>

</template>

<script>
    export default {
        props:{
            web: {
                type: [Array, Object],
                default: null,
            },
        },
        data(){
            return {
                currentWeb: this.web,
                soc: {
                    facebook: {
                        name: 'Facebook',
                        ico: 'fa-facebook',
                        link: '',
                    },
                    twitter: {
                        name: 'Twitter',
                        ico: 'fa-twitter',
                        link: '',
                    },
                    linkedin: {
                        name: 'LinkedIN',
                        ico: 'fa-linkedin',
                        link: '',
                    },
                    instagram: {
                        name: 'Instagram',
                        ico: 'fa-instagram',
                        link: '',
                    },
                    youtube: {
                        name: 'Youtube',
                        ico: 'fa-youtube-play',
                        link: '',
                    },
                    vk: {
                        name: 'Vkontakte',
                        ico: 'fa-vk',
                        link: '',
                    },
                    google: {
                        name: 'Google+',
                        ico: 'fa-google-plus',
                        link: '',
                    },
                    pinterest: {
                        name: 'Pinterest',
                        ico: 'fa-pinterest-p',
                        link: '',
                    },
                },
            }
        },
        methods: {
            removeLink: function (k) {
                this.soc[k].link = '';
                axios.post('/api/v1/user/profile/delete/web/' +this.$auth.getUser().id, {soc: k}).then(response => {

                }).catch(error => {

                });

            },
            onBlur: function (k) {
                  if(this.ValidURL(this.soc[k].link)){
                      axios.post('/api/v1/user/profile/save/web/' +this.$auth.getUser().id, {soc: this.soc}).then(response => {

                      }).catch(error => {

                      });
                  }
                  else{
                      this.soc[k].link = '';
                      this.$msg.err({0:'Please enter valid URL.'}, this.$notify, this.$t('error'));
                  }
            },
            ValidURL: function (str) {
                var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
                if(!regex .test(str)) {
                    return false;
                } else {
                    return true;
                }
            },
        },
        computed: {

        },
        mounted() {
            var vm = this;

            if(Object.keys(vm.web).length)
            {
                _.forEach(vm.web,function (v, k) {
                    vm.soc[k].link = v;
                })
            }
        }
    }
</script>