<template>
    <ul class="web-r" id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name,email,photo_big,photo,phone,city;callback=joinSoc;redirect_uri">
        <li v-for="(item, k) in soc">
            <div class="row">
                <div class="col-lg-8">
                    <b><i class="fa" :class="item.ico"></i> {{ item.name }}</b>
                    <a :href="item.link" target="_blank" class="link" v-if="item.link">{{ item.link }}</a>
                </div>
                <div class="col-lg-4 text-right">
                    <button v-if="!item.link" :data-uloginbutton="k" type="button" class="btn btn-shop">Приєднати профіль</button>
                    <a href="javascript:void(0);" class="remove" v-on:click="removeLink(k)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </li>
    </ul>

</template>

<script>
    export default {
        props:{
            profile: {
                type: [Array, Object],
                default: null,
            },
            web: {
                type: [Array, Object],
                default: null,
            },
        },
        data(){
            return {
                soc: {
                    facebook: {
                        name: 'Facebook',
                        ico: 'fa-facebook',
                        link: null,
                    },
                    twitter: {
                        name: 'Twitter',
                        ico: 'fa-twitter',
                        link: null,
                    },
                    linkedin: {
                        name: 'LinkedIN',
                        ico: 'fa-linkedin',
                        link: null,
                    },
                    instagram: {
                        name: 'Instagram',
                        ico: 'fa-instagram',
                        link: null,
                    },
                    youtube: {
                        name: 'Youtube',
                        ico: 'fa-youtube-play',
                        link: null,
                    },
                    google: {
                        name: 'Google+',
                        ico: 'fa-google-plus',
                        link: null,
                    },
                },
            }
        },
        methods: {
            setLink: function () {
                var vm = this;
                if(this.web.length)
                {
                    _.forEach(this.web, function (v) {
                        vm.soc[v.network].link = v.profile;
                    });
                }
            },
            ulogin: function()
            {
                var vm = this;
                window.joinSoc = (arg) => {
                    $.getJSON("//ulogin.ru/token.php?host=" +
                        encodeURIComponent(location.toString()) + "&token=" + arg + "&callback=?",
                        function(data){
                            console.log(data);
                            data=$.parseJSON(data.toString());
                            if(!data.error){
                                vm.$Progress.start();
                                axios.put('/api/v1/user/profile/'+vm.profile.id+'/social', data).then(response => {
                                    vm.soc[response.data.network].link = response.data.profile;
                                    vm.$Progress.finish();
                                }).catch(error => {
                                    this.$msg.axiosErr(error, this.$notify, this.$i18n);
                                    vm.$Progress.fail();
                                });
                            }
                        });
                }
            },
            removeLink: function (network) {
                var vm = this;
                vm.soc[network].link = null;
                axios.delete('/api/v1/user/profile/'+vm.profile.id+'/social/'+network);
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            this.setLink();
            this.ulogin();
        }
    }
</script>