<template>
    <div class="form-group form-group-typehead">
        <div v-if="!showInput" class="form-control form-control-2 typehead-selected" @click="setInput">{{ select }}</div>
        <input v-if="showInput" v-model="search" type="text" class="form-control form-control-2" autocomplete="off" ref="search"/>
        <div class="typehead" v-if="show && showInput">
            <div class="typehead-item" v-for="list in lists" @click="setVal(list)">{{ list.name.en }}</div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                items: [],
                search: null,
                show: false,
                showInput: false,
                select: null,
            }
        },
        methods:{
            getData: function () {
                if(this.$session.has('formats'))
                {
                    this.items = this.$session.get('formats');
                }
                else
                {
                    axios.get('/api/v1/product/formats').then(response => {
                        this.$session.set('formats', response.data);
                        this.items = response.data;
                    });
                }
            },
            setVal: function (list) {
                this.select = list.name.en;
                this.show = false;
                this.$nextTick(function () {
                    this.search = list.name.en;
                    this.showInput = false;
                });
                this.$emit('input', list.id);
            },
            setInput: function () {
                var vm = this;
                this.showInput = true;
                this.$nextTick(() => this.$refs.search.focus());
            }
        },
        watch: {
            search: function (val) {
                this.show = true;
            }
        },
        computed:{
            lists: function () {
                var data = [];
                if(this.search)
                {
                    data =  this.items.filter(item => {
                        return item.name.en.toLowerCase().includes(this.search.toLowerCase());
                    });
                }

                if(data.length == 0)
                {
                    this.show = false;
                }

                return data;
            }
        },
        mounted(){
            this.getData();
        }
    }
</script>