<template>
    <field-select-multiple
    :options="options"
    :name="'vid_diyalnosti[]'"
    :title="$t('profileSettings.vid_diyalnosti')"
    :value="value"
    @input="$emit('input', $event.target.value)"
    >
    </field-select-multiple>
</template>

<script>

    export default {
        props: {
            value: {
                type: [Array, Object],
                default: [],
            },

        },
        data(){
            return {
                items: [],
            }
        },
        methods: {
            getData: function () {
                axios.post('/api/v1/get/vid/diyalnosti').then(response => {
                    this.items = response.data;
                }).catch(error => {

                });
            },
        },
        computed: {
            options: function()
            {
                return this.items[this.$t('lang')];
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>