<template>
    <div class="field-select" ref="dropdownMenu" @mouseleave="setClose">
        <div class="btn btn-select" @click="setOpen" :class="sclass"><span v-if="label" class="slbl">{{label }}: </span>{{ selectedTitle }} <span class="caret"></span></div>
        <div class="btn-select-down" v-if="open">
            <VuePerfectScrollbar :settings="settings" class="scroll-select" ref="scroll">
                <ul class="ul-select2">
                    <li  v-if="optionItems" v-for="option in optionItems">
                        <input v-model="selected" :value="option.id" :id="'select-input-'+option.id" type="radio" :name="name"/>
                        <label :for="'select-input-'+option.id" class="link" :title="option.name[$t('lang')]">{{ option.name[$t('lang')] }}</label>
                    </li>
                </ul>
            </VuePerfectScrollbar>
        </div>

    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';

    export default {
        components: {
            VuePerfectScrollbar
        },
        props: {
            options: {
                type: [Array, Object],
                default: null,
            },
            title:{
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number],
                default: null,
            },
            label:{
                type: String,
                default: null,
            },
            url:{
                type: String,
                default: null,
            },
        },
        data(){
            return {
                optionItems: [],
                settings:{
                    suppressScrollX: true,
                },
                selectedTitle: (this.title && !this.label) ? this.title : this.$t('choose'),
                open: false,
                sclass: '',
                selected: null,
                //hidden: false,
            }
        },
        methods: {
            setOpen: function () {
                this.open = !this.open;
            },
            setClose: function () {
                this.open = false;
            },
            getItems: function () {
                axios.get(this.url).then(response => {
                    this.optionItems = response.data;
                }).catch(error => {

                });
            },
            setTitles: function (data) {
                var vm = this;
                if(data)
                {
                    _.forEach(vm.optionItems, function (v) {
                        if(v.id == data)
                        {
                            vm.selectedTitle = v.name[vm.$t('lang')];
                            vm.sclass = 'blk';
                        }
                    });
                }
                else
                {
                    this.selectedTitle = vm.$t('choose');
                    this.sclass = null;
                }
            },
            documentClick(e){
                var el = this.$refs.dropdownMenu;
                var target = e.target;
                if ( el !== target && !el.contains(target))
                {
                    this.open = false;
                }
            }
        },
        watch: {
            selected: function (val) {
                this.setTitles(val);
                this.$emit('input', val);
                this.$emit('selected');
                this.open = false;
            },
            value: function (data) {
                this.selected = data;
                this.$nextTick(function () {
                    this.setTitles(data);
                });
            },
            options: function (vals) {
                this.optionItems = vals;
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            if(this.url)
            {
                this.getItems();
            }
            else
            {
                this.optionItems = this.options;
            }
            //
            EventBus.$on('lang', function (data) {
                vm.setTitles(vm.value);
            });
            this.setTitles(this.value);
        }
    }
</script>