<template>
    <div class="g-recaptcha" id="recaptcha"></div>
</template>
<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props:{
            sitekey: {
                type: String,
                default: null,
            },
            value: {
                type: [Array, Object, String],
                default: null,
            },
        },
        data(){
            return {

            }
        },
        methods: {
            init: function () {
                var vm = this;
                setTimeout(function() {
                    if(typeof grecaptcha === 'undefined') {
                        vm.initReCaptcha();
                    }
                    else {
                        grecaptcha.render('recaptcha', {
                            sitekey: vm.sitekey,
                            callback: vm.submit
                        });
                    }
                }, 100);
            },
            submit: function(token) {
                this.$emit('input', token);
            }
        },
        mounted() {
            this.init();
        }
    }
</script>