<template>
    <div class="field-select" ref="dropdownMenu" @mouseleave="setClose">
        <div class="btn btn-select" @click="setOpen" :class="sclass">{{ selectedTitle }} <span class="caret"></span></div>
        <div class="btn-select-down" v-if="open">
            <VuePerfectScrollbar :settings="settings" class="scroll-select" ref="scroll">
                <ul class="ul-select2">
                    <template v-if="group">
                        <li  v-if="optionItems" v-for="option in optionItems">
                            <template v-if="option.items.length">
                                <span class="group" :title="option.name[$t('lang')]">{{ option.name[$t('lang')] }}</span>
                                <ul>
                                    <li v-for="opg in option.items">
                                        <input v-model="selected" :value="opg.id" :id="'select-input-'+opg.id" type="checkbox" :name="name+'[]'"/>
                                        <label :for="'select-input-'+opg.id" class="link" :title="opg.name[$t('lang')]">{{ opg.name[$t('lang')] }}</label>
                                    </li>
                                </ul>
                            </template>
                            <template v-else >
                                <input v-model="selected" :value="option.id" :id="'select-input-'+option.id" type="checkbox" :name="name+'[]'"/>
                                <label :for="'select-input-'+option.id" class="link" :title="option.name[$t('lang')]">{{ option.name[$t('lang')] }}</label>
                            </template>
                        </li>
                    </template>
                    <template v-else>
                        <li v-if="optionItems" v-for="option in optionItems">
                            <input v-model="selected" :value="option.id" :id="'select-input-'+option.id" type="checkbox" :name="name+'[]'"/>
                            <label :for="'select-input-'+option.id" class="link" :title="option.name[$t('lang')]">{{ option.name[$t('lang')] }}</label>
                        </li>
                    </template>
                </ul>
            </VuePerfectScrollbar>
        </div>
    </div>
</template>

<script>
    //@input="$emit('input', $event.target.value)"
    import { EventBus } from '../event-bus.js';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';

    export default {
        components: {
            VuePerfectScrollbar
        },
        props: {
            options: {
                type: [Array, Object],
                default: null,
            },
            title:{
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            value: {
                type: [Array, Object],
                default: null,
            },
            url:{
                type: String,
                default: null,
            },
            url2:{
                type: String,
                default: null,
            },
            group:{
                type: Boolean,
                default: false,
            },
        },
        data(){
            return {
                open: false,
                optionItems: this.options,
                settings:{
                    suppressScrollX: true,
                },
                selectedTitle: (this.title) ? this.$t(this.title) : this.$t('choose'),
                sclass: null,
                loadData: false,
            }
        },
        methods: {
            setOpen: function () {
                this.open = !this.open;
            },
            setClose: function () {
                this.open = false;
            },
            getItems: function () {
                this.loadData = true;
                axios.get(this.url).then(response => {
                    this.optionItems = response.data;
                    this.loadData = false;
                    this.setTitles();
                }).catch(error => {
                    this.loadData = false;
                });
            },
            setTitles: function () {
                var vm = this;
                var items = [];
                //
                if(this.value.length)
                {
                    _.forEach(this.value, function (v) {
                        var find = _.find(vm.child, {id: v});
                        items.push(find.name[vm.$t('lang')]);
                    });
                    this.selectedTitle = items.join(', ');
                    this.sclass = 'blk';
                }
                else
                {
                    this.selectedTitle = (vm.title) ? vm.$t(vm.title) : vm.$t('choose');
                    this.sclass = null;
                }
            },
            documentClick(e){
                var el = this.$refs.dropdownMenu;
                var target = e.target;
                if ( el !== target && !el.contains(target))
                {
                    this.open = false;
                }
            },
        },
        watch: {
            optionItems: function (data) {
                EventBus.$emit('multi3', data, this.value);
            }
        },
        computed: {
            selected:{
                get(){
                    this.setTitles();
                    return this.value;
                },
                set(v)
                {
                    EventBus.$emit('multi3Update', this.optionItems, v);
                    this.$emit('input', v);
                    this.$emit('onSelect');
                }
            },
            child: function () {
                var items = [];
                if(this.optionItems.length)
                {
                    if(this.group)
                    {
                        _.forEach(this.optionItems, function (v) {
                            if(v.items.length)
                            {
                                _.forEach(v.items, function (g) {
                                    items.push(g);
                                })
                            }
                            else
                            {
                                items.push(v);
                            }
                        })
                    }
                    else
                    {
                        _.forEach(this.optionItems, function (v) {
                            items.push(v);
                        });
                    }

                }
                return items;
            }
        },
        created () {
            document.addEventListener('click', this.documentClick)
        },
        destroyed () {
            document.removeEventListener('click', this.documentClick)
        },
        mounted() {
            var vm = this;
            if(this.url)
            {
                this.getItems();
            }
            //
            EventBus.$on('lang', function (data) {
                vm.setTitles(vm.value);
            });
            //
        }
    }
</script>