<template>
    <div class="form-group form-group-1">
        <input v-model="address.address" type="text" :name="name" class="form-control form-control-1 setAddress" :placeholder="placeholder">
        <label>{{ label }}</label>
    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            label: {
                type: String,
                default: null,
            },
            placeholder: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number, Array, Object],
                default: null,
            },
        },
        data(){
            return {
                address: {
                    address: null,
                    country: null,
                    city: null,
                    lat: null,
                    lng: null,
                },
            }
        },
        methods: {
            geoComplete: function () {
                var vm = this;
                $('.setAddress').geocomplete({
                    types: ['(cities)'],
                }).bind("geocode:result", function(event, result){
                    vm.address.address = vm.getField('country', result.address_components)+', '+vm.getField('locality', result.address_components);
                    vm.address.country = vm.getField('country', result.address_components);
                    vm.address.city = vm.getField('locality', result.address_components);
                    vm.address.lat = result.geometry.location.lat();
                    vm.address.lng = result.geometry.location.lng();
                    vm.$emit('input', vm.address);
                    EventBus.$emit('changeField', vm.address);
                });
            },
            getField: function(name, address_components)
            {
                var data = '';
                $.each(address_components, function(k, v){
                    //$.dump(v);
                    $.each(v.types, function(i, y){
                        if (y == name) {
                            data = v.long_name;
                        }
                    });
                });
                return data;
            },
        },
        watch: {
            value: function (val) {
                var vm = this;
                if(!val.address)
                {
                    var geo = localStorage.getItem('geo');
                    if(geo)
                    {
                        geo = JSON.parse(geo);
                        $('.setAddress').geocomplete('find', geo.city);
                    }
                }
                else
                {
                    vm.address = val;
                }
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            vm.geoComplete();
            //console.log(vm.value);
//            if(Object.keys(vm.value).length && !vm.value.address)
//            {
//                var geo = localStorage.getItem('geo');
//                if(geo)
//                {
//                    geo = JSON.parse(geo);
//
//                    $('.setAddress').geocomplete('find', geo.city);
//                }
//            }
//            else
//            {
//                vm.address = vm.value;
//            }
        }
    }
</script>