<template>
    <div class="field-select">
        <div class="btn btn-select" :class="sclass" v-on:click="setOpen">{{ selectedTitle }} <span class="caret"></span></div>
        <ul class="ul-select" v-if="open" v-on:mouseleave="setClose" :style="[(hidden) ? {overflowY: 'scroll'} : null]">
            <li  v-if="options" v-for="option in options">
                <a v-on:click="setMultiSelected(option)" :class="[(contains(value, option.id)) ? 'active' : '']">{{ option.name }}</a>
            </li>
        </ul>

        <select
                class="w100p hidden"
                multiple="multiple"
                :title="title"
                :name="name"
                :value="value"
                :id="'sel-'+$slug.set(name)"
                @input="$emit('input', $event.target.value)"
        >
            <option v-if="title" value="">{{ title }}</option>
            <option v-if="!title" value="">{{ $t('choose') }}</option>
            <option v-if="options" v-for="option in options" :value="option.id" :selected="setActive(option.id, value)">{{ option.name }}</option>
        </select>


    </div>
</template>

<script>
    //@input="$emit('input', $event.target.value)"
    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            options: {
                type: [Array, Object],
                default: null,
            },
            title:{
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            value: {
                type: [Array, Object],
                default: null,
            },
        },
        data(){
            return {
                selectedTitle: (this.title && !this.label) ? this.title : this.$t('choose'),
                open: false,
                selectedNames: [],
                optionNames: [],
                sclass: '',
                hidden: false,
            }
        },
        methods: {
            setOpen: function () {
                this.open = !this.open;
                EventBus.$emit('openSelect', this.name);
            },
            setClose: function () {
                this.open = false;
            },
            setMultiSelected: function (option) {
                var vm = this;
                var rm = false;
                var rmIndex = 0;
                if(this.value)
                {
                    this.value.forEach(function (val, i, index) {
                        if(val == option.id)
                        {
                            rm = true;
                            rmIndex = i;
                        }
                    });

                    if(rm)
                    {
                        vm.value.splice(rmIndex, 1);
                        vm.selectedNames.splice(rmIndex, 1);
                        if(this.value.length == 0)
                        {
                            this.selectedTitle = this.title;
                            this.sclass = '';
                        }
                        else {
                            this.selectedTitle = this.selectedNames.join();
                            this.sclass = 'blk';
                        }
                    }
                    else
                    {
                        this.value.push(option.id);
                        this.selectedNames.push(option.name);
                        this.selectedTitle = this.selectedNames.join();
                        this.sclass = 'blk';
                    }

                }
                else
                {
                    this.value = [option.id];
                    this.selectedNames.push(option.name);
                    this.selectedTitle = this.selectedNames.join();
                    this.sclass = 'blk';
                }
                //this.open = false;
            },
            contains: function (a, obj) {
                if(a)
                {
                    for (var i = 0; i < a.length; i++) {
                        if (a[i] === obj) {
                            return true;
                        }
                    }
                }
                return false;
            },
            setActive: function (id, sel) {
                return this.contains(sel, id);
            }
        },
        watch: {
            options: function (val) {
                this.setO = val;
                if(_.isArray(val) && val.length > 5)
                {
                    this.hidden = true;
                }
                if(_.isObject(val) && Object.keys(val).length > 5)
                {
                    this.hidden = true;
                }
            },
            value: function (val) {
                 this.selT = val;
                EventBus.$emit('changeField', val);
            }
        },
        computed: {
            setO:{
                set: function (val) {
                    //console.log(val);
                    var vm = this;
                    var names = {};
                    val.forEach(function (v, k) {
                        names[v.id] = v.name;
                    });
                    vm.optionNames = names;
                },
                get: function (val) {
                    //return this.selectedTitle;
                }
            },
            selT:{
                set: function (val) {
                    var vm = this;
                    var names = [];
                    if(Object.keys(vm.optionNames).length)
                    {
                        val.forEach(function (v, k) {
                            //console.log(vm.optionNames);
                            names.push(vm.optionNames[v]);
                        });
                    }

                    //console.log(names);
                    //console.log(val);
                    this.selectedTitle = (names.length) ? names.join() : this.title;
                    this.sclass = (names.length) ?'blk' : '';
                },
                get: function (val) {
                    //return this.selectedTitle;
                }
            }
        },
        mounted() {
            var vm = this;
            EventBus.$on('openSelect', function (val) {
                if(vm.name !== val)
                {
                    vm.open = false;
                }
            });

            if(_.isArray(this.options) && this.options.length > 5)
            {
                this.hidden = true;
            }
            if(_.isObject(this.options) && Object.keys(this.options).length > 5)
            {
                this.hidden = true;
            }
        }
    }
</script>