<template>
    <div class="form-cat flex-row tr3">
        <div class="first-select flex-column tr3">{{ firstCategory }}</div>
        <div class="flex-column tr3">
            <field-select-one2
                    :options="optionsCategory1"
                    :name="'category1'"
                    :title="'Категорія'"
                    v-model="values[1]"
                    v-errors="'category1'"
                    @selected="onSelected1"
            ></field-select-one2>
        </div>
        <div class="flex-column tr3" v-if="optionsCategory2.length">
            <field-select-one2
                    :options="optionsCategory2"
                    :name="'category2'"
                    :title="'Категорія'"
                    v-model="values[2]"
                    v-errors="'category2'"
            ></field-select-one2>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
          value:{
              type: [Array, Object],
              default: null,
          }
        },
        data(){
            return {
                values:[],
                optionsCategory2: [],
            }
        },
        computed:{
            firstCategory: function () {
                let text = 'Виберіть категорію';
                let product = this.$session.get('product');
                let catalog = this.$session.get('catalog');
                let cat = _.find(catalog, { '_id': product.category[0] });
                if(cat)
                {
                    text = cat.name[this.$i18n.t('lang')];
                }
                return text;
            },
            optionsCategory1: function () {
                let cat = [];
                let product = this.$session.get('product');
                let catalog = this.$session.get('catalog');
                let cats = _.find(catalog, { '_id': product.category[0] });
                _.forEach(cats.children, function (v) {
                    cat.push({
                        id: v._id,
                        name: v.name,
                    });
                });
                return cat;
            }
        },
        methods:{
            onSelected1: function () {
                let cat = [];
                let product = this.$session.get('product');
                let catalog = this.$session.get('catalog');
                let cats = _.find(catalog, { '_id': product.category[0] });
                cats = _.find(cats.children, { '_id': this.values[1] });
                _.forEach(cats.children, function (v) {
                    cat.push({
                        id: v._id,
                        name: v.name,
                    });
                });

                this.optionsCategory2 = cat;
                this.$emit('change');
                this.$emit('input', this.values);
                this.event.$emit('selectCategory', this.values);
            }
        },
        mounted(){
            let product = this.$session.get('product');
            this.values = product.category;
            //
        }
    }
</script>