<template>
    <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item d-md-down-none">-->
            <!--<a href="#">-->
                <!--<i class="fa fa-bell"></i>-->
                <!--<span class="badge badge-pill badge-danger">5</span>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li class="nav-item d-md-down-none">-->
            <!--<a href="#">-->
                <!--<i class="fa fa-envelope-open"></i>-->
                <!--<span class="badge badge-pill badge-danger">5</span>-->
            <!--</a>-->
        <!--</li>-->

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/themes/admin/assets/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                <span class="small ml-1 d-md-down-none"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <!--<div class="dropdown-header">Account</div>-->

                <!--<a href="#" class="dropdown-item">-->
                    <!--<i class="fa fa-user"></i> Profile-->
                <!--</a>-->

                <!--<a href="#" class="dropdown-item">-->
                    <!--<i class="fa fa-envelope"></i> Messages-->
                <!--</a>-->

                <!--<div class="dropdown-header">Settings</div>-->

                <!--<a href="#" class="dropdown-item">-->
                    <!--<i class="fa fa-bell"></i> Notifications-->
                <!--</a>-->

                <!--<a href="#" class="dropdown-item">-->
                    <!--<i class="fa fa-wrench"></i> Settings-->
                <!--</a>-->

                <a href="#" class="dropdown-item">
                    <i class="fa fa-lock"></i> Вихід
                </a>
            </div>
        </li>
    </ul>
</template>