<template>
    <div id="select-filters">
        <!--<pre>{{ chk }}</pre>-->
        <div class="items" v-for="item in items" v-if="item.children.length">
            <a href="javascript:void(0);" data-toggle="collapse" data-parent="#select-filters" :data-target="'#filter'+item.id">{{ item.name }}</a>
            <div :id="'filter'+item.id" class="collapse" v-if="item.children.length">
                <div class="checkbox checkbox-success" v-for="child in item.children">
                    <input :id="'f-'+child.id" name="filters[]" :value="child.id" type="checkbox" v-model="chk">
                    <label :for="'f-'+child.id">{{ child.name }}</label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            items:{
                type: Object,
                default: {}
            },
            selected:{
                type: Array,
                default: []
            }
        },
        data(){
            return {
                chk: [],
            }  
        },
        methods: {
            setChk: function()
            {
                var _this = this;
                if (_this.selected.length) {
                    for (var i = 0; i < _this.selected.length; i++)
                    {
                        _this.chk.push(_this.selected[i].id);
                    }
                }
            }
        },
        mounted() {
            this.setChk();
        }
    }
</script>