<template>
    <div class="login-soc">
        <label class="lbl">{{ $t('loginBlock.noacc') }}</label>
        <a href="javascript:void(0);" class="btn btn-trans w100p tup" v-on:click="setForm('register')">{{ $t('loginBlock.createacc') }}</a>
        <label class="lbl">{{ $t('loginBlock.or') }}</label>
        <div id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name,email,photo_big,photo,phone,city;callback=ulogins;redirect_uri">
            <button data-uloginbutton="facebook" class="btn btn-facebook w100p"><i aria-hidden="true" class="fa fa-facebook"></i> {{ $t('loginBlock.auth') }} <span>Facebook</span></button>
            <button data-uloginbutton="google" class="btn btn-google w100p"><i aria-hidden="true" class="fa fa-google-plus"></i> {{ $t('loginBlock.auth') }} <span>Google</span></button>
        </div>
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';
    export default{
        methods:{
            ulogin: function()
            {
                var vm = this;
                window.ulogins = (arg) => {
                    $.getJSON("//ulogin.ru/token.php?host=" +
                        encodeURIComponent(location.toString()) + "&token=" + arg + "&callback=?",
                        function(data){
                            data=$.parseJSON(data.toString());
                            if(!data.error){
                                vm.$Progress.start();
                                data['lang'] = localStorage.getItem('currentLang');
                                axios.post('/api/v1/user/login/social', data).then(response => {
                                    vm.$auth.setToken(
                                        response.data.token,
                                        response.data.expiration,
                                    );
                                    window.location.href = '/';
                                    vm.$Progress.finish();
                                }).catch(error => {
                                    this.$msg.axiosErr(error, this.$notify, this.$i18n);
                                    vm.$Progress.fail();
                                });
                            }
                        });
                }
            },
            setForm: function (item) {
                EventBus.$emit('setLoginForm', item);
            }
        },
        mounted() {
            this.ulogin();
        }
    }
</script>