<template>
    <form id="reminder-form" v-on:submit="submitReminder('reminder', $event)" accept-charset="UTF-8" role="form">
        <div class="form-group">
            <label for="code" class="lbl">{{ $t('forgot.code') }}</label>
            <input key="k4" v-model="reminder.code" :data-vv-as="$t('forgot.code2')" v-validate="'required'" name="reminder_code" type="text" class="form-inp" :placeholder="$t('forgot.code2')">
        </div>
        <div class="form-group">
            <input key="k4" v-model="reminder.password" :data-vv-as="$t('forgot.password')" v-validate="'required|min:6'" name="reminder_password" type="password" class="form-inp" :placeholder="$t('forgot.password')">
        </div>
        <div class="form-group">
            <input key="k4" v-model="reminder.password_confirmation" :data-vv-as="$t('forgot.password2')" v-validate="'required|min:6|confirmed:reminder_password'" name="reminder_password_confirmation" type="password" class="form-inp" :placeholder="$t('forgot.password2')">
        </div>

        <div class="row butons">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <img :src="captchaImg" data-toggle="tooltip" data-placement="top" :title="$t('captcha.tolltip')" class="img-responsive" alt="captcha" v-on:click="genCaptcha">
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <input key="k4" v-model="reminder.captcha" data-vv-as="Captha" v-validate="'required'" name="reminder_captcha" type="text" class="form-inp" placeholder="Captha">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-trans w100p tup">{{ $t('loginBlock.unpass') }}</button>
    </form><!--#forgot-form-->
</template>