<template>
    <div class="new-message" :class="[(resize) ? 'resize' : '']" v-if="forma">
        <form v-on:submit="submitMessage('form-submit-message', $event)" id="form-submit-message"  accept-charset="UTF-8" role="form" class="panel panel-message">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9">
                        <span class="h6">Нове повідомлення</span>
                    </div>
                    <div class="col-lg-3 text-right">
                        <i class="fa fa-window-restore m-r-10 cupoint" aria-hidden="true" @click="setResize"></i>
                        <i class="fa fa-window-close-o cupoint" aria-hidden="true" @click="closeForm"></i>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-message m-t-0 m-b-0 borber-none tea">
                    <vue-editor v-model="add.message"  :editorToolbar="customToolbar"></vue-editor>
                    <input v-model="message" type="hidden" name="message"/>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-3">
                        <button class="btn btn-info btn-xs w100p">Відправити</button>
                    </div>
                    <div class="col-lg-9 p-t-5">
                        <i class="fa fa-align-left" aria-hidden="true" @click="showEditor"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>


<script>
    import { EventBus } from '../event-bus.js';
    import { VueEditor } from 'vue2-editor';
    
    export default {
        components: {
            VueEditor
        },
        data(){
            return {
                forma: false,
                resize: false,
                disableKomu: false,
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['blockquote'],
                    ['clean']
                ],
                add:{
                    addressee_id: null,
                    message: null,
                },
                validate: {
                    rules:{
                        'message': {
                            label: 'Повідомлення',
                            required: true,
                        },
                    }
                },
                loadUser: false,
                komu: [],
            }
        },
        methods: {
            showEditor: function () {
                $('.form-group-message .ql-toolbar.ql-snow').slideToggle();
            },
            setResize: function () {
                this.resize = !this.resize;
                if(this.resize == true)
                {
                    var oh = $('.panel-message').outerHeight();
                    var tea = $('.tea').height();
                    var mh = oh+tea-30;
                    $('.tea').height(oh+tea);
                    $('.form-group-message .ql-editor').css('max-height', mh);
                }
                else{
                    $('.tea').css('height', 'auto');
                    $('.form-group-message .ql-editor').css('max-height', 200);
                }
            },
            closeForm: function () {
                this.forma = false;
                this.resize = false;
            },
            submitMessage: function (scope, e) {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {

                    axios.post('/api/v1/message/create', this.add).then(response => {
                        this.$notify({
                            type: 'success',
                            title: this.$i18n.t('success'),
                            text: 'Повідомлення відправлено.',
                        });
                        //
                        this.forma = false;
                        //
                        this.add = {
                            addressee_id: null,
                            message: null,
                        };
                        //
                        EventBus.$emit('messageCreated', response.data);
                    }).catch(error => {

                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            },
        },
        computed: {
            message: function () {
                return this.add.message;
            }
        },
        mounted() {
            var vm = this;
            EventBus.$on('newMessage', function () {
               vm.forma = true;
            });
            //
            EventBus.$on('newMessageToUser', function (user) {
                vm.forma = true;
                vm.add.addressee_id = user.id;
            });
        }
    }
</script>