<template>
    <form v-on:submit="submitCard('submitCard', $event)" id="submitCard"  accept-charset="UTF-8" role="form">
        <div class="row m-b-20">
            <div class="col-lg-4">
                <div class="form-group form-group-1">
                    <input v-model="card.name" type="text" name="name" class="form-control form-control-1" :placeholder="$t('the_name')">
                    <label>{{ $t('the_name') }}</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-group-1">
                    <input v-model="card.sname" type="text" name="sname" class="form-control form-control-1" :placeholder="$t('surname')">
                    <label>{{ $t('surname') }}</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-group-1">
                    <input v-model="card.fname" type="text" name="fname" class="form-control form-control-1" :placeholder="$t('patronymic')">
                    <label>{{ $t('patronymic') }}</label>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-12">
                <field-address
                               :name="'address'"
                               :label="$t('profileSettings.cm')"
                               :placeholder="$t('profileSettings.cm')"
                               v-model="card.address"
                ></field-address>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-8">
                <div class="form-group form-group-1">
                    <input v-model="card.card_num" v-mask="'#### #### #### ####'" type="text" name="card_num" class="form-control form-control-1" :placeholder="$t('card_number')">
                    <label>{{ $t('card_number') }}</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-group-1">
                    <input v-model="card.card_exp" v-mask="'##/##'" type="text" name="card_exp" class="form-control form-control-1" :placeholder="$t('month_year')">
                    <label>{{ $t('month_year') }}</label>
                </div>
            </div>
        </div>
        <button class="btn btn-green fb">{{ $t('to_add') }} <i v-if="loading" class="fa fa-spinner fa-pulse"></i> </button>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                loading: false,
                card:{
                    user_id: this.$auth.getUser().id,
                    type: 'card_private',
                    name:null,
                    sname:null,
                    fname:null,
                    address: {
                        address: null,
                    },
                    card_num: null,
                    card_exp: null,
                },
                validate:{
                    rules:{
                        'name': {
                            label: this.$i18n.t('the_name'),
                            required: true,
                        },
                        'sname': {
                            label: this.$i18n.t('surname'),
                            required: true,
                        },
                        'address': {
                            label: this.$i18n.t('profileSettings.cm'),
                            required: true,
                        },
                        'card_num': {
                            label: this.$i18n.t('card_number'),
                            required: true,
                        },
                        'card_exp': {
                            label: this.$i18n.t('month_year'),
                            required: true,
                            my: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitCard: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    this.loading = true;
                    axios.post('/api/v1/profile/add/payments', this.card).then(response => {
                        this.$notify({
                            type: 'success',
                            title: this.$t('added_a_card'),
                            text: this.$t('but_to_get_payments_on_her_be_tested_please'),
                        });
                        EventBus.$emit('onAddPm', response.data);
                        this.loading = false;
                    }).catch(error => {
                        this.loading = false;
                        this.$msg.errLocale(error, this.$notify, this.$t('error'));
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            },
        },
        mounted() {

        }
    }
</script>