<template>
    <form v-on:submit="submitProfile('profileForm', $event)" id="profileForm"  accept-charset="UTF-8" role="form">
        <div class="row m-b-30">
            <div class="col-lg-2">
                <label class="pf">{{ $t('profileSettings.role') }}</label>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row" v-errors="'role'">
                            <div class="col-lg-6">
                                <div class="checkbox-2">
                                    <label>
                                        <input v-model="form.role" type="checkbox" name="role[]" value="3">
                                        <span></span>{{ $t('profileSettings.pokuprc') }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkbox-2">
                                    <label>
                                        <input v-model="form.role" type="checkbox" name="role[]" value="4">
                                        <span></span>{{ $t('profileSettings.prodavec') }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <field-select-multiple2
                                :options="[]"
                                :url="'/api/v1/get/po'"
                                :name="'po'"
                                :title="'po'"
                                v-model="form.po"
                                v-errors="'po'"
                        >
                        </field-select-multiple2>
                    </div>
                    <div class="col-lg-3">
                        <field-select-multiple3
                                :group="true"
                                :name="'vid_diyalnosti'"
                                :title="'profileSettings.vid_diyalnosti'"
                                v-model="form.vid_diyalnosti"
                                v-errors="'vid_diyalnosti'"
                        >
                        </field-select-multiple3>
                    </div>
                    <div class="col-lg-3">
                        <field-select-one2
                                :options="$dosvid.items()"
                                :name="'dosvid'"
                                v-model="form.dosvid"
                                :title="$t('profileSettings.dosvid')"
                                :label="$t('profileSettings.dosvid')"
                                v-errors="'dosvid'"
                        >
                        </field-select-one2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-30">
            <div class="col-lg-2">
                <label class="pf">{{ $t('profileSettings.first_name') }}</label>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row" v-errors="'gender'">
                            <div class="col-lg-6">
                                <div class="radio">
                                    <label>
                                        <input v-model="form.gender" type="radio" name="gender" value="1">
                                        <span></span>{{ $t('profileSettings.cholovik') }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" v-model="form.gender" name="gender" value="2">
                                        <span></span>{{ $t('profileSettings.zinka') }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group-1" v-errors="'name'">
                            <input v-model="form.name" type="text" name="first_name" class="form-control form-control-1" :placeholder="$t('profileSettings.first_name')">
                            <label>{{ $t('profileSettings.first_name') }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group-1" v-errors="'sname'">
                            <input v-model="form.sname" type="text" name="last_name" class="form-control form-control-1" :placeholder="$t('profileSettings.last_name')">
                            <label>{{ $t('profileSettings.last_name') }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group-1" v-errors="'login'">
                            <input v-model="form.login" type="text" name="login" class="form-control form-control-1" :placeholder="$t('profileSettings.login')">
                            <label>{{ $t('profileSettings.login') }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-30">
            <div class="col-lg-2">
                <label class="pf">{{ $t('profileSettings.age') }} <i class="fa fa-eye-slash" aria-hidden="true"></i></label>
            </div>
            <div class="col-lg-10">
                <div class="row"  v-errors="'birthday'">
                    <div class="col-lg-4">
                        <field-select-one2 v-if="Object.keys(profile).length"
                                :options="$bithday.days()"
                                :name="'birthday[day]'"
                                :title="$t('profileSettings.birthdayDay')"
                                :label="$t('profileSettings.birthdayDay')"
                                v-model="form.birthday.day"
                        >
                        </field-select-one2>

                    </div>
                    <div class="col-lg-4">
                        <field-select-one2 v-if="Object.keys(profile).length"
                                :options="$bithday.months()"
                                :name="'birthday[month]'"
                                v-model="form.birthday.month"
                                :title="$t('profileSettings.birthdayMonth')"
                                :label="$t('profileSettings.birthdayMonth')"
                        >
                        </field-select-one2>
                    </div>
                    <div class="col-lg-4">
                        <field-select-one2 v-if="Object.keys(profile).length"
                                :options="$bithday.years()"
                                :name="'birthday[year]'"
                                v-model="form.birthday.year"
                                :title="$t('profileSettings.birthdayYear')"
                                :label="$t('profileSettings.birthdayYear')"
                        >
                        </field-select-one2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-30">
            <div class="col-lg-2">
                <label class="pf">{{ $t('profileSettings.address') }}</label>
            </div>
            <div class="col-lg-10">
                <field-address v-if="Object.keys(profile).length"
                        :name="'address'"
                        :label="$t('profileSettings.cm')"
                        :placeholder="$t('profileSettings.cm')"
                        v-model="form.address"
                        v-errors="'address'"
                ></field-address>
            </div>
        </div>
        <div class="row m-b-30">
            <div class="col-lg-2">
                <label class="pf">{{ $t('profileSettings.web') }}</label>
            </div>
            <div class="col-lg-10">
                <web-r v-if="Object.keys(profile).length" :web="profile.web" :profile="profile"></web-r>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-save" type="submit">{{ $t('profileSettings.save') }} <i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('web-r', require('../fields/FieldSocial.vue'));

    export default {
        props: {
            profile: {
                type: [Array, Object],
                default: [],
            },
        },
        data(){
            return {
                form: {
                    role: [],
                    po: [],
                    vid_diyalnosti: [],
                    dosvid: null,
                    gender: null,
                    name: null,
                    sname: null,
                    login: null,
                    birthday:{
                        day: null,
                        month: null,
                        year: null,
                    },
                    address: null,
                },
                validate:{
                    role: {
                        label: 'profileSettings.role',
                        required: true,
                    },
                    po: {
                        label: 'po',
                        required: true,
                    },
                    vid_diyalnosti: {
                        label: 'profileSettings.vid_diyalnosti',
                        required: true,
                    },
                    dosvid: {
                        label: 'profileSettings.dosvid',
                        required: true,
                    },
                    gender: {
                        label: 'profileSettings.gender',
                        required: true,
                    },
                    name: {
                        label: 'profileSettings.first_name',
                        required: true,
                    },
                    sname: {
                        label: 'profileSettings.last_name',
                        required: true,
                    },
                    login: {
                        label: 'profileSettings.login',
                        required: true,
                    },
                    birthday:{
                        label: 'profileSettings.age',
                        required: true,
                    },
                    address: {
                        label: 'profileSettings.address',
                        required: true,
                    },
                },
            }
        },
        methods: {
            submitProfile: function(scope, e)
            {
                e.preventDefault();

                var valid = this.$validate.rules(this.validate, this.form);

                if(valid)
                {
                    this.$Progress.start();
                    axios.put('/api/v1/user/profile/'+this.$auth.getUser().id, this.form).then(response => {
                        EventBus.$emit('updateProfileBlock', response.data);
                        //
                        this.$notify({
                            type: 'success',
                            title: this.$t('success'),
                            text: this.$t('profileUpdated'),
                        });

                        this.$Progress.finish();
                    }).catch(error => {
                        this.$Progress.fail();
                    });
                }
            },
            setEdit: function () {
                this.form.role              = this.profile.role;
                this.form.name_shop         = this.profile.name_shop;
                this.form.vid_diyalnosti    = this.profile.vid_diyalnosti;
                this.form.dosvid            = this.profile.dosvid;
                this.form.gender            = this.profile.gender;
                this.form.name              = this.profile.name;
                this.form.sname             = this.profile.sname;
                this.form.login             = this.profile.login;
                this.form.birthday.day      = this.profile.birthday.day;
                this.form.birthday.month    = this.profile.birthday.month;
                this.form.birthday.year     = this.profile.birthday.year;
                this.form.address           = this.profile.address;
                this.form.po                = this.profile.po;

            }
        },
        mounted() {
            this.setEdit();
        }
    }
</script>