<template>
    <form id="login-form" v-on:submit="submitLogin('login', $event)" accept-charset="UTF-8" role="form">
        <div class="form-group" v-errors="'email'">
            <label class="lbl">E-mail</label>
            <input key="k1" v-model="form.email" name="email" type="email" class="form-inp" placeholder="E-mail">
        </div>
        <div class="form-group" v-errors="'password'">
            <label key="k1" class="lbl">{{ $t('loginBlock.password') }}</label>
            <input v-model="form.password" name="password" type="password" class="form-inp" :placeholder="$t('loginBlock.password')">
        </div>
        <div class="row butons">
            <div class="col-lg-6">
                <div class="checkbox checkbox-1">
                    <label><input v-model="form.remember" value="1" type="checkbox"><i></i>
                        <span>{{ $t('loginBlock.remember') }}</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <a href="javascript:void(0);" class="forgot" v-on:click="setForm('forgot')">{{ $t('loginBlock.forgot') }}</a>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<recaptcha v-model="form.captchaResponse" :sitekey="'6Lcy0UcUAAAAALmff7o4TX4rQsgxdurO9WiQkGWL'"></recaptcha>-->
        <!--</div>-->

        <button class="btn btn-trans w100p tup" type="submit">{{ $t('loginBlock.login') }} <i class="icon-enter"></i></button>
    </form><!--#login-form-->
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('recaptcha', require('../fields/FieldRecaptcha.vue'));

    export default {
        data(){
            return {
                form:{
                    email: null,
                    password: null,
                    remember: false,
                    //captchaResponse: null,
                },
                validate:{
                    email: {
                        label: 'email',
                        required: true,
                    },
                    password: {
                        label: 'loginBlock.password',
                        required: true,
                        min: 6,
                    },
//                    captchaResponse: {
//                        label: 'Captcha',
//                        required: true,
//                    },
                },
            }
        },
        methods: {
            submitLogin: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validate.rules(this.validate, this.form);
                if(valid)
                {
                    this.$Progress.start();
                    axios.post('/api/v1/user/login', this.form).then(response => {
                        this.$auth.setToken(response.data.token, response.data.expiration);
                        window.location.href = '/';
                        this.$Progress.finish();
                    }).catch(error => {
                        this.$msg.axiosErr(error, this.$notify, this.$i18n);
                        this.$Progress.fail();
                    });
                }
            },
            setForm: function (item) {
                EventBus.$emit('setLoginForm', item);
            }
        },
        mounted() {

        }
    }
</script>