<template>
    <form v-on:submit="submitCard('submitCard', $event)" id="submitCard"  accept-charset="UTF-8" role="form">
        <div class="row">
            <div class="col-lg-12 m-b-20">
                <div class="form-group form-group-1">
                    <input v-model="wm.wm_id" type="number" name="wm_id" class="form-control form-control-1" placeholder="WMID">
                    <label>WMID</label>
                </div>
            </div>
            <div class="col-lg-12 m-b-20">
                <div class="form-group form-group-1">
                    <input v-model="wm.wm_wallet" type="text" name="wm_wallet" class="form-control form-control-1" :placeholder="$t('purse_number')">
                    <label>{{ $t('purse_number') }}</label>
                </div>
            </div>
        </div>
        <button class="btn btn-green fb">{{ $t('to_add') }} <i v-if="loading" class="fa fa-spinner fa-pulse"></i> </button>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                loading: false,
                wm:{
                    user_id: this.$auth.getUser().id,
                    type: 'webmoney',
                    wm_id:null,
                    wm_wallet:null,
                },
                validate:{
                    rules:{
                        'wm_id': {
                            label: 'WMID',
                            required: true,
                        },
                        'wm_wallet': {
                            label: this.$i18n.t('purse_number'),
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitCard: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    this.loading = true;
                    axios.post('/api/v1/profile/add/payments', this.wm).then(response => {
                        this.$notify({
                            type: 'success',
                            title: this.$t('the_wallet_is_added'),
                            text: this.$t('but_to_get_payments_on_her_be_tested_please'),
                        });
                        EventBus.$emit('onAddPm', response.data);
                        this.loading = false;
                    }).catch(error => {
                        this.loading = false;
                        this.$msg.errLocale(error, this.$notify, this.$t('error'));
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            },
        },
        mounted() {

        }
    }
</script>