<template>
    <form v-on:submit="submitCard('submitCard', $event)" id="submitCard"  accept-charset="UTF-8" role="form">
        <div class="row m-b-20">
            <div class="col-lg-12">
                <div class="form-group form-group-1">
                    <input v-model="card.company" type="text" name="company" class="form-control form-control-1" :placeholder="$t('the_legal_name')">
                    <label>{{ $t('the_legal_name') }}</label>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-12">
                <div class="form-group form-group-1">
                    <field-scan v-model="card.images"></field-scan>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-6">
                <div class="form-group form-group-1">
                    <input v-model="card.vat" type="number" min="0" name="vat" class="form-control form-control-1" :placeholder="$t('the_i_d_companies_v_a_t')">
                    <label>{{ $t('the_i_d_companies_v_a_t') }}</label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-group-1">
                    <input v-model="card.inn" type="number" min="0" name="inn" class="form-control form-control-1" :placeholder="$t('code_of_y_e_d_r_p_o_u')">
                    <label>{{ $t('code_of_y_e_d_r_p_o_u') }}</label>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-8">
                <field-address
                        :name="'address'"
                        :label="$t('profileSettings.cm')"
                        :placeholder="$t('profileSettings.cm')"
                        v-model="card.address"
                ></field-address>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-group-1">
                    <input v-model="card.zip" type="number" min="0" name="zip" class="form-control form-control-1" :placeholder="$t('index')">
                    <label>{{ $t('index') }}</label>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-8">
                <div class="form-group form-group-1">
                    <input v-model="card.bank_name" type="text" name="bank_name" class="form-control form-control-1" :placeholder="$t('the_name_of_the_bank')">
                    <label>{{ $t('the_name_of_the_bank') }}</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-group-1">
                    <input v-model="card.bank_mfo" type="number" min="0" name="bank_mfo" class="form-control form-control-1" :placeholder="$t('sort_code')">
                    <label>{{ $t('sort_code') }}</label>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-12">
                <div class="form-group form-group-1">
                    <input v-model="card.bank_account" type="number" min="0" name="bank_account" class="form-control form-control-1" :placeholder="$t('current_account')">
                    <label>{{ $t('current_account') }}</label>
                </div>
            </div>
        </div>
        <button class="btn btn-green fb">{{ $t('to_add') }} <i v-if="loading" class="fa fa-spinner fa-pulse"></i> </button>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('field-scan', require('../fields/FieldScan.vue'));

    export default {
        data(){
            return {
                loading: false,
                card:{
                    user_id: this.$auth.getUser().id,
                    type: 'bank',
                    company:null,
                    images: null,
                    vat: null,
                    inn: null,
                    address: {
                        address: null,
                    },
                    zip: null,
                    bank_name: null,
                    bank_mfo: null,
                    bank_account: null,
                },
                validate:{
                    rules:{
                        'company': {
                            label: this.$i18n.t('the_legal_name'),
                            required: true,
                        },
                        'vat': {
                            label: this.$i18n.t('the_i_d_companies_v_a_t'),
                            required: true,
                        },
                        'inn': {
                            label: this.$i18n.t('code_of_y_e_d_r_p_o_u'),
                            required: true,
                        },
                        'address': {
                            label: this.$i18n.t('profileSettings.cm'),
                            required: true,
                        },
                        'zip': {
                            label: this.$i18n.t('index'),
                            required: true,
                        },
                        'bank_name': {
                            label: this.$i18n.t('the_name_of_the_bank'),
                            required: true,
                        },
                        'bank_mfo': {
                            label: this.$i18n.t('sort_code'),
                            required: true,
                        },
                        'bank_account': {
                            label: this.$i18n.t('current_account'),
                            required: true,
                        },
                        'image':{
                            label: this.$i18n.t('scan_of_the_articles_of_incorporations_of_the_company'),
                            required: true,
                        }
                    }
                },
            }
        },
        methods: {
            submitCard: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    this.loading = true;
                    axios.post('/api/v1/profile/add/payments', this.card).then(response => {
                        this.$notify({
                            type: 'success',
                            title: this.$t('added_a_card'),
                            text: this.$t('but_to_get_payments_on_her_be_tested_please'),
                        });
                        EventBus.$emit('onAddPm', response.data);
                        this.loading = false;
                    }).catch(error => {
                        this.loading = false;
                        this.$msg.errLocale(error, this.$notify, this.$t('error'));
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            },
        },
        mounted() {

        }
    }
</script>