<template>
    <form v-on:submit="submitFinances('submitFinances', $event)" id="submitFinances"  accept-charset="UTF-8" role="form">
        <div class="row m-b-20">
            <div class="col-lg-3">
                <label class="p-t-10">{{ $t('profileSettings.methods_of_the_payment') }}</label>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="radio">
                            <label>
                                <input v-model="profile.metod_optaty" type="radio" name="metod_optaty" value="card">
                                <span></span>{{ $t('profileSettings.credit_card') }}
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="radio">
                            <label>
                                <input v-model="profile.metod_optaty" type="radio" name="metod_optaty" value="webmoney">
                                <span></span> Webmoney
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-lg-12">
                <div class="checkbox-2">
                    <label>
                        <input type="checkbox" name="pravila" value="1">
                        <span></span> {{ $t('profileSettings.i_agree_with_conditions') }}
                    </label>
                    <p>{{ $t('profileSettings.for_detailed_information_to_call') }} <a href="javascript:void(0);">{{ $t('profileSettings.here') }}</a></p>
                </div>
            </div>
        </div>
        <div class="text-left">
            <button class="btn btn-save" type="submit">{{ $t('profileSettings.save') }} <i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    Vue.component('field-upload-foto', require('../fields/FieldUploadFoto.vue'));

    export default {
        props: {
            profile: {
                type: [String, Number, Array, Object],
                default: null,
            },
        },
        data(){
            return {
                validate: {
                    rules:{
                        'pravila': {
                            label: this.$t('profileSettings.pravila'),
                            required: true,
                            checkbox: true,
                        },
                        'metod_optaty': {
                            label: this.$t('profileSettings.metod_optaty'),
                            required: true,
                            radio: true,
                        },
                    }
                },

            }
        },

        methods: {
            submitFinances: function (scope, e) {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {

                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            }
        },
        watch: {

        },
        mounted() {
            var vm = this;
            EventBus.$on('lang', function (lang) {
                vm.validate = vm.validate;
            });
        }
    }
</script>