<template>
    <form v-on:submit="submitCreateMessageCategory('form-create-category-message', $event)" id="form-create-category-message"  accept-charset="UTF-8" role="form">
        <div class="form-group form-group-2">
            <label>{{ $t('the_name') }}</label>
            <input v-model="create.name" type="text" name="name" class="form-control form-control-2">
        </div>
        <button class="btn btn-gray w100p">{{ $t('save') }}</button>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props:{
            edit: {
                type: [Array, Object],
                default: [],
            }
        },
        data(){
            return {
                create: {
                  name: null,
                },
                validate: {
                    rules:{
                        'name': {
                            label: this.$t('the_name_of_the_folder'),
                            required: true,
                        },
                    }
                },

            }
        },
        methods: {
            submitCreateMessageCategory: function (scope, e) {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    if(Object.keys(this.edit).length == 0)
                    {
                        axios.post('/api/v1/message/category/create', this.create).then(response => {
                            EventBus.$emit('createMessageCategory', response.data);
                        }).catch(error => {

                        });
                    }
                    else
                    {
                        axios.put('/api/v1/message/category/'+this.edit.id, this.create).then(response => {
                            EventBus.$emit('updateMessageCategory', response.data);
                        }).catch(error => {

                        });
                    }
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            }
        },
        mounted() {
            var vm = this;
            if(this.edit){
                this.create.name = this.edit.name_long;
            }

        }
    }
</script>