<template>
    <form v-on:submit="submitFilterDruziv('filterDruziv', $event)" id="filterDruziv"  accept-charset="UTF-8" role="form">
        <field-address
                       :name="'address'"
                       :label="$t('profileSettings.cm')"
                       :placeholder="$t('profileSettings.cm')"
                       v-model="filter.address"
        ></field-address>

        <div class="form-group">
            <field-select-multiple2
                    :options="[]"
                    :url="'/api/v1/get/po'"
                    :name="'po'"
                    :title="'po'"
                    v-model="filter.po"
                    v-errors="'po'"
            >
            </field-select-multiple2>
        </div>

    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {

        data(){
            return {
                filter:{
                    address: {
                        address: null,
                    },
                    po: [],
                }
            }
        },
        watch: {
            'filter.address.address': function (data) {
                EventBus.$emit('changeFilterDruziv', this.filter);
            },
            'filter.po': function (data) {
                EventBus.$emit('changeFilterDruziv', this.filter);
            }
        },
        methods: {
            getData: function () {
                console.log(this.filter);
            }
        },
        mounted() {
            var vm = this;
//            EventBus.$on('changeField', function (val) {
//                EventBus.$emit('changeFilterDruziv', vm.filter);
//            });
        }
    }
</script>