<template>
    <form id="forgot-form" v-on:submit="submitForgot('forgot', $event)" accept-charset="UTF-8" role="form">
        <div class="form-group">
            <label class="lbl">E-mail</label>
            <input key="k3" v-model="form.email" name="email" type="email" class="form-inp" placeholder="E-mail">
        </div>
        <div class="row butons">
            <div class="col-lg-8">
                <!--<div class="row">-->
                    <!--<div class="col-lg-4">-->
                        <!--<img :src="captchaImg" data-toggle="tooltip" data-placement="top" :title="$t('captcha.tolltip')" class="img-responsive" alt="captcha" v-on:click="genCaptcha">-->
                    <!--</div>-->
                    <!--<div class="col-lg-8">-->
                        <!--<div class="form-group m-b-0">-->
                            <!--<input key="k3" v-model="forgot.captcha" data-vv-as="Captha" v-validate="'required'" name="forgot_captcha" type="text" class="form-inp" placeholder="Captha">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-lg-4 text-right">
                <a href="javascript:void(0);" class="forgot" v-on:click="setForm('login')">{{ $t('loginBlock.iforgot') }}</a>
            </div>
        </div>
        <button class="btn btn-trans w100p tup">{{ $t('loginBlock.unpass') }}</button>
    </form><!--#forgot-form-->
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                form:{
                    email: null,
                },
                validate:{
                    rules:{
                        'email': {
                            label: this.$i18n.t('email'),
                            required: true,
                            email: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitForgot: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    this.$Progress.start();
                    axios.post('/api/v1/user/forgot', this.form).then(response => {
                        this.$notify({
                            type: 'success',
                            text: 'Новий пароль відправлено вам на почту.',
                        });
                        EventBus.$emit('setLoginForm', 'login');
                        this.$Progress.finish();
                    }).catch(error => {
                        this.$msg.axiosErr(error, this.$notify, this.$i18n);
                        this.$Progress.fail();
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            },
            setForm: function (item) {
                EventBus.$emit('setLoginForm', item);
            }
        },
        mounted() {

        }
    }
</script>