<template>
    <form>
        <div class="form-group form-group-1">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <input v-model="name" type="text" name="poshuk" class="form-control form-control-1" placeholder="Пошук">
                <span class="input-group-addon" v-if="total">{{ total }}</span>
            </div>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                name: null,
                total: null,
            }
        },
        watch: {
            name: function (val) {
                EventBus.$emit('changeFilterDruzivByName', val);
            }
        },
        methods: {

        },
        mounted() {
            var vm = this;
            EventBus.$on('changeTotalInDruzi', function (val) {
                vm.total = val;
            });
        }
    }
</script>