<template>
    <form id="register-form" v-on:submit="submitRegister('register', $event)" accept-charset="UTF-8" role="form">
        <div class="form-group" v-errors="'email'">
            <label class="lbl">E-mail</label>
            <input key="k2" v-model="form.email" name="email" type="email" class="form-inp" placeholder="E-mail">
        </div>
        <div class="form-group" v-errors="'password'">
            <label class="lbl">{{ $t('loginBlock.password') }}</label>
            <input key="k2" v-model="form.password" name="password" type="password" class="form-inp" :placeholder="$t('loginBlock.password')">
        </div>
        <div class="row butons">
            <div class="col-lg-8">
                <recaptcha v-model="form.captchaResponse" :sitekey="'6Lcy0UcUAAAAALmff7o4TX4rQsgxdurO9WiQkGWL'"></recaptcha>
            </div>
            <div class="col-lg-4 text-right">
                <a href="javascript:void(0);" class="forgot" v-on:click="setForm('login')">{{ $t('loginBlock.eacc') }}</a>
            </div>
        </div>
        <button class="btn btn-trans w100p tup" type="submit">{{ $t('loginBlock.register') }}</button>
    </form><!--#register-form-->
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('recaptcha', require('../fields/FieldRecaptcha.vue'));

    export default {
        data(){
            return {
                form:{
                    email: null,
                    password: null,
                    captchaResponse: null,
                },
                validate:{
                    email: {
                        label: 'email',
                        required: true,
                    },
                    password: {
                        label: 'loginBlock.password',
                        required: true,
                        min: 6,
                    },
                    captchaResponse: {
                        label: 'Captcha',
                        required: true,
                    },
                },
            }
        },
        methods: {
            submitRegister: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validate.rules(this.validate, this.form);
                if(valid)
                {
                    this.$Progress.start();
                    axios.post('/api/v1/user/register', this.form).then(response => {
                        this.$auth.setToken(response.data.token, response.data.expiration);
                        window.location.href = '/';
                        this.$Progress.finish();
                    }).catch(error => {
                        this.$msg.axiosErr(error, this.$notify, this.$i18n);
                        this.$Progress.fail();
                    });
                }
            },
            setForm: function (item) {
                EventBus.$emit('setLoginForm', item);
            }
        },
        mounted() {

        }
    }
</script>