<template>
    <form v-on:submit="submitMessage('form-submit-reply', $event)" id="form-submit-reply"  accept-charset="UTF-8" role="form">
        <vue-editor v-model="add.message"  :editorToolbar="customToolbar" v-meta-ctrl-enter="setSubmit"></vue-editor>
        <div class="reply-bottom text-right">
            <button class="btn btn-editor" type="button" @click="getFile">
                <i class="fa fa-paperclip" aria-hidden="true" v-if="!loadFile"></i>
                <i class="fa fa-spinner fa-spin" aria-hidden="true" v-if="loadFile"></i>
                <input id="upload-msg" class="hidden" type="file" @change="onFileChange">
            </button>
            <button class="btn btn-editor" type="button" @click="showEditor">
                <i class="fa fa-align-right" aria-hidden="true"></i>
            </button>
            <button class="btn btn-reply" type="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
        <!--<open-image v-if="showImage" @close="showImage = false" :src="img"></open-image>-->
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import { VueEditor } from 'vue2-editor';
//    Vue.component('open-image', require('../messages/OpenImage.vue'));

    export default {
        components: {
            VueEditor
        },
        data(){
            return {
                resize: false,
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['blockquote'],
                    ['clean']
                ],
                add:{
                    message: null,
                    message_id: this.$route.params.id,
                    status: 0,
                },
                validate:{
                    message: {
                        label: 'menuProfile.Povidomlennya',
                        required: true,
                        clearHtml: true,
                    },
                },
                loadFile: false,
                showImage: false,
            }
        },
        methods: {
            submitMessage: function (scope, e) {
                e.preventDefault();
                var valid = this.$validate.rules(this.validate, this.add);
                if(valid)
                {
                    axios.post('/api/v1/message/reply', this.add).then(response => {
                        this.$notify({
                            type: 'success',
                            title: this.$i18n.t('success'),
                            text: this.$i18n.t('messages_are_sent'),
                        });
                        //
                        this.add = {
                            message: null,
                            message_id: this.$route.params.id,
                            status: 0,
                        };
                    }).catch(error => {

                    });
                }
            },
            showEditor: function () {
                $('#form-submit-reply .ql-toolbar.ql-snow').slideToggle();
            },
            setSubmit: function () {
                $('#form-submit-reply .btn-reply').click();
                this.add = {
                    message: null,
                    message_id: this.$route.params.id,
                    status: 0,
                };
                $('.ql-editor').html('');
            },
            getFile: function () {
                $('#upload-msg').click();
            },
            onFileChange: function (e) {
                var files = e.target.files || e.dataTransfer.files;
                var file = files[0];

                this.uploadFile(file);

            },
            uploadFile: function (file) {
                var vm = this;
                var form_data = new FormData();
                form_data.append('image', file);
                form_data.append('folder', 'chat');
                form_data.append('message_id', this.$route.params.id);

                //
                this.loadFile = true;
                axios.post('/api/v1/message/send/file', form_data).then(response => {
                    this.loadFile = false;
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Загрузки фото!',
                    });
                    this.loadFile = false;
                });
            },
        },
        watch:{
            '$route': function () {
                this.add.message_id = this.$route.params.id;
            },
        },
        mounted() {
            var vm = this;
            //
        }
    }
</script>