<template>
    <div class="btn-group btn-group-v-select">
        <button type="button" class="btn btn-v-select dropdown-toggle" data-toggle="dropdown">{{ selected }} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <template v-for="option in optionsData">
                <li @click="select(option)"><span>{{ option.name }}</span></li>
            </template>
        </ul>
    </div>
</template>

<script>
    import { events }    from './events';

    export default{
        props: {
            value: {
                type: [Number, String],
                default: null,
            },
            name: {
                type: [String],
                default: null,
            },
            placeholder: {
                type: [String],
                default: '- Выбрать -',
            },
            options: {
                type: [Object, Array],
                default: function () {
                    var data = [];
                    data.push({id: null, name: '- Выбрать -'});
                    return data;
                }
            },
            url: {
                type: [String],
                default: null,
            },
            dependent: {
                type: [String],
                default: null,
            },
        },
        data(){
            return {
                selected: this.placeholder,
                loadOprions: false,
                optionsData: this.options,
            }
        },
        watch:{
            value: function (val) {
                var item = _.find(this.options, { 'id': val});
                this.selected = item.name;
            }
        },
        methods: {
            getOptions: function (url, query) {
                this.loadOprions = true;
                axios.post(url, query).then(response => {
                    this.loadOprions = false;
                    if(response.data.length)
                    {
                        this.optionsData = response.data;
                        this.selected = this.placeholder;
                    }
                    else
                    {
                        this.optionsData = this.options;
                    }

                }).catch(error => {
                    this.selected = 'Ошибка!';
                    this.loadOprions = false;
                });
            },
            select: function (item) {
                this.$emit('input', item.id);
                this.$emit('onSelect', item);
                if(this.dependent)
                {
                    events.$emit(this.dependent, item);
                }
            }
        },
        mounted(){
            var vm = this;
            if(this.url)
            {
                this.getOptions(this.url);
            }
            //
            if(this.name)
            {
                events.$on(this.name, function (data) {
                    vm.getOptions(vm.url, {name: data.name});
                });
            }
            //
            if(this.value)
            {
                this.$nextTick(function () {
                    var item = _.find(this.options, { 'id': this.value});
                    if(item)
                    {
                        this.selected = item.name;
                    }
                })
            }

        }
    }
</script>