<template>
    <div id="block-rekomrndovani-druzi" v-if="!loadData">
        <h2>{{ $t('recommended_friends') }}</h2>
        <VuePerfectScrollbar :settings="settings" class="scroll-rekomrndovani-druzi" ref="scroll">
            <ul v-if="users.length">
                <li v-for="user in users">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="user-ava-wrp">
                                <button-friend :user="user"></button-friend>
                                <router-link target="_blank" :to="{name: 'user', params:{slug: user.slug}}">
                                    <img :src="'/avatar/40x40/'+user.id" :alt="user.fullname" class="img-circle img-responsive avaprofile">
                                </router-link>
                            </div>
                        </div>
                        <div class="col-lg-8 p-l-0">
                            <h3><a href="javascript:void(0);">{{ user.fullname }}</a></h3>
                            <div class="address" v-if="user.address.address">{{ user.address.address }}</div>
                            <div class="vid_diyalnosti" v-if="user.vid_diyalnosti">{{ user.vid_diyalnosti[$locale.current()] }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </VuePerfectScrollbar>
    </div>
</template>

<script>

    import VuePerfectScrollbar from 'vue-perfect-scrollbar';

    Vue.component('button-friend', require('../../user/friends/ButtonFriend.vue'));

    export default {
        components: {
            VuePerfectScrollbar
        },
        data(){
            return {
                users: [],
                loadData: false,
                settings:{
                    suppressScrollX: true,
                }
            }
        },
        watch:{
            '$route': 'getData',
        },
        methods: {
            getData: function()
            {
                this.loadData = true;
                axios.get('/api/v1/friends/rekomendovani').then(response => {
                    this.users = response.data;
                    this.loadData = false;
                }).catch(error => {
                    this.loadData = false;
                });
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>