<template>
    <button class="btn btn-ico btn-friend" v-html="icons[currentIco]" type="button" @click="setAction(action)"></button>
</template>

<script>
    import { EventBus } from '../../event-bus.js';

    export default {
        props:{
            user: {
                type: Object,
                default: null,
            }
        },
        data(){
            return {
                currentIco: 'add',
                action: 'addToFriend',
                icons:{
                    add: '<i class="models-svg-060"></i>',
                    myfriend: '<i class="models-svg-056"><span class="path1"></span> <span class="path2"></span> <span class="path3"></span></i>',
                    remove: '<i class="models-svg-053"><span class="path1"></span> <span class="path2"></span> <span class="path3"></span></i>',
                    apply: '<i class="models-svg-055"><span class="path1"></span> <span class="path2"></span> <span class="path3"></span></i>',
                    wait: '<i class="models-svg-062"></i>',
                }
            }
        },
        methods: {
            setAction: function (action) {
                switch (action)
                {
                    case 'addToFriend':
                        this.currentIco = 'wait';
                        this.action = 'waitFriend';

                        axios.post('/api/v1/friends/request/'+this.user.id).then(response => {
                            this.$notify({
                                type: 'success',
                                title: this.$i18n.t('success'),
                                text: this.$i18n.t('your_request_is_sent'),
                            });
                        }).catch(error => {

                        });
                        break;
                    case 'removeFriend':
                        this.user.show = false;
                        axios.post('/api/v1/friends/remove/'+this.user.id).then(response => {

                        }).catch(error => {

                        });
                        break;
                }
            },
            updateAction: function (user) {
                //
                if(user.is_friend)
                {
                    this.currentIco = 'myfriend';
                    this.action = 'removeFriend';
                }
                //
                if(user.is_friend == 'requestFromMe')
                {
                    this.currentIco = 'wait';
                    this.action = 'waitFriend';
                }
                //
                if(user.is_friend == 'requestToMe')
                {
                    this.currentIco = 'apply';
                    this.action = 'applyFriend';
                }
            }
        },
        watch:{
            user: function (data) {
                this.updateAction(data);
            }
        },
        mounted() {
            var vm = this;
            this.updateAction(this.user);

        }
    }
</script>