<template>
    <nav id="menu-druzi" class="l-menu" :class="'lang-'+$t('lang')">
        <router-link to="/profile/friends"><span>{{ $t('menuDruzi.vsi_druzi') }} ({{ count.all }})</span></router-link>
        <router-link to="/profile/friends/online"><span>{{ $t('menuDruzi.v_merezi') }} ({{ count.online }})</span></router-link>
        <router-link to="/profile/friends/request"><span>{{ $t('menuDruzi.zapit_v_druzi') }} ({{ count.req }})</span></router-link>
        <router-link to="/profile/friends/add"><span>Додати друзів</span></router-link>
    </nav>
</template>

<script>
    export default {
        data(){
            return {
                count: {
                    all: this.$storage.hasKey('CountAllFriend') ? this.$storage.get('CountAllFriend') : 0,
                    online: this.$storage.hasKey('CountFriendOnline') ? this.$storage.get('CountFriendOnline') : 0,
                    req: this.$storage.hasKey('CountFriendReq') ? this.$storage.get('CountFriendReq') : 0,
                }
            }
        },
        methods: {
            getData: function () {

                axios.post('/api/v1/friends/menu');
                //
                this.$echo.channel('CountAllFriend.'+this.$auth.getUser().id).listen('.Modules.User.Events.CountAllFriendEvent', (payload) => {
                    this.count.all = payload.count;
                    this.$storage.set('CountAllFriend', payload.count);
                });
                //
                this.$echo.channel('CountFriendOnline.'+this.$auth.getUser().id).listen('.Modules.User.Events.CountFriendOnlineEvent', (payload) => {
                    this.count.online = payload.count;
                    this.$storage.set('CountFriendOnline', payload.count);
                });
                //
                this.$echo.channel('CountFriendReq.'+this.$auth.getUser().id).listen('.Modules.User.Events.CountFriendReqEvent', (payload) => {
                    this.count.req = payload.count;
                    this.$storage.set('CountFriendReq', payload.count);
                });
            },
        },
        destroyed: function() {

        },
        mounted() {
            this.getData();
            //
        }
    }
</script>