<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <menu-druzi></menu-druzi>
                </div>
                <div class="col-lg-9">

                    <div class="row" v-if="!loadData">
                        <div class="col-lg-9">
                            <div class="druzi-list" v-if="Object.keys(users).length && users.data.length">
                                <template v-for="user in users.data">
                                    <transition name="fade" mode="out-in" appear>
                                        <tpl-druzi-zapit :user="user" @apply="onApply" @cancel="onCancel" @removereq="onRemovereq" v-show="user.show"></tpl-druzi-zapit>
                                    </transition>
                                </template>
                                <loading v-if="loading"></loading>
                            </div>
                            <div class="panel panel-default" v-else>
                                <div class="panel-heading">{{ $t('to_wash_down_friends') }}</div>
                                <div class="panel-body">
                                    <p class="text-center">{{ $t('requests_are_absent') }}</p>
                                    <p class="text-center"><i class="fa fa-address-book-o fa-6 cof5" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';

    Vue.component('menu-druzi', require('./MenuDruzi.vue'));
    Vue.component('tpl-druzi-zapit', require('../../tpl/TplDruziZapit.vue'));

    export default {
        data(){
            return {
                users: [],
                loading: false,
                loadData: false,
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.loadData = true;
                this.$Progress.start();
                axios.get('/api/v1/friends/request').then(response => {
                    this.users = response.data;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
            loadMore: function () {
                var vm = this;
                this.loading = true;
                axios.get(vm.users.next_page_url).then(response => {
                    $.each(response.data.data, function(k, v){
                        vm.users.data.push(v);
                    });
                    vm.users.current_page = response.data.current_page;
                    vm.users.next_page_url = response.data.next_page_url;
                    this.loading = false;
                }).catch(error => {
                    this.loading = false;
                });
            },
            onApply: function (data) {
                data.show = false;
                axios.get('/api/v1/friends/request').then(response => {
                    this.users = response.data;
                });
            },
            onCancel: function (data) {
                data.show = false;
                axios.get('/api/v1/friends/request').then(response => {
                    this.users = response.data;
                });
            },
            onRemovereq: function (data) {
                data.show = false;
                axios.get('/api/v1/friends/request').then(response => {
                    this.users = response.data;
                });
            }
        },
        watch:{
            users: function (data) {
                var friend = [];
                _.forEach(data.data, function (v) {
                    if(v.friend !== undefined)
                    {
                        friend.push(v.friend);
                    }
                    else
                    {
                        friend.push(v);
                    }
                });
                this.users.data = friend;
            }
        },
        mounted() {
            var vm = this;
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
            //
            $(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    vm.loadMore();
                }
            });
            //
            EventBus.$on('onRefuse', function (user) {
                _.forEach(vm.users.data, function (v, i) {
                   if(user.id == v.id)
                   {
                       vm.users.data.splice(i, 1);
                   }
                });
            });
        }
    }
</script>