<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <menu-druzi></menu-druzi>
                </div>
                <div class="col-lg-9"> 
                    <div class="row m-b-30">
                        <div class="col-lg-12">
                            <form-poshuk-druziv></form-poshuk-druziv>
                        </div>
                        <!--<div class="col-lg-3">-->
                            <!--<button class="btn btn-default btn-xs w100p text-uppercase" @click="openFilter">{{ $t('to_add_friends') }}</button>-->
                        <!--</div>-->
                    </div>

                    <div class="row">
                        <div class="col-lg-9">
                            <div class="druzi-list">
                                <template v-for="user in users.data">
                                    <transition name="fade" mode="out-in" appear>
                                        <tpl-druzi :user="user" :type="'all'" v-show="user.show"></tpl-druzi>
                                    </transition>
                                </template>
                                <loading v-if="loading"></loading>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <form-filter-druziv v-if="filter"></form-filter-druziv>
                            <block-rekomendovani-druzi v-if="!filter"></block-rekomendovani-druzi>
                        </div>
                    </div>

                </div>
            </div> 
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';

    Vue.component('menu-druzi', require('./MenuDruzi.vue'));
    Vue.component('form-poshuk-druziv', require('../../forms/FormPoshukDruziv.vue'));
    Vue.component('form-filter-druziv', require('../../forms/FormFilterDruziv.vue'));
    Vue.component('block-rekomendovani-druzi', require('./BlockRekomendovaniDruzi.vue'));
    Vue.component('tpl-druzi', require('../../tpl/TplDruzi.vue'));
   
    export default {
        data(){
            return {
                filter: false,
                users: [],
                loading: false,
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function(request = null)
            {
                var path = request ? '/api/v1/friends?'+request : '/api/v1/friends';

                this.$Progress.start();
                axios.get(path).then(response => {
                    this.users = response.data;
                    this.$Progress.finish();
                    EventBus.$emit('changeTotalInDruzi', response.data.total);

                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            loadMore: function () {
                var vm = this;
                this.loading = true;
                axios.get(vm.users.next_page_url).then(response => {
                    $.each(response.data.data, function(k, v){
                        vm.users.data.push(v);
                    });
                    vm.users.current_page = response.data.current_page;
                    vm.users.next_page_url = response.data.next_page_url;
                    this.loading = false;
                }).catch(error => {
                    this.loading = false;
                });
            },
            openFilter: function () {
                this.filter = !this.filter;
                if(this.filter == false)
                {
                    this.getData();
                }
            }
        },
        watch:{
            users: function (data) {
                var friend = [];
                _.forEach(data.data, function (v) {
                    if(v.friend !== undefined)
                    {
                        friend.push(v.friend);
                    }
                    else
                    {
                        friend.push(v);
                    }
                });
                this.users.data = friend;
            }
        },
        mounted() {
            var vm = this;
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
            //
            $(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    vm.loadMore();
                }
            });
            //changeFilterDruziv
            EventBus.$on('changeFilterDruziv', function (data) {
                var q = {
                    country: data.address.address ? data.address.country : '',
                    city: data.address.address ? data.address.city : '',
                };
                if(data.vid_diyalnosti.length)
                {
                    _.forEach(data.vid_diyalnosti, function (v,k) {
                        q['vid_diyalnosti['+k+']'] = v;
                    })
                }
                vm.getData(vm.$query.encode(q));
            });
            //changeFilterDruzivByName
            EventBus.$on('changeFilterDruzivByName', function (data) {
                var q = {
                    name: data,
                };
                setTimeout(function () {
                    vm.getData(vm.$query.encode(q));
                }, 1000);
            });

        }
    }
</script>