<template>
    <div class="page-login">

    </div> 
</template>

<script>
    export default {
        data(){
            return {

            } 
        },
        methods:{

        },
        mounted() {

        }
    }
</script>