<template>
    <div class="text-center p-t-50">Logout...</div>
</template>

<script>
    
    export default {
        data(){
            return {
                
            }  
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods: {
            fetchData: function()
            {
                axios.post('/api/v1/logout').then(response => {
                    this.$auth.logout();
                    this.$router.push('/');
                }).catch(error => {
                    
                });
            }
        },
        mounted() {
            console.log('Component mounted Logout.');
            this.fetchData();
        }
    }
</script>