<template>
    <div class="page-404">
        <div id="block-1"  class="container">
            <h1>404</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">Запрашиваемая страница более не доступна, или вы ошиблись адресом.</p>
                </div>
            </div>
        </div>
    </div>
</template>