<template>
    <div class="container">
        <div class="p-15">
            <div class="row">
                <template v-for="n in 183">
                    <div class="col-lg-1 text-center" v-if="String(n).length == 1">
                        <i class="f-sz-24 hovered" :class="'models-svg-00'+n"></i>
                        <p>models-svg-00{{n}}</p>
                    </div>
                    <div class="col-lg-1 text-center" v-else-if="String(n).length == 2">
                        <i v-if="n==53" class="f-sz-24 hovered" :class="'models-svg-0'+n">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <i v-else-if="n==55" class="f-sz-24 hovered" :class="'models-svg-0'+n">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <i v-else-if="n==56" class="f-sz-24 hovered" :class="'models-svg-0'+n">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <i v-else-if="n==58" class="f-sz-24 hovered" :class="'models-svg-0'+n">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <i v-else-if="n==63" class="f-sz-24 hovered" :class="'models-svg-0'+n">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                        </i>
                        <i class="f-sz-24 hovered" :class="'models-svg-0'+n" v-else></i>
                        <p>models-svg-0{{n}}</p>
                    </div>
                    <div class="col-lg-1 text-center" v-else>
                        <i class="f-sz-24 hovered" :class="'models-svg-'+n"></i>
                        <p>models-svg-{{n}}</p>
                    </div>
                </template>
            </div>
            <div class="col-lg-1 text-center">
                <i class="f-sz-24 hovered" :class="'models-check-circle'"></i>
                <p>models-check-circle</p>
            </div>
            <div class="col-lg-1 text-center">
                <i class="f-sz-24 hovered" :class="'models-x-circle'"></i>
                <p>models-x-circle</p>
            </div>

        </div>
    </div>
</template>