<template>
    <div class="page-404">
        <div id="block-1"  class="container">
            <h1>Test upload</h1>
        </div>
        <div class="container">
            <input type="file" @change="onFileChange"/>

            <pre>{{ files }}</pre>
        </div>
    </div>
</template>

<script>
    import { UPLOAD_IMAGE } from '../../graphql';
    import { ReactNativeFile } from 'apollo-upload-client';

    export default{
        data(){
            return{
                files: null,
            }
        },
        methods:{
            onFileChange: function(e){
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                var form_data = new FormData();
//                _.forEach(files, function (v) {
//                    form_data.append('file[]',v);
//                });
                form_data.append('operations', '{ "query": "mutation($file:file_upload!){AllCgStorageUpload(file:$file)}", "variables": { "file": null } }');
                form_data.append('map', '{ "0": ["variables.file"] }');
                form_data.append('0', files[0]);
                //this.files = files;
                console.log(form_data);

                //const file = new ReactNativeFile(files[0]);
                axios.post('/graphql', form_data).then(response => {
                        console.log(response);
                });

                //const file = new ReactNativeFile(files[0]);
                //console.log(UPLOAD_IMAGE);

//                this.$apollo.mutate({
//                    mutation: UPLOAD_IMAGE,
//                    variables: {
//                        file: files[0],
//                    },
//                }).then(response => {
//                    console.log(response);
//                }).catch(error => {
//                    console.log(error);
//                });
            }
        }
    }
</script>