<template>
    <div id="block-aktyvnist-1" v-if="items">
        <template v-for="item in items.data">
            <template v-if="item.type == 'friend_request'">
                <tpl-friend-req :item="item"></tpl-friend-req>
            </template>
            <template v-if="item.type == 'notifi'">
                <tpl-notifi :item="item"></tpl-notifi>
            </template>
        </template>
    </div> 
</template>

<script>

    Vue.component('tpl-friend-req', require('../../tpl/TplNotifiFriendReq.vue'));
    Vue.component('tpl-notifi', require('../../tpl/TplNotifi.vue'));
    export default {
        props: {
            items: {
                type: [Object, Array],
                default: null,
            }
        }
    }
</script>