<template>
    <nav id="menu-aktyvnist" class="l-menu" :class="'lang-'+$t('lang')">  
        <router-link to="/profile/activity"><span>{{ $t('menuAktyvnist.Vsya_aktyvnist') }}</span></router-link>
        <router-link to="/profile/activity/all-notifications"><span>{{ $t('menuAktyvnist.Vsi_spovishchennya') }}</span></router-link>
        <router-link to="/profile/activity/friends"><span>{{ $t('menuAktyvnist.Aktyvnist_druziv') }}</span></router-link>
        <router-link to="/profile/activity/groups"><span>{{ $t('menuAktyvnist.Aktyvnist_hrup') }}</span></router-link>
        <router-link to="/profile/activity/goods"><span>{{ $t('menuAktyvnist.Tovary') }}</span></router-link>
        <router-link to="/profile/activity/gallery"><span>{{ $t('menuAktyvnist.Halereya') }}</span></router-link>
        <router-link to="/profile/activity/work"><span>{{ $t('menuAktyvnist.Robota') }}</span></router-link>
        <router-link to="/profile/activity/pages"><span>{{ $t('menuAktyvnist.Storinky') }}</span></router-link>
        <router-link to="/profile/activity/themes"><span>{{ $t('menuAktyvnist.Temy') }}</span></router-link>
        <router-link to="/profile/activity/lessons"><span>{{ $t('menuAktyvnist.Uroky') }}</span></router-link> 
    </nav>
</template> 

<script>
    export default {
        data(){
            return {
                
            }  
        },
        methods: {
            
        },
        mounted() {
            
        }
    }
</script>