<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <menu-aktyvnist></menu-aktyvnist>
                </div>
                <div class="col-lg-9"> 
                    <div :id="'page'+$route.path.replace(/\//ig, '-')">
                        <div class="row">
                            <template v-for="item in blocks">
                                <div class="col-lg-12" v-if="item.tpl == 'notify'">
                                    <tpl-notifications :item="item"></tpl-notifications>
                                </div>
                                <div v-else class="col-lg-4">
                                    <tpl-product v-if="item.tpl == 'product'" :item="item"></tpl-product>
                                    <tpl-gallery v-if="item.tpl == 'gallery'" :item="item"></tpl-gallery>
                                    <tpl-tema v-if="item.tpl == 'tema'" :item="item"></tpl-tema>
                                    <tpl-work v-if="item.tpl == 'work'" :item="item"></tpl-work>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</template>

<script>
    
    Vue.component('tpl-notifications', require('../../tpl/TplNotifications.vue'));
    Vue.component('tpl-product', require('../../tpl/TplProduct.vue'));
    Vue.component('tpl-gallery', require('../../tpl/TplGallery.vue'));
    Vue.component('tpl-tema', require('../../tpl/TplTema.vue'));
    Vue.component('tpl-work', require('../../tpl/TplWork.vue'));
    
    
    
    export default {
        data(){
            return {
                blocks: [],
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/profile/activity/friends').then(response => {
                    this.blocks = response.data.blocks;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>