<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <menu-aktyvnist></menu-aktyvnist>
                </div>
                <div class="col-lg-9"> 
                    <div :id="'page'+$route.path.replace(/\//ig, '-')">
                        <div class="row" v-for="block in blocks">
                            <div class="col-lg-4" v-for="item in block">
                                <tpl-tema :item="item"></tpl-tema>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</template>

<script>
    
    Vue.component('tpl-tema', require('../../tpl/TplTema.vue'));
    
    export default {
        data(){
            return {
                items: [],
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/profile/activity/groups').then(response => {
                    this.items = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        computed: {
            blocks: function()
            {
                return _.chunk(_.toArray(this.items), 3);
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>