@font-face {
  font-family: 'ico2';
  src:  url('fonts/ico2.eot?8fhowi');
  src:  url('fonts/ico2.eot?8fhowi#iefix') format('embedded-opentype'),
    url('fonts/ico2.ttf?8fhowi') format('truetype'),
    url('fonts/ico2.woff?8fhowi') format('woff'),
    url('fonts/ico2.svg?8fhowi#ico2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico2-"], [class*=" ico2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico2-activity:before {
  content: "\e900";
}
.ico2-airplay:before {
  content: "\e901";
}
.ico2-alert-circle:before {
  content: "\e902";
}
.ico2-alert-octagon:before {
  content: "\e903";
}
.ico2-alert-triangle:before {
  content: "\e904";
}
.ico2-align-center:before {
  content: "\e905";
}
.ico2-align-justify:before {
  content: "\e906";
}
.ico2-align-left:before {
  content: "\e907";
}
.ico2-align-right:before {
  content: "\e908";
}
.ico2-anchor:before {
  content: "\e909";
}
.ico2-aperture:before {
  content: "\e90a";
}
.ico2-archive:before {
  content: "\e90b";
}
.ico2-arrow-down:before {
  content: "\e90c";
}
.ico2-arrow-down-circle:before {
  content: "\e90d";
}
.ico2-arrow-down-left:before {
  content: "\e90e";
}
.ico2-arrow-down-right:before {
  content: "\e90f";
}
.ico2-arrow-left:before {
  content: "\e910";
}
.ico2-arrow-left-circle:before {
  content: "\e911";
}
.ico2-arrow-right:before {
  content: "\e912";
}
.ico2-arrow-right-circle:before {
  content: "\e913";
}
.ico2-arrow-up:before {
  content: "\e914";
}
.ico2-arrow-up-circle:before {
  content: "\e915";
}
.ico2-arrow-up-left:before {
  content: "\e916";
}
.ico2-arrow-up-right:before {
  content: "\e917";
}
.ico2-at-sign:before {
  content: "\e918";
}
.ico2-award:before {
  content: "\e919";
}
.ico2-bar-chart:before {
  content: "\e91a";
}
.ico2-bar-chart-2:before {
  content: "\e91b";
}
.ico2-battery:before {
  content: "\e91c";
}
.ico2-battery-charging:before {
  content: "\e91d";
}
.ico2-bell:before {
  content: "\e91e";
}
.ico2-bell-off:before {
  content: "\e91f";
}
.ico2-bluetooth:before {
  content: "\e920";
}
.ico2-bold:before {
  content: "\e921";
}
.ico2-book:before {
  content: "\e922";
}
.ico2-book-open:before {
  content: "\e923";
}
.ico2-bookmark:before {
  content: "\e924";
}
.ico2-box:before {
  content: "\e925";
}
.ico2-briefcase:before {
  content: "\e926";
}
.ico2-calendar:before {
  content: "\e927";
}
.ico2-camera:before {
  content: "\e928";
}
.ico2-camera-off:before {
  content: "\e929";
}
.ico2-cast:before {
  content: "\e92a";
}
.ico2-check:before {
  content: "\e92b";
}
.ico2-check-circle:before {
  content: "\e92c";
}
.ico2-check-square:before {
  content: "\e92d";
}
.ico2-chevron-down:before {
  content: "\e92e";
}
.ico2-chevron-left:before {
  content: "\e92f";
}
.ico2-chevron-right:before {
  content: "\e930";
}
.ico2-chevron-up:before {
  content: "\e931";
}
.ico2-chevrons-down:before {
  content: "\e932";
}
.ico2-chevrons-left:before {
  content: "\e933";
}
.ico2-chevrons-right:before {
  content: "\e934";
}
.ico2-chevrons-up:before {
  content: "\e935";
}
.ico2-chrome:before {
  content: "\e936";
}
.ico2-circle:before {
  content: "\e937";
}
.ico2-clipboard:before {
  content: "\e938";
}
.ico2-clock:before {
  content: "\e939";
}
.ico2-cloud:before {
  content: "\e93a";
}
.ico2-cloud-drizzle:before {
  content: "\e93b";
}
.ico2-cloud-lightning:before {
  content: "\e93c";
}
.ico2-cloud-off:before {
  content: "\e93d";
}
.ico2-cloud-rain:before {
  content: "\e93e";
}
.ico2-cloud-snow:before {
  content: "\e93f";
}
.ico2-code:before {
  content: "\e940";
}
.ico2-codepen:before {
  content: "\e941";
}
.ico2-command:before {
  content: "\e942";
}
.ico2-compass:before {
  content: "\e943";
}
.ico2-copy:before {
  content: "\e944";
}
.ico2-corner-down-left:before {
  content: "\e945";
}
.ico2-corner-down-right:before {
  content: "\e946";
}
.ico2-corner-left-down:before {
  content: "\e947";
}
.ico2-corner-left-up:before {
  content: "\e948";
}
.ico2-corner-right-down:before {
  content: "\e949";
}
.ico2-corner-right-up:before {
  content: "\e94a";
}
.ico2-corner-up-left:before {
  content: "\e94b";
}
.ico2-corner-up-right:before {
  content: "\e94c";
}
.ico2-cpu:before {
  content: "\e94d";
}
.ico2-credit-card:before {
  content: "\e94e";
}
.ico2-crop:before {
  content: "\e94f";
}
.ico2-crosshair:before {
  content: "\e950";
}
.ico2-database:before {
  content: "\e951";
}
.ico2-delete:before {
  content: "\e952";
}
.ico2-disc:before {
  content: "\e953";
}
.ico2-dollar-sign:before {
  content: "\e954";
}
.ico2-download:before {
  content: "\e955";
}
.ico2-download-cloud:before {
  content: "\e956";
}
.ico2-droplet:before {
  content: "\e957";
}
.ico2-edit:before {
  content: "\e958";
}
.ico2-edit-2:before {
  content: "\e959";
}
.ico2-edit-3:before {
  content: "\e95a";
}
.ico2-external-link:before {
  content: "\e95b";
}
.ico2-eye:before {
  content: "\e95c";
}
.ico2-eye-off:before {
  content: "\e95d";
}
.ico2-facebook:before {
  content: "\e95e";
}
.ico2-fast-forward:before {
  content: "\e95f";
}
.ico2-feather:before {
  content: "\e960";
}
.ico2-file:before {
  content: "\e961";
}
.ico2-file-minus:before {
  content: "\e962";
}
.ico2-file-plus:before {
  content: "\e963";
}
.ico2-file-text:before {
  content: "\e964";
}
.ico2-film:before {
  content: "\e965";
}
.ico2-filter:before {
  content: "\e966";
}
.ico2-flag:before {
  content: "\e967";
}
.ico2-folder:before {
  content: "\e968";
}
.ico2-folder-minus:before {
  content: "\e969";
}
.ico2-folder-plus:before {
  content: "\e96a";
}
.ico2-gift:before {
  content: "\e96b";
}
.ico2-git-branch:before {
  content: "\e96c";
}
.ico2-git-commit:before {
  content: "\e96d";
}
.ico2-git-merge:before {
  content: "\e96e";
}
.ico2-git-pull-request:before {
  content: "\e96f";
}
.ico2-github:before {
  content: "\e970";
}
.ico2-gitlab:before {
  content: "\e971";
}
.ico2-globe:before {
  content: "\e972";
}
.ico2-grid:before {
  content: "\e973";
}
.ico2-hard-drive:before {
  content: "\e974";
}
.ico2-hash:before {
  content: "\e975";
}
.ico2-headphones:before {
  content: "\e976";
}
.ico2-heart:before {
  content: "\e977";
}
.ico2-help-circle:before {
  content: "\e978";
}
.ico2-home:before {
  content: "\e979";
}
.ico2-image:before {
  content: "\e97a";
}
.ico2-inbox:before {
  content: "\e97b";
}
.ico2-info:before {
  content: "\e97c";
}
.ico2-instagram:before {
  content: "\e97d";
}
.ico2-italic:before {
  content: "\e97e";
}
.ico2-layers:before {
  content: "\e97f";
}
.ico2-layout:before {
  content: "\e980";
}
.ico2-life-buoy:before {
  content: "\e981";
}
.ico2-link:before {
  content: "\e982";
}
.ico2-link-2:before {
  content: "\e983";
}
.ico2-linkedin:before {
  content: "\e984";
}
.ico2-list:before {
  content: "\e985";
}
.ico2-loader:before {
  content: "\e986";
}
.ico2-lock:before {
  content: "\e987";
}
.ico2-log-in:before {
  content: "\e988";
}
.ico2-log-out:before {
  content: "\e989";
}
.ico2-mail:before {
  content: "\e98a";
}
.ico2-map:before {
  content: "\e98b";
}
.ico2-map-pin:before {
  content: "\e98c";
}
.ico2-maximize:before {
  content: "\e98d";
}
.ico2-maximize-2:before {
  content: "\e98e";
}
.ico2-menu:before {
  content: "\e98f";
}
.ico2-message-circle:before {
  content: "\e990";
}
.ico2-message-square:before {
  content: "\e991";
}
.ico2-mic:before {
  content: "\e992";
}
.ico2-mic-off:before {
  content: "\e993";
}
.ico2-minimize:before {
  content: "\e994";
}
.ico2-minimize-2:before {
  content: "\e995";
}
.ico2-minus:before {
  content: "\e996";
}
.ico2-minus-circle:before {
  content: "\e997";
}
.ico2-minus-square:before {
  content: "\e998";
}
.ico2-monitor:before {
  content: "\e999";
}
.ico2-moon:before {
  content: "\e99a";
}
.ico2-more-horizontal:before {
  content: "\e99b";
}
.ico2-more-vertical:before {
  content: "\e99c";
}
.ico2-move:before {
  content: "\e99d";
}
.ico2-music:before {
  content: "\e99e";
}
.ico2-navigation:before {
  content: "\e99f";
}
.ico2-navigation-2:before {
  content: "\e9a0";
}
.ico2-octagon:before {
  content: "\e9a1";
}
.ico2-package:before {
  content: "\e9a2";
}
.ico2-paperclip:before {
  content: "\e9a3";
}
.ico2-pause:before {
  content: "\e9a4";
}
.ico2-pause-circle:before {
  content: "\e9a5";
}
.ico2-percent:before {
  content: "\e9a6";
}
.ico2-phone:before {
  content: "\e9a7";
}
.ico2-phone-call:before {
  content: "\e9a8";
}
.ico2-phone-forwarded:before {
  content: "\e9a9";
}
.ico2-phone-incoming:before {
  content: "\e9aa";
}
.ico2-phone-missed:before {
  content: "\e9ab";
}
.ico2-phone-off:before {
  content: "\e9ac";
}
.ico2-phone-outgoing:before {
  content: "\e9ad";
}
.ico2-pie-chart:before {
  content: "\e9ae";
}
.ico2-play:before {
  content: "\e9af";
}
.ico2-play-circle:before {
  content: "\e9b0";
}
.ico2-plus:before {
  content: "\e9b1";
}
.ico2-plus-circle:before {
  content: "\e9b2";
}
.ico2-plus-square:before {
  content: "\e9b3";
}
.ico2-pocket:before {
  content: "\e9b4";
}
.ico2-power:before {
  content: "\e9b5";
}
.ico2-printer:before {
  content: "\e9b6";
}
.ico2-radio:before {
  content: "\e9b7";
}
.ico2-refresh-ccw:before {
  content: "\e9b8";
}
.ico2-refresh-cw:before {
  content: "\e9b9";
}
.ico2-repeat:before {
  content: "\e9ba";
}
.ico2-rewind:before {
  content: "\e9bb";
}
.ico2-rotate-ccw:before {
  content: "\e9bc";
}
.ico2-rotate-cw:before {
  content: "\e9bd";
}
.ico2-rss:before {
  content: "\e9be";
}
.ico2-save:before {
  content: "\e9bf";
}
.ico2-scissors:before {
  content: "\e9c0";
}
.ico2-search:before {
  content: "\e9c1";
}
.ico2-send:before {
  content: "\e9c2";
}
.ico2-server:before {
  content: "\e9c3";
}
.ico2-settings:before {
  content: "\e9c4";
}
.ico2-share:before {
  content: "\e9c5";
}
.ico2-share-2:before {
  content: "\e9c6";
}
.ico2-shield:before {
  content: "\e9c7";
}
.ico2-shield-off:before {
  content: "\e9c8";
}
.ico2-shopping-bag:before {
  content: "\e9c9";
}
.ico2-shopping-cart:before {
  content: "\e9ca";
}
.ico2-shuffle:before {
  content: "\e9cb";
}
.ico2-sidebar:before {
  content: "\e9cc";
}
.ico2-skip-back:before {
  content: "\e9cd";
}
.ico2-skip-forward:before {
  content: "\e9ce";
}
.ico2-slack:before {
  content: "\e9cf";
}
.ico2-slash:before {
  content: "\e9d0";
}
.ico2-sliders:before {
  content: "\e9d1";
}
.ico2-smartphone:before {
  content: "\e9d2";
}
.ico2-speaker:before {
  content: "\e9d3";
}
.ico2-square:before {
  content: "\e9d4";
}
.ico2-star:before {
  content: "\e9d5";
}
.ico2-stop-circle:before {
  content: "\e9d6";
}
.ico2-sun:before {
  content: "\e9d7";
}
.ico2-sunrise:before {
  content: "\e9d8";
}
.ico2-sunset:before {
  content: "\e9d9";
}
.ico2-tablet:before {
  content: "\e9da";
}
.ico2-tag:before {
  content: "\e9db";
}
.ico2-target:before {
  content: "\e9dc";
}
.ico2-terminal:before {
  content: "\e9dd";
}
.ico2-thermometer:before {
  content: "\e9de";
}
.ico2-thumbs-down:before {
  content: "\e9df";
}
.ico2-thumbs-up:before {
  content: "\e9e0";
}
.ico2-toggle-left:before {
  content: "\e9e1";
}
.ico2-toggle-right:before {
  content: "\e9e2";
}
.ico2-trash:before {
  content: "\e9e3";
}
.ico2-trash-2:before {
  content: "\e9e4";
}
.ico2-trending-down:before {
  content: "\e9e5";
}
.ico2-trending-up:before {
  content: "\e9e6";
}
.ico2-triangle:before {
  content: "\e9e7";
}
.ico2-truck:before {
  content: "\e9e8";
}
.ico2-tv:before {
  content: "\e9e9";
}
.ico2-twitter:before {
  content: "\e9ea";
}
.ico2-type:before {
  content: "\e9eb";
}
.ico2-umbrella:before {
  content: "\e9ec";
}
.ico2-underline:before {
  content: "\e9ed";
}
.ico2-unlock:before {
  content: "\e9ee";
}
.ico2-upload:before {
  content: "\e9ef";
}
.ico2-upload-cloud:before {
  content: "\e9f0";
}
.ico2-user:before {
  content: "\e9f1";
}
.ico2-user-check:before {
  content: "\e9f2";
}
.ico2-user-minus:before {
  content: "\e9f3";
}
.ico2-user-plus:before {
  content: "\e9f4";
}
.ico2-user-x:before {
  content: "\e9f5";
}
.ico2-users:before {
  content: "\e9f6";
}
.ico2-video:before {
  content: "\e9f7";
}
.ico2-video-off:before {
  content: "\e9f8";
}
.ico2-voicemail:before {
  content: "\e9f9";
}
.ico2-volume:before {
  content: "\e9fa";
}
.ico2-volume-1:before {
  content: "\e9fb";
}
.ico2-volume-2:before {
  content: "\e9fc";
}
.ico2-volume-x:before {
  content: "\e9fd";
}
.ico2-watch:before {
  content: "\e9fe";
}
.ico2-wifi:before {
  content: "\e9ff";
}
.ico2-wifi-off:before {
  content: "\ea00";
}
.ico2-wind:before {
  content: "\ea01";
}
.ico2-x:before {
  content: "\ea02";
}
.ico2-x-circle:before {
  content: "\ea03";
}
.ico2-x-square:before {
  content: "\ea04";
}
.ico2-youtube:before {
  content: "\ea05";
}
.ico2-zap:before {
  content: "\ea06";
}
.ico2-zap-off:before {
  content: "\ea07";
}
.ico2-zoom-in:before {
  content: "\ea08";
}
.ico2-zoom-out:before {
  content: "\ea09";
}
