<template>
    <div class="progress-1" v-if="visible">
        <v-progress-circular indeterminate :size="50" color="purple"></v-progress-circular>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                visible: false,
            }
        },
        mounted(){
            var vm = this;
            //
            this.event.$on('progress1', function (data) {
                vm.visible = data;
            });
        }
    }
</script>