<template>
    <v-app id="inspire">
        <v-navigation-drawer dark clipped fixed v-model="drawer" app>
            <menu-left></menu-left>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left dark color="teal">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>3D Models - Адмінка</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <progress-1></progress-1>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    Vue.component('menu-left', require('../menu/MenuLeft.vue'));
    Vue.component('progress-1', require('../progress/Progres1.vue'));
    export default{
        data(){
            return{
                drawer: true,
            }
        },
        mounted(){
        }
    }
</script>