@font-face {
  font-family: 'models1';
  src:  url('../fonts//models.eot?dhym9y');
  src:  url('../fonts//models.eot?dhym9y#iefix') format('embedded-opentype'),
  url('../fonts//models.ttf?dhym9y') format('truetype'),
  url('../fonts//models.woff?dhym9y') format('woff'),
  url('../fonts//models.svg?dhym9y#models') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="models1-"], [class*=" models1-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'models1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.models1-svg-184:before {
  content: "\e9c3";
}
.models1-svg-185:before {
  content: "\e9c4";
}
