@font-face {
  font-family: '3dmodels1';
  src:  url('/themes/site/assets/fonts/3dmodels1.eot?yvq0oh');
  src:  url('/themes/site/assets/fonts/3dmodels1.eot?yvq0oh#iefix') format('embedded-opentype'),
  url('/themes/site/assets/fonts/3dmodels1.ttf?yvq0oh') format('truetype'),
  url('/themes/site/assets/fonts/3dmodels1.woff?yvq0oh') format('woff'),
  url('/themes/site/assets/fonts/3dmodels1.svg?yvq0oh#3dmodels1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="models-"], [class*=" models-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '3dmodels1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hovered:hover{
  color: #2ab27b;
}

.models-svg-183:before {
  content: "\e9c2";
}
.models-svg-180:before {
  content: "\e9bf";
}
.models-svg-181:before {
  content: "\e9c0";
}
.models-svg-182:before {
  content: "\e9c1";
}

.models-svg-177:before {
  content: "\e9bd";
}
.models-svg-178:before {
  content: "\e9be";
}
.models-svg-174:before {
  content: "\e9ba";
}
.models-svg-175:before {
  content: "\e9bb";
}
.models-svg-176:before {
  content: "\e9bc";
}

.models-svg-001:before {
  content: "\e900";
}
.models-svg-002:before {
  content: "\e901";
}
.models-svg-003:before {
  content: "\e902";
}
.models-svg-004:before {
  content: "\e903";
}
.models-svg-005:before {
  content: "\e904";
}
.models-svg-006:before {
  content: "\e905";
}
.models-svg-007:before {
  content: "\e906";
}
.models-svg-008:before {
  content: "\e907";
  color: #35aa46;
}
.models-svg-009:before {
  content: "\e908";
}
.models-svg-010:before {
  content: "\e909";
}
.models-svg-011:before {
  content: "\e90a";
}
.models-svg-012:before {
  content: "\e90b";
}
.models-svg-013:before {
  content: "\e90c";
  color: #35aa46;
}
.models-svg-014:before {
  content: "\e90d";
}
.models-svg-015:before {
  content: "\e90e";
}
.models-svg-016:before {
  content: "\e90f";
}
.models-svg-017:before {
  content: "\e910";
}
.models-svg-018:before {
  content: "\e911";
}
.models-svg-019:before {
  content: "\e912";
}
.models-svg-020:before {
  content: "\e913";
}
.models-svg-021:before {
  content: "\e914";
}
.models-svg-022:before {
  content: "\e915";
}
.models-svg-023:before {
  content: "\e916";
}
.models-svg-024:before {
  content: "\e917";
}
.models-svg-025:before {
  content: "\e918";
}
.models-svg-026:before {
  content: "\e919";
  color: #35aa46;
}
.models-svg-027:before {
  content: "\e91a";
}
.models-svg-028:before {
  content: "\e91b";
}
.models-svg-029:before {
  content: "\e91c";
  color: #35aa46;
}
.models-svg-030:before {
  content: "\e91d";
}
.models-svg-031:before {
  content: "\e91e";
}
.models-svg-032:before {
  content: "\e91f";
  color: #f00;
}
.models-svg-033:before {
  content: "\e920";
}
.models-svg-034:before {
  content: "\e921";
}
.models-svg-035:before {
  content: "\e922";
  color: #35aa46;
}
.models-svg-036:before {
  content: "\e923";
}
.models-svg-037:before {
  content: "\e924";
}
.models-svg-038:before {
  content: "\e925";
}
.models-svg-039:before {
  content: "\e926";
}
.models-svg-040:before {
  content: "\e927";
}
.models-svg-041:before {
  content: "\e928";
}
.models-svg-042:before {
  content: "\e929";
}
.models-svg-043:before {
  content: "\e92a";
}
.models-svg-044:before {
  content: "\e92b";
}
.models-svg-045:before {
  content: "\e92c";
}
.models-svg-046:before {
  content: "\e92d";
  color: #35aa46;
}
.models-svg-047:before {
  content: "\e92e";
}
.models-svg-048:before {
  content: "\e92f";
}
.models-svg-049:before {
  content: "\e930";
}
.models-svg-050:before {
  content: "\e931";
}
.models-svg-051:before {
  content: "\e932";
}
.models-svg-052:before {
  content: "\e933";
}
.models-svg-053 .path1:before {
  content: "\e934";
  color: rgb(0, 0, 0);
}
.models-svg-053 .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.models-svg-053 .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.models-svg-054:before {
  content: "\e937";
}
.models-svg-055 .path1:before {
  content: "\e938";
  color: rgb(0, 0, 0);
}
.models-svg-055 .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.models-svg-055 .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.models-svg-056 .path1:before {
  content: "\e93b";
  color: rgb(0, 0, 0);
}
.models-svg-056 .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(53, 170, 70);
}
.models-svg-056 .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(53, 170, 70);
}
.models-svg-057:before {
  content: "\e93e";
}
.models-svg-058 .path1:before {
  content: "\e93f";
  color: rgb(0, 0, 0);
}
.models-svg-058 .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.models-svg-058 .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.models-svg-058 .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.models-svg-059:before {
  content: "\e943";
}
.models-svg-060:before {
  content: "\e944";
}
.models-svg-061:before {
  content: "\e945";
}
.models-svg-062:before {
  content: "\e946";
}
.models-svg-063 .path1:before {
  content: "\e947";
  color: rgb(255, 0, 0);
}
.models-svg-063 .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.models-svg-063 .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.models-svg-063 .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.models-svg-063 .path5:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.models-svg-064:before {
  content: "\e94c";
}
.models-svg-065:before {
  content: "\e94d";
}
.models-svg-066:before {
  content: "\e94e";
}
.models-svg-067:before {
  content: "\e94f";
}
.models-svg-068:before {
  content: "\e950";
}
.models-svg-069:before {
  content: "\e951";
}
.models-svg-070:before {
  content: "\e952";
}
.models-svg-071:before {
  content: "\e953";
}
.models-svg-072:before {
  content: "\e954";
}
.models-svg-073:before {
  content: "\e955";
}
.models-svg-074:before {
  content: "\e956";
}
.models-svg-075:before {
  content: "\e957";
}
.models-svg-076:before {
  content: "\e958";
}
.models-svg-077:before {
  content: "\e959";
}
.models-svg-078:before {
  content: "\e95a";
}
.models-svg-079:before {
  content: "\e95b";
}
.models-svg-080:before {
  content: "\e95c";
}
.models-svg-081:before {
  content: "\e95d";
}
.models-svg-082:before {
  content: "\e95e";
}
.models-svg-083:before {
  content: "\e95f";
}
.models-svg-084:before {
  content: "\e960";
}
.models-svg-085:before {
  content: "\e961";
}
.models-svg-086:before {
  content: "\e962";
}
.models-svg-087:before {
  content: "\e963";
}
.models-svg-088:before {
  content: "\e964";
}
.models-svg-089:before {
  content: "\e965";
}
.models-svg-090:before {
  content: "\e966";
}
.models-svg-091:before {
  content: "\e967";
}
.models-svg-092:before {
  content: "\e968";
}
.models-svg-093:before {
  content: "\e969";
}
.models-svg-094:before {
  content: "\e96a";
}
.models-svg-095:before {
  content: "\e96b";
}
.models-svg-096:before {
  content: "\e96c";
}
.models-svg-097:before {
  content: "\e96d";
}
.models-svg-098:before {
  content: "\e96e";
}
.models-svg-099:before {
  content: "\e96f";
}
.models-svg-100:before {
  content: "\e970";
}
.models-svg-101:before {
  content: "\e971";
}
.models-svg-102:before {
  content: "\e972";
}
.models-svg-103:before {
  content: "\e973";
}
.models-svg-104:before {
  content: "\e974";
}
.models-svg-105:before {
  content: "\e975";
}
.models-svg-106:before {
  content: "\e976";
}
.models-svg-107:before {
  content: "\e977";
}
.models-svg-108:before {
  content: "\e978";
}
.models-svg-109:before {
  content: "\e979";
}
.models-svg-110:before {
  content: "\e97a";
}
.models-svg-111:before {
  content: "\e97b";
}
.models-svg-112:before {
  content: "\e97c";
}
.models-svg-113:before {
  content: "\e97d";
}
.models-svg-114:before {
  content: "\e97e";
}
.models-svg-115:before {
  content: "\e97f";
}
.models-svg-116:before {
  content: "\e980";
}
.models-svg-117:before {
  content: "\e981";
}
.models-svg-118:before {
  content: "\e982";
}
.models-svg-119:before {
  content: "\e983";
}
.models-svg-120:before {
  content: "\e984";
}
.models-svg-121:before {
  content: "\e985";
}
.models-svg-122:before {
  content: "\e986";
}
.models-svg-123:before {
  content: "\e987";
}
.models-svg-124:before {
  content: "\e988";
}
.models-svg-125:before {
  content: "\e989";
}
.models-svg-126:before {
  content: "\e98a";
}
.models-svg-127:before {
  content: "\e98b";
}
.models-svg-128:before {
  content: "\e98c";
}
.models-svg-129:before {
  content: "\e98d";
}
.models-svg-130:before {
  content: "\e98e";
}
.models-svg-131:before {
  content: "\e98f";
}
.models-svg-132:before {
  content: "\e990";
}
.models-svg-133:before {
  content: "\e991";
}
.models-svg-134:before {
  content: "\e992";
}
.models-svg-135:before {
  content: "\e993";
}
.models-svg-136:before {
  content: "\e994";
}
.models-svg-137:before {
  content: "\e995";
}
.models-svg-138:before {
  content: "\e996";
}
.models-svg-139:before {
  content: "\e997";
}
.models-svg-140:before {
  content: "\e998";
}
.models-svg-141:before {
  content: "\e999";
}
.models-svg-142:before {
  content: "\e99a";
}
.models-svg-143:before {
  content: "\e99b";
}
.models-svg-144:before {
  content: "\e99c";
}
.models-svg-145:before {
  content: "\e99d";
}
.models-svg-146:before {
  content: "\e99e";
}
.models-svg-147:before {
  content: "\e99f";
}
.models-svg-148:before {
  content: "\e9a0";
}
.models-svg-149:before {
  content: "\e9a1";
}
.models-svg-150:before {
  content: "\e9a2";
}
.models-svg-151:before {
  content: "\e9a3";
}
.models-svg-152:before {
  content: "\e9a4";
}
.models-svg-153:before {
  content: "\e9a5";
}
.models-svg-154:before {
  content: "\e9a6";
}
.models-svg-155:before {
  content: "\e9a7";
}
.models-svg-156:before {
  content: "\e9a8";
}
.models-svg-157:before {
  content: "\e9a9";
}
.models-svg-158:before {
  content: "\e9aa";
}
.models-svg-159:before {
  content: "\e9ab";
}
.models-svg-160:before {
  content: "\e9ac";
}
.models-svg-161:before {
  content: "\e9ad";
}
.models-svg-162:before {
  content: "\e9ae";
}
.models-svg-163:before {
  content: "\e9af";
}
.models-svg-164:before {
  content: "\e9b0";
}
.models-svg-165:before {
  content: "\e9b1";
}
.models-svg-166:before {
  content: "\e9b2";
}
.models-svg-167:before {
  content: "\e9b3";
}
.models-svg-168:before {
  content: "\e9b4";
}
.models-svg-169:before {
  content: "\e9b5";
}
.models-svg-170:before {
  content: "\e9b6";
}
.models-svg-171:before {
  content: "\e9b7";
}
.models-svg-172:before {
  content: "\e9b8";
}
.models-svg-173:before {
  content: "\e9b9";
}
.models-check-circle:before {
  content: "\e9c3";
}
.models-x-circle:before {
  content: "\e9c4";
}