//@import url('//cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css');
//
///**
// * Nestable Draggable Handles
// */
//.dd3-content {
//  display: block;
//  height: 30px;
//  margin: 5px 0;
//  padding: 5px 10px 5px 40px;
//  color: #333;
//  text-decoration: none;
//  border: 1px solid #ccc;
//}
//.dd3-content:hover {
//  background: #F8F9FA;
//}
//.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
//.dd3-item > button { margin-left: 30px; }
//.dd3-handle {
//  position: absolute;
//  margin: 0;
//  left: 0;
//  top: 0;
//  cursor: pointer;
//  width: 30px;
//  text-indent: 100%;
//  white-space: nowrap;
//  overflow: hidden;
//  border: 1px solid #aaa;
//  background: #ddd;
//  border-radius: 0px;
//}
//.dd3-handle:before {
//  content: '≡';
//  display: block;
//  position: absolute;
//  left: 0;
//  top: 3px;
//  width: 100%;
//  text-align: center;
//  text-indent: 0;
//  color: #fff;
//  font-size: 20px;
//  font-weight: normal;
//}
//.dd3-handle:hover { background: #ddd; }
//
//.table1{
//  thead{
//    th{
//      border-top: 1px solid #42a5f5;
//      border-bottom: 2px solid #42a5f5;
//    }
//  }
//}
//.modal-mask {
//  position: fixed;
//  z-index: 1000;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(0, 0, 0, .5);
//  display: table;
//  transition: opacity .3s ease;
//}
//
//.modal-wrapper {
//  display: table-cell;
//  vertical-align: middle;
//}
//
//.modal-container {
//  margin: 0px auto;
//  background-color: #fff;
//  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
//  transition: all .3s ease;
//}
//
//.modal-header{
//  &.bg-warning,
//  &.bg-success{
//    color: #fff;
//  }
//  .icon-close{
//    cursor: pointer;
//  }
//
//}
//
//.modal-body {
//  margin: 0;
//  padding: 15px;
//  color: #000;
//}
//.modal-default-button {
//  float: right;
//}
//.modal-enter {
//  opacity: 0;
//}
//.modal-leave-active {
//  opacity: 0;
//}
//.modal-enter .modal-container,
//.modal-leave-active .modal-container {
//  -webkit-transform: scale(1.1);
//  transform: scale(1.1);
//}
//.form-control.has-error{
//  border-color: #EC312D;
//}
//.remove-warn{
//  text-align: center;
//  h3{
//    margin-top: 15px;
//  }
//  .icon-question{
//    color: #ffca28;
//    font-size: 75px !important;
//  }
//  .icon-check{
//    color: #9ccc65;
//    font-size: 75px !important;
//  }
//}
//.p-15{
//  padding: 15px;
//}
//.dd{
//  width: 100%;
//  max-width: none;
//  .dd3-content{
//    border: 1px solid #cccccc;
//    padding-left: 40px;
//    .name{
//
//    }
//  }
//  .inline{
//    display: inline-block;
//  }
//  .dd3-handle{
//    position: absolute;
//  }
//  .dd3-item
//  {
//    position: relative;
//  }
//  .actions{
//    position: absolute;
//    right: 0;
//    top: 0;
//    margin-right: 10px;
//    margin-top: 1px;
//  }
//  .st0{
//    opacity: 0.5;
//  }
//}
//
//table{
//  .icons{
//    font-size: 10px;
//  }
//}
//.f-sz-10{
//  font-size: 10px !important;
//}
//
//.checkbox-1{
//  position: relative;
//  text-align: left;
//  input{
//    display: none;
//  }
//  .chbk{
//    display: inline-flex;
//    width: 15px;
//    height: 15px;
//    border: 1px solid #cccccc;
//    vertical-align: middle;
//  }
//  input:checked + .chbk{
//    border: 1px solid #9CCC65;
//  }
//  input:checked + .chbk:before{
//    content: "";
//    width: 9px;
//    height: 9px;
//    background: #9CCC65;
//    position: absolute;
//    top: 0;
//    left: 0;
//    margin-top: 8px;
//    margin-left: 3px;
//  }
//  label{
//    display: inline-flex;
//    vertical-align: middle;
//    margin: 0 !important;
//  }
//}
@import "~vuetify/dist/vuetify.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
@import "~vueditor/dist/style/vueditor.min.css";
//
.add-tariff-btn{
  position: absolute;
  z-index: 1;
  margin-top: 4px;
}
.card-tariff{
  height: 200px !important;
  padding: 15px;
  &.status-0{
    opacity: 0.6;
  }
  .card__text,
  .card__title{
    padding: 0 !important;
  }
  .headline{
    text-align: center;
    text-transform: uppercase;
  }
  &.card-tariff-mini{
    background: #60a80d;
    color: #fff!important;
  }
  &.card-tariff-midi{
    background: #fd5503;
    color: #fff!important;
  }
  &.card-tariff-maxi{
    background: #d00e09;
    color: #fff!important;
  }
  &.card-tariff-super{
    background: #ffb400;
    color: #fff!important;
  }
  &.card-tariff-ultra{
    background: #37c0ca;
    color: #fff!important;
  }
}
.progress-1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0, 0.5);
  .progress-circular{
    position: fixed;
    z-index: 100001;
    left: 50%;
    top: 50%;
  }
}
.hidden{
  display: none;
  visibility: hidden;
}

