<template>
    <span>{{ count }}</span>
</template>

<script>

    export default {
        data(){
            return {
                count: 0,
                notifi: [],
            }
        },
        watch:{
            notifi: function (data) {
                var ob = _.filter(data, { 'type': 'friend_request'});
                this.count = ob.length;
            }
        },
        methods:{

        },
        mounted(){
            this.$echo.channel('notifi.'+this.$auth.getUser().id).listen('.Modules.Notifi.Events.NewNotifiEvent', (payload) => {
                //this.notifi = payload.data;
            });
        }
    }
</script>