<template>
    <div>Loading...</div>
</template>
<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('upload-bg', require('./profile/UploadBb.vue'));
    Vue.component('form-edit-profile', require('../forms/FormEditProfile.vue'));

    export default {
        data(){
            return {
                profile: [],
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();

                if(this.$auth.isAuth())
                {
                    this.$auth.logout();
                }

                axios.get('/api/v1/user/sw/'+this.$route.params.id).then(response => {
                    //this.$auth.setToken(response.data.token, response.data.expiration);
                    //window.location.href = '/';
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            vm.$parent.currentBlock = 'block-profile-my';
            vm.$parent.headerClass = 'profile-header';
        }
    }
</script>