<template>
    <div class="container">Профіль користувача</div>
</template>
<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                user: [],
            }
        },
        head: {
            title: {
                inner: 'Профіль користувача'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData(to));
        },
        methods: {
            getData: function(to)
            {
                this.$Progress.start();
                axios.post('/api/v1/user/profile/'+to.params.slug).then(response => {
                    this.user = response.data;
                    this.$parent.bg = "url(/profile/bg/" + this.user.id +")";
                    EventBus.$emit('loadUser', response.data);
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-user';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>