<template>
    <nav id="menu-settings" class="l-menu" :class="'lang-'+$t('lang')">   
        <router-link to="/profile/settings"><span>{{ $t('menuSettings.Zahalni_nalashtuvannya') }}</span></router-link>
        <router-link to="/profile/settings/notification"><span>{{ $t('menuSettings.Spovishchennya') }}</span></router-link>
        <router-link to="/profile/settings/access"><span>{{ $t('menuSettings.Dostup') }}</span></router-link>
        <!--<router-link to="/profile/settings/finances"><span></span></router-link>-->
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#sub-nav">{{ $t('menuSettings.Finansy') }}</a>
        <nav id="sub-nav" class="sub-nav collapse" :class="inclass">
            <router-link to="/profile/settings/finances"><span>{{ $t('profileSettings.private_person') }}</span></router-link>
            <router-link to="/profile/settings/finances/shop"><span>{{ $t('profileSettings.shop') }}</span></router-link>
        </nav>
    </nav>
</template> 

<script>
    export default {
        data(){
            return {
                inclass: '',
            }  
        },
        watch:{
            '$route': 'getRoute'
        },
        methods: {
            getRoute: function () {
                //console.log(this.$route);
                if(this.$route.path == '/profile/settings/finances' || this.$route.path == '/profile/settings/finances/shop')
                {
                        this.inclass = 'in';
                }
                else
                {
                    this.inclass = '';
                }
            }
        },
        mounted() {
            this.getRoute();
        }
    }
</script>