<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <menu-settings></menu-settings>
                </div>
                <div class="col-lg-9">
                    <div :id="'page'+$route.path.replace(/\//ig, '-')">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ $t('profileSettings.methods_of_the_payment') }} ({{ $t('profileSettings.shop') }})</div>
                            <div class="panel-body text-center">

                                <table v-if="pm.length > 0" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{ $t('methods_of_the_payment') }}</th>
                                        <th class="text-center">{{ $t('account') }}</th>
                                        <th class="text-center">{{ $t('status') }}</th>
                                        <th class="text-right">{{ $t('action') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="item in pm">
                                        <tr v-if="item.type == 'bank'">
                                            <td class="text-left">{{ $t('current_account') }}</td>
                                            <td>{{ item.bank_account }}</td>
                                            <td>
                                                <span v-if="item.status == 0">{{ $t('not_checked') }}</span>
                                            </td>
                                            <td class="text-right">
                                                <a href="javascript:void(0);" :title="$t('to_check')" class="m-r-15 c-g"><i class="fa fa-flag-checkered f-sz-16" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0);" :title="$t('to_delete')"><i class="fa fa-times f-sz-16" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>

                                <template v-if="pm.length == 0">
                                    <p><i class="fa fa-money f-sz-24" aria-hidden="true"></i></p>
                                    <p><b>{{ $t('profileSettings.to_get_a_payment_are_required_to_install_the_method_the_payments') }}</b></p>
                                    <p>{{ $t('profileSettings.from_your_method_payments_he_depends_through_what_time_the_means_will_appear_in_your_account') }} <a href="javascript:void(0);">{{ $t('profileSettings.learn_more') }}</a></p>
                                    <button class="btn btn-green fb" @click="showModalCard = true">{{ $t('profileSettings.to_add_the_method_of_the_payment') }}</button>
                                </template>

                            </div>
                        </div>
                    </div>
                    <modal v-if="showModalCard" @close="showModalCard = false" :name="'m-card'">
                        <h3 slot="header" class="text-center">{{ $t('a_bank_account_is') }}</h3>
                        <div slot="body">
                            <form-add-card-shop></form-add-card-shop>
                        </div>
                    </modal>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    Vue.component('form-add-card-shop', require('../../forms/FormAddCardShop.vue'));

    export default {
        data(){
            return {
                pm: [],
                showModalCard: false,
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.get('/api/v1/finances/shop/'+this.$auth.getUser().id).then(response => {
                    this.pm = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        watch: {

        },
        mounted() {
            var vm = this;
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
            EventBus.$on('onAddPm', function (data) {
                vm.pm.push(data);
                vm.showModalCard = false;
            });
        }
    }
</script>