<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <menu-settings></menu-settings>
                </div>
                <div class="col-lg-9">
                    <form v-on:submit="saveNotification('saveNotification', $event)" name="saveNotification"  accept-charset="UTF-8" role="form">
                        <div class="b-notifi" v-for="item in currentItems">
                            <h3>{{ item.name }}</h3>
                            <ul v-if="item.children">
                                <li v-for="itemChild in item.children">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="lbl">{{ itemChild.name }}</div>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            <field-yes-no v-model="notification" :val="itemChild.id" :name="'notification[]'"></field-yes-no>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button v-if="currentItems" class="btn btn-save" type="submit">{{ $t('save') }} <i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    Vue.component('field-yes-no', require('../../fields/FieldYesNo.vue'));

    export default {
        data(){
            return {
                items: [],
                notification: [],
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.get('/api/v1/user/profile/settings/notification').then(response => {
                    this.items = response.data.items;
                    this.notification = response.data.notification;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            saveNotification: function (scope, e) {
                e.preventDefault();
                this.$Progress.start();
                axios.post('/api/v1/user/profile/settings/notification', {notification: this.notification}).then(response => {

                    this.$notify({
                        type: 'success',
                        title: this.$t('success'),
                        text: this.$t('profileUpdated'),
                    });

                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
        },
        watch: {

        },
        computed: {
            currentItems: function () {
                return this.items[this.$t('lang')];
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>