<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <menu-settings></menu-settings>
                </div>
                <div class="col-lg-9">
                    <div :id="'page'+$route.path.replace(/\//ig, '-')">
                        <!--<form-edit-finances-osoba :profile="profile"></form-edit-finances-osoba>-->
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ $t('profileSettings.methods_of_the_payment') }} ({{ $t('profileSettings.private_person') }})</div>
                            <div class="panel-body text-center">

                                <table v-if="pm.length" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>{{ $t('methods_of_the_payment') }}</th>
                                            <th class="text-center">{{ $t('account') }}</th>
                                            <th class="text-center">{{ $t('status') }}</th>
                                            <th class="text-right">{{ $t('action') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="item in pm">
                                            <tr v-if="item.type == 'card_private'">
                                                <td class="text-left">{{ $t('credit_card') }}</td>
                                                <td>{{ item.card_num }}</td>
                                                <td>
                                                    <span v-if="item.status == 0">{{ $t('not_checked') }}</span>
                                                </td>
                                                <td class="text-right">
                                                    <a href="javascript:void(0);" :title="$t('to_check')" class="m-r-15 c-g"><i class="fa fa-flag-checkered f-sz-16" aria-hidden="true"></i></a>
                                                    <a href="javascript:void(0);" :title="$t('to_delete')"><i class="fa fa-times f-sz-16" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            <tr v-if="item.type == 'webmoney'">
                                                <td class="text-left">Webmoney</td>
                                                <td>{{ item.wm_id }}</td>
                                                <td>
                                                    <span v-if="item.status == 0">{{ $t('not_checked') }}</span>
                                                </td>
                                                <td class="text-right">
                                                    <a href="javascript:void(0);" :title="$t('to_check')" class="m-r-15 c-g"><i class="fa fa-flag-checkered f-sz-16" aria-hidden="true"></i></a>
                                                    <a href="javascript:void(0);" :title="$t('to_delete')"><i class="fa fa-times f-sz-16" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>

                                        </template>
                                    </tbody>
                                </table>

                                <template v-if="pm.length !== 2">
                                    <p><i class="fa fa-money f-sz-24" aria-hidden="true"></i></p>
                                    <p><b>{{ $t('profileSettings.to_get_a_payment_are_required_to_install_the_method_the_payments') }}</b></p>
                                    <p>{{ $t('profileSettings.from_your_method_payments_he_depends_through_what_time_the_means_will_appear_in_your_account') }} <a href="javascript:void(0);">{{ $t('profileSettings.learn_more') }}</a></p>
                                    <button class="btn btn-green fb" @click="showModal = true">{{ $t('profileSettings.to_add_the_method_of_the_payment') }}</button>
                                </template>
                            </div>
                        </div>

                        <modal v-if="showModal" @close="showModal = false" :name="'m-payment'">
                            <h3 slot="header" class="text-center">{{ $t('choose_the_method_of_the_payment') }}</h3>
                            <div slot="body" class="row">
                                <div class="col-lg-6">
                                    <p class="text-center"><b>{{ $t('credit_card') }}</b></p>
                                    <a href="javascript:void(0);" @click="openCard"><img src="https://images-na.ssl-images-amazon.com/images/I/51bdxecnHCL.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="col-lg-6">
                                    <p class="text-center"><b>Webmoney</b></p>
                                    <a href="javascript:void(0);" @click="openWebmoney"><img src="https://money-and-internet.com/uploads/webmoney-logo.jpg" class="img-responsive" alt=""></a>
                                </div>
                            </div>
                        </modal>

                        <modal v-if="showModalCard" @close="showModalCard = false" :name="'m-card'">
                            <h3 slot="header" class="text-center">{{ $t('credit_card') }}</h3>
                            <div slot="body">
                                <form-add-card-private></form-add-card-private>
                            </div>
                        </modal>

                        <modal v-if="showModalWebmoney" @close="showModalWebmoney = false" :name="'m-webmoney'">
                            <h3 slot="header" class="text-center">Webmoney</h3>
                            <div slot="body">
                                <form-add-webmoney-private></form-add-webmoney-private>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    Vue.component('form-add-card-private', require('../../forms/FormAddCardPrivate.vue'));
    Vue.component('form-add-webmoney-private', require('../../forms/FormAddWebmoneyPrivare.vue'));

    export default {
        data(){
            return {
                pm: [],
                showModal: false,
                showModalCard:false,
                showModalWebmoney: false,
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.get('/api/v1/finances/osoba/'+this.$auth.getUser().id).then(response => {
                    this.pm = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            openCard: function () {
                var vm = this;
                this.showModal = false;
                setTimeout(function(){ vm.showModalCard = true; }, 300);
            },
            openWebmoney: function () {
                var vm = this;
                this.showModal = false;
                setTimeout(function(){ vm.showModalWebmoney = true; }, 300);
            }
        },
        watch: {

        },
        mounted() {
            var vm = this;
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
            EventBus.$on('onAddPm', function (data) {
                vm.pm.push(data);
                vm.showModalCard = false;
                vm.showModalWebmoney = false;
            });
        }
    }
</script>