<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-2">
                    <menu-settings></menu-settings>
                </div>
                <div class="col-lg-10" v-if="Object.keys(profile).length">
                    <div :id="'page'+$route.path.replace(/\//ig, '-')">
                        <upload-bg :profile="profile"></upload-bg>
                        <form-edit-profile :profile="profile" ></form-edit-profile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    Vue.component('upload-bg', require('../profile/UploadBb.vue'));
    Vue.component('form-edit-profile', require('../../forms/FormEditProfile.vue'));

    export default {
        data(){
            return {
                profile: [],
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.get('/api/v1/user/profile/'+this.$auth.getUser().id).then(response => {
                    this.profile = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            vm.$parent.currentBlock = 'block-profile-my';
            vm.$parent.headerClass = 'profile-header';
        }
    }
</script>