<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <menu-settings></menu-settings>
                </div>
                <div class="col-lg-9" v-if="!loadData">
                    <div :id="'page'+$route.path.replace(/\//ig, '-')">
                        <form v-on:submit="submitPassword('submitPassword', $event)" id="submitPassword"  accept-charset="UTF-8" role="form">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label class="p-t-10">{{ $t('profileAccess.login') }}</label>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="email" :value="user.email" name="emailOld" class="form-control form-control-2" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-1">
                                        <input v-model="form.email" type="email" name="email" class="form-control form-control-1" :placeholder="$t('profileAccess.email')">
                                        <label>{{ $t('profileAccess.email') }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <label class="p-t-10">{{ $t('profileAccess.password') }}</label>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="password" value="passwordOld" name="passwordOld" class="form-control form-control-2" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-1">
                                        <input v-model="form.password" type="password" name="password" class="form-control form-control-1" :placeholder="$t('profileAccess.newpassword')">
                                        <label>{{ $t('profileAccess.newpassword') }}</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-1">
                                        <input v-model="form.password_repeat" type="password" name="password_repeat" class="form-control form-control-1" :placeholder="$t('profileAccess.newpassword_repeat')">
                                        <label>{{ $t('profileAccess.newpassword_repeat') }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
                                <button class="btn btn-save" type="submit">{{ $t('profileSettings.save') }} <i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    Vue.component('field-yes-no', require('../../fields/FieldYesNo.vue'));

    export default {
        data(){
            return {
                loadData: false,
                user: this.$auth.getUser(),
                form:{
                    email: null,
                    password: null,
                    password_repeat: null,
                },
                validate:{
                    rules:{
                        'email': {
                            label: this.$t('profileAccess.email'),
                            email: true,
                        },
                        'password': {
                            label: this.$t('profileAccess.newpassword'),
                            min: 6,
                        },
                        'password_repeat': {
                            label: this.$t('profileAccess.newpassword_repeat'),
                            min: 6,
                            confirm: 'password',
                        },
                    }
                },
            }
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.loadData = true;
                this.$Progress.start();
                axios.get('/api/v1/user/profile/settings/access').then(response => {
                    this.user = response.data;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
            submitPassword: function (scope, e) {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    axios.post('/api/v1/user/profile/settings/access', this.profile).then(response => {
                        this.$notify({
                            type: 'success',
                            title: this.$t('success'),
                            text: this.$t('profileUpdated'),
                        });
                    }).catch(error => {
                        this.$msg.err(error.response.data[this.$t('lang')], this.$notify, this.$t('error'));
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, this.$t('error'));
                }
            }
        },
        watch: {

        },
        computed: {

        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>