<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" :style="{width: width}">

                    <div class="modal-header" :class="bgHeader" v-if="header">
                        <slot name="header">default header</slot>
                        <i class="icon-close icons" @click="$emit('close')"></i>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props:{
            width: {
                type: String,
                default: '300px',
            },
            bgHeader: {
                type: String,
                default: '',
            },
            header:{
                type: Boolean,
                default: true,
            }
        },
        data(){
            return {

            }
        },
        methods:{

        },
        mounted(){
            var vm = this;
            //
            this.eb.$on('closeModal', function () {
                vm.$emit('close');
            });
            //
            this.$on('close', function () {
                vm.eb.$emit('onCloseModal');
            });
        }
    }
</script>