<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <menu-aktyvnist></menu-aktyvnist>
                </div>
                <div class="col-lg-9" v-if="!loadData">
                    <div id="profile-all-notifications">
                        <transition-group name="fade" tag="ul">
                            <li v-for="(item, i) in notifications.data" v-bind:key="i">
                                <template v-if="item.type == 'friend_request'">
                                    <tpl-friend-req :item="item"></tpl-friend-req>
                                </template>
                                <template v-if="item.type == 'notifi'">
                                    <tpl-notifi :item="item"></tpl-notifi>
                                </template>
                            </li>
                        </transition-group>
                        <loading v-if="loading"></loading>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</template>

<script>

    Vue.component('tpl-friend-req', require('../../tpl/TplNotifiFriendReq.vue'));
    Vue.component('tpl-notifi', require('../../tpl/TplNotifi.vue'));
   
    export default {
        data(){
            return {
                loading: false,
                notifications: [],
                loadData: false,
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                this.loadData = true;
                axios.post('/api/v1/user/profile/activity/all-notifications').then(response => {
                    this.notifications = response.data;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
            infiniteHandler() {
                var _this = this;
                this.loading = true;
                axios.post(_this.notifications.next_page_url).then(response => {
                    $.each(response.data.data, function(k, v){
                        _this.notifications.data.push(v);
                    });
                    _this.notifications.current_page = response.data.current_page;
                    _this.notifications.next_page_url = response.data.next_page_url;
                    this.loading = false;
                }).catch(error => {
                    this.loading = false;
                });
            },
            addNewNotify: function (data) {
                //this.notifications = data;
                this.notifications.data.unshift(data.data[0]);
//                this.notifications.countFriendReq = data.countFriendReq;
//                this.notifications.countNew = data.countNew;
//                this.notifications.current_page = data.current_page;
//                this.notifications.first_page_url = data.first_page_url;
//                this.notifications.from = data.from;
//                this.notifications.last_page = data.last_page;
//                this.notifications.last_page_url = data.last_page_url;
//                this.notifications.next_page_url = data.next_page_url;
//                this.notifications.path = data.path;
//                this.notifications.per_page = data.per_page;
//                this.notifications.prev_page_url = data.prev_page_url;
//                this.notifications.to = data.to;
//                this.notifications.total = data.total;
//                if(this.notifications.per_page == this.notifications.data.length)
//                {
//                    this.notifications.data.pop();
//                }
            }
        },
        mounted() {
            var _this = this;
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';

            this.$echo.channel('notifi.'+this.$auth.getUser().id).listen('.Modules.Notifi.Events.NewNotifiEvent', (payload) => {
                _this.addNewNotify(payload.data);
            });
            
            $(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    _this.infiniteHandler();
                }
            });
        }
    }
</script>