@font-face {
  font-family: 'topcat';
  src:  url('fonts/topcat.eot?ktuvfa');
  src:  url('fonts/topcat.eot?ktuvfa#iefix') format('embedded-opentype'),
    url('fonts/topcat.ttf?ktuvfa') format('truetype'),
    url('fonts/topcat.woff?ktuvfa') format('woff'),
    url('fonts/topcat.svg?ktuvfa#topcat') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="topcat-"], [class*=" topcat-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'topcat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topcat-uniF111:before {
  content: "\f111";
}
.topcat-uniF10E:before {
  content: "\f10e";
}
.topcat-uniF104:before {
  content: "\f104";
}
.topcat-uniF107:before {
  content: "\f107";
}
.topcat-uniF103:before {
  content: "\f103";
}
.topcat-uniF10D:before {
  content: "\f10d";
}
.topcat-uniF101:before {
  content: "\f101";
}
.topcat-uniF10F:before {
  content: "\f10f";
}
.topcat-uniF108:before {
  content: "\f108";
}
.topcat-uniF100:before {
  content: "\f100";
}
.topcat-uniF106:before {
  content: "\f106";
}
.topcat-uniF105:before {
  content: "\f105";
}
.topcat-uniF10C:before {
  content: "\f10c";
}
.topcat-uniF10B:before {
  content: "\f10b";
}
.topcat-uniF110:before {
  content: "\f110";
}
.topcat-uniF102:before {
  content: "\f102";
}
.topcat-uniF109:before {
  content: "\f109";
}
.topcat-uniF10A:before {
  content: "\f10a";
}
