<template>
    <div id="header-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <animated-zoom-in-down>
                    <a href="/" id="logo">All CG</a>
                    </animated-zoom-in-down>
                </div>
                <div class="col-lg-10">
                    <div id="user-panel">
                        <block-string v-if="$auth.isAuth()"></block-string>
                        <block-cart v-if="$auth.isAuth()"></block-cart>
                        <block-notify v-if="$auth.isAuth()"></block-notify>
                        <block-mess v-if="$auth.isAuth()"></block-mess>
                        <block-login v-if="!$auth.isAuth()"></block-login>
                        <block-user v-if="$auth.isAuth()"></block-user>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>