<template>
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <nav id="social-nav">
                        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </nav>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-10">
                            <nav id="top-nav" v-bind:class="'top-nav-'+$t('lang')"><!--$t('hello')-->
                                <a href="javascript:void(0);">{{ $t('topmenu.sell3Dmodels') }}</a>
                                <a href="javascript:void(0);">{{ $t('topmenu.communities') }}</a>
                                <a href="javascript:void(0);">{{ $t('topmenu.support') }}</a>
                                <a href="javascript:void(0);">{{ $t('topmenu.about') }}</a>
                                <a href="javascript:void(0);" v-on:click="openPopUp" v-if="!$auth.isAuth()"><i class="icon-enter"></i> {{ $t('topmenu.login') }}</a>
                                <a href="javascript:void(0);" v-if="$auth.isAuth()" v-on:click="logout"><i class="icon-sign-in"></i> {{ $t('topmenu.logout') }}</a> 
                            </nav>
                        </div>
                        <div class="col-lg-2">
                            <change-lang></change-lang>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import ModalLogin from '../blocks/ModalLogin.vue';
    
    export default {
        data(){
            return {
                
            }  
        },
	methods : {
            openPopUp: function()
            {
                $('body').append('<div id="modal-container"></div>').hide().fadeIn(500);
                var mod = new Vue({
                    el: '#modal-container',
                    i18n: this.$i18n,
                    render: h => h(ModalLogin) 
                });
            },
            logout: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/user/logout').then(response => {
                    this.$auth.logout();
                    this.$Progress.finish();
                    window.location.href = '/';
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
	},
        mounted() {
            var _this = this;
        }
    }
</script>