<template>
    <div class="container-fluid">
        <div id="header-catalog">
            <div class="container">
                <nav id="nav-category" v-bind:class="'nav-category-'+$t('lang')">
                    <span v-for="item in items" @click="openChild(item)" class="link"><i class="ico-cat i-1" :class="item.ico"></i> {{ item.name[$t('lang')] }} <i class="ico-arrow i-2"></i></span>
                </nav>
            </div>
        </div>
        <transition name="fade">
            <!--<div id="header-sub-catalog" v-if="open" v-on:mouseleave="mouseOver">-->
            <div id="header-sub-catalog" v-if="open">
                <div class="masks" @mouseover="open = false"></div>
                <div class="container">
                    <div class="sub-cat-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="anim1" :class="[(openSub) ? 'col-lg-8' : 'col-lg-12']">
                                        <ul class="ul-sub-cat">
                                            <li v-for="col in sub">
                                                <a href="javascript:void(0);" v-on:click="openSubCategory(col)"><i class="ico-sub-cat" :class="col.ico"></i> {{ col.name[$t('lang')] }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4" v-if="openSub">
                                        <transition name="fade">
                                            <nav class="nav-sub-cat" v-if="isOpenSub">
                                                <template v-if="openSubItems.length > 0">
                                                    <a v-for="link in openSubItems" href="javascript:void(0);">
                                                        {{ link.name[$t('lang')] }}
                                                    </a>
                                                </template>
                                                <template v-else>
                                                    <a href="javascript:void(0);">Всі товари карегорії</a>
                                                </template>

                                            </nav>
                                        </transition>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 br-l" v-bind:class="[(opa) ? 'opa' : '']">
                                <div class="br-l-1" v-if="openSub"></div>
                                <div id="block-last-product">
                                    <h2>Найновіші продукти</h2>
                                    <div class="cont">
                                        <div class="row m-b-20" v-for="(block, n) in productsChunk" :class="(productsChunk.length == n+1) ? 'bottom' : ''">
                                            <div class="col-lg-6" v-for="(item, k) in block">
                                                <template v-if="item.tpl == 'model'">
                                                    <tpl-model :item="item" :num="(k == 1) ? 3 : k"></tpl-model>
                                                </template>
                                                <template v-if="item.tpl == 'image'">
                                                    <tpl-image :item="item" :num="(k == 1) ? 3 : k"></tpl-image>
                                                </template>
                                                <template v-if="item.tpl == 'video'">
                                                    <tpl-video :item="item" :num="(k == 1) ? 3 : k"></tpl-video>
                                                </template>
                                                <template v-if="item.tpl == 'audio'">
                                                    <tpl-audio :item="item" :num="(k == 1) ? 3 : k"></tpl-audio>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';
    Vue.component('tpl-model', require('../products/TplModel.vue'));
    Vue.component('tpl-image', require('../products/TplImage.vue'));
    Vue.component('tpl-video', require('../products/TplVideo.vue'));
    Vue.component('tpl-audio', require('../products/TplAudio.vue'));


    export default {
        data(){
            return {
                items: [],
                child: [],
                products: [],
                open: false,
                opa: false,
                openSub: false,
                isOpenSub: false,
                openSubItems: [],
            }
        },
        methods:{
            getCat: function()
            {
                if (this.$session.has('catalog')) {
                    this.items = this.$session.get('catalog');
                }
                else
                {
                    axios.post('/api/v1/get/catalog').then(response => {
                        this.items = response.data;
                        this.$session.set('catalog',response.data);
                    }).catch(error => {

                    });
                }
            },
            openChild: function(item)
            {

                if (Object.keys(item.children).length) {
                    this.child = item.children;
                    this.open = true;
                    this.getLastProduct(item._id);
                }
                else
                {
                    this.child = [];
                    this.open = false;
                }
                this.openSub = false;
                this.isOpenSub = false;
            },
            openSubCategory: function (item) {
                var vm = this;
                this.getLastProduct(item._id);
                this.openSub = true;
                this.openSubItems = item.children;
                setTimeout(function () {
                    vm.isOpenSub = true;
                }, 500);
            },
            mouseOver: function()
            {
                this.open = !this.open;
            },
            getLastProduct: function (id) {
                this.opa = true;
                axios.post('/api/v1/get/last-product-in-category/'+id).then(response => {
                    this.products = response.data;
                    this.opa = false;
                }).catch(error => {
                    this.opa = false;
                });
            }
        },
        computed: {
            categorys: function()
            {
                return this.items[this.$t('lang')];
            },
            sub: function()
            {
                //return _.chunk(_.toArray(this.child), 6);
                return this.child;
            },
            productsChunk: function () {
                return _.chunk(_.toArray(this.products), 2);
            }
        },
        mounted() {
            this.getCat();
            var _this = this;
        }
    }
</script>