<template>
    <transition name="modal">
        <div class="modal-mask">
            <div :id="name" class="modal-wrapper">
                <div class="modal-container" :class="'modal-container-'+name">
                    <div class="modal-header" :class="'modal-header-'+name">
                        <a href="javascript:void(0);" @click="$emit('close')" class="modal-close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                        <slot name="header">

                        </slot>
                    </div>

                    <div class="modal-body" :class="'modal-body-'+name">
                        <slot name="body">

                        </slot>
                    </div>

                    <div v-if="footer" class="modal-footer" :class="'modal-footer-'+name">
                        <slot name="footer">

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props:{
            name: {
                type: String,
                default: null,
            },
            footer:{
                type: Boolean,
                default: false
            }
        },
        mounted() {
            var vm = this;
            this.$on('close', function () {
                EventBus.$emit('closeModal');
            });
        }
    }
</script>

