<template>
    <div id="new-message-btn">
        <b class="link" @click="openForm(user)"><i class="fa fa-commenting-o" aria-hidden="true"></i> Написати повідомлення</b>
        <form-new-message></form-new-message>
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('form-new-message', require('../forms/FormNewMessage.vue'));
    export default{
        props:{
            user: {
                type: [Object, Array],
                default: null,
            }
        },
        methods:{
            openForm: function (user) {
                if(this.$auth.isAuth())
                {
                    EventBus.$emit('newMessageToUser', user);
                }
                else
                {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: 'Необхідно авторизуватися.',
                    });
                }

            }
        }
    }
</script>