<template>
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-shop w100p" @click="accept(user)"><i class="fa fa-check" aria-hidden="true"></i> {{ $t('to_accept') }}</button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-shop w100p" @click="refuse(user)"><i class="fa fa-ban" aria-hidden="true"></i> {{ $t('to_refuse') }}</button>
        </div>
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props:{
            user: {
                type: Object,
                default: null,
            }
        },
        data(){
            return {
                
            }
        },
        methods: {
            accept: function (user) {
                axios.post('/api/v1/friends/accept/'+user.request.id).then(response => {
                    EventBus.$emit('readNotifi', response.data.countNew);
                    EventBus.$emit('onRefuse', user);
                }).catch(error => {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: this.$i18n.t(error.response.data),
                    });
                });
                //
            },
            refuse: function (user) {

                axios.post('/api/v1/friends/refuse/'+user.request.id).then(response => {
                    EventBus.$emit('readNotifi', response.data.countNew);
                    EventBus.$emit('onRefuse', user);
                }).catch(error => {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: this.$i18n.t(error.response.data),
                    });
                });
                //
            }
        },
        mounted() {
            var vm = this;

        }
    }
</script>