<template>
    <div class="friend_request">
        <button v-if="user.is_request" class="btn btn-shop"><i class="fa fa-id-card" aria-hidden="true"></i> {{ $t('request_in_friends') }}</button>
        <button v-else-if="user.is_friend" class="btn btn-shop"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ $t('your_friend') }}</button>
        <button class="btn btn-shop" @click="add" v-else><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ $t('to_add_in_friends') }}</button>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props:{
            user: {
                type: Object,
                default: null,
            }
        },
        data(){
            return {

            }
        },
        methods: {
            add: function () {
                axios.post('/api/v1/friends/request/'+this.user.id).then(response => {
                    this.user.is_request = true;
                    this.$notify({
                        type: 'success',
                        title: this.$i18n.t('success'),
                        text: this.$i18n.t('your_request_is_sent'),
                    });
                }).catch(error => {

                });
            }
        },
        mounted() {
            var vm = this;

        }
    }
</script>