<template>
    <div class="tpl-gallery" :class="'tpl-gallery-id-'+item.id">
        <div class="in" @mouseover="onOver(item)" @mouseleave="onOut(item)">
            <div class="tpl-left">
                <ul v-if="!hoverBlock" class="infos">
                    <li><div class="ic">{{ item.scale }}</div></li>
                    <li><div class="ic">{{ item.comments }}<br> <i class="models-svg-065"></i></div></li>
                    <li><div class="ic">{{ item.views }}<br> <i class="models-svg-043"></i></div></li>
                    <li><div class="ic">{{ item.likes }}<br> <i class="models-svg-034"></i></div></li>
                </ul>
                <ul class="infos2" v-else>
                    <li>{{ item.currentImage }} : {{ item.images.length }}</li>
                    <li><i class="models-svg-177 cupoint" @click="nextImage(item)"></i></li>
                    <li><i class="models-svg-178 cupoint" @click="prevImage(item)"></i></li>
                    <li><i class="models-svg-037 f-sz-25 cupoint"></i></li>
                </ul>
            </div>
            <div class="tpl-rigth">
                <div class="user">
                    <router-link :to="item.user.link" class="ava">
                        <img :src="item.user.avatar" class="img-circle img-responsive">
                    </router-link>
                </div>
                <div class="line"></div>
                <img :src="item.img" class="img-responsive item-img">
            </div>
            <div class="clearfix"></div>
            <div class="captions">
                <div class="row">
                    <div :class="[(hoverBlock) ? 'col-lg-5' : 'col-lg-12']">
                        <h3 class="h3">{{ item.name }}</h3>
                        <h4>{{ item.category }}</h4>
                    </div>
                    <div class="col-lg-7 text-right" v-if="hoverBlock">
                        <button type="button" class="btn btn-shop">Галерея автора <i class="blk-uniF101"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div v-if="hoverBlock" :style="popSettings" class="big-image-block" :class="[(num == 0 || num == 1) ? 'big-image-block-r' : 'big-image-block-l']">
            <img v-lazy="item.images[item.currentImage-1]" class="img-responsive">
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            },
            num: {
                type: Number,
                default: 0,
            },
        },
        data(){
            return {
                hoverBlock: false,
                popSettings:{
                    top: '0px',
                    left: '0px',
                    right: '0px',
                    bottom: '0px',
                    marginLeft: '0px',
                    marginRight: '0px',
                }
            }  
        },
        methods: {
            nextImage(item)
            {
                if(item.images.length > 1 && item.images.length !== item.currentImage)
                {
                    item.currentImage += 1;
                }
                else
                {
                    item.currentImage = 1;
                }
            },
            prevImage(item)
            {
                if(item.currentImage == 1)
                {
                    item.currentImage = item.images.length;
                }
                else
                {
                    item.currentImage -= 1;
                }
            },
            onOver: function (item) {
                EventBus.$emit('closeAll');
                this.hoverBlock = true;

                var $b = $('.tpl-gallery-id-'+item.id);

                if(this.num == 0 || this.num == 1)
                {
                    this.popSettings.marginLeft = $b.width()+45+'px';
                }
                else
                {
                    this.popSettings.marginLeft = -($b.width()*2)+30+'px';
                }

            },
            onOut: function (item) {
                this.hoverBlock = false;
            }
        },
        mounted() {
            var vm = this;
            EventBus.$on('closeAll', function () {
                vm.hoverBlock = false;
            })
        }
    }
</script>