<template>
    <transition name="fade">
        <div class="opened-message">
            <div class="row m-b-15">
                <div class="col-lg-11">
                    <!--<h3>{{ message.subject }}</h3>-->
                </div>
                <div class="col-lg-1 text-right">
                    <i class="fa fa-window-close cupoint" @click="$emit('closeMsg')" aria-hidden="true"></i>
                </div>
            </div>
            <div class="opened-message-scroll">
                <VuePerfectScrollbar :settings="settings" class="scroll-area" ref="scroll">
                    <ul class="opened-message-list messages" v-if="Object.keys(messages).length">
                        <template v-if="messages.data.length">
                            <li v-for="item in messages.data" class="message">
                                <tpl-message :item="item"></tpl-message>
                            </li>
                        </template>
                    </ul>
                </VuePerfectScrollbar>
                <div class="opened-message-reply">
                    <div class="row">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-11">
                            <form-reply-message></form-reply-message>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';

    Vue.component('form-reply-message', require('../forms/FormReplyMessage.vue'));
    Vue.component('tpl-message', require('../messages/TplMessage.vue'));
    Vue.component('message', require('../messages/Message.vue'));

    export default {
        props:{
            message: {
                type:[Array, Object],
                default: null,
            },
        },
        components: {
            VuePerfectScrollbar
        },
        data(){
            return {
                messages:[],
                settings:{
                    suppressScrollX: true,
                },
                height: 'auto',
            }
        },
        methods: {
            getMessages: function () {
                var vm = this;
                if(this.$route.params.id)
                {
                    axios.post('/api/v1/message/get/reply/'+this.$route.params.id).then(response => {
                        this.messages = response.data;
                        vm.setHeight();
                        setTimeout(function () {
                            vm.$refs.scroll.$el.scrollTop = 9999999;
                        }, 500);
                        this.newReply();
                    }).catch(error => {
                       this.$router.push({name:'message'});
                       this.$emit('closeMsg');
                    });
                }
            },
            newReply: function () {
                var vm = this;
                //
                this.$echo.channel('message.'+this.$route.params.id).listen('.Modules.Message.Events.NewReplyEvent', (payload) => {
                    vm.messages.data.push(payload.reply);
                    vm.setHeight();
                    setTimeout(function () {
                        vm.$refs.scroll.$el.scrollTop = 9999999;
                    }, 100);
                });
            },
            setHeight: function () {
                if(this.messages.data.length >= 5)
                {
                    $('.scroll-area').height(440);
                }
                else
                {
                    $('.scroll-area').height('auto');
                }
            }
        },
        watch:{
            '$route': 'getMessages',
        },
        computed: {

        },
        mounted() {
            var vm = this;
            //
            this.getMessages();
        }
    }
</script>
<style lang="scss">
    .scroll-area {
        position: relative;
        margin: auto;
        height: auto;
    }
</style>