<template>
    <transition appear name="v-img-fade">
        <div class="chat-open-image">
            <div class="head">
                <button type="button" class="btn btn-link btn-close" @click="$emit('close')"><i class="fa fa-times"></i></button>
            </div>
            <div class="body">
                <img :src="src" class="img-responsive"/>
            </div>
        </div>
    </transition>
</template>
<script>
    export default{
        props:{
            src: {
                type: String,
                default: null,
            }
        }
    }
</script>