<template>
    <div class="row">
        <div class="col-lg-1">
            <router-link :to="item.user.link" target="_blank">
                <img :src="'/avatar/40x40/'+item.user.id" alt="" class="img-circle">
            </router-link>
        </div>
        <div class="col-lg-11">
            <div class="msg-in">
                <div class="header-msg row">
                    <div class="col-lg-6">
                        <router-link :to="item.user.link" target="_blank" class="username">
                            {{ item.user.name }}
                        </router-link>
                    </div>
                    <div class="col-lg-6">
                        <div class="date">{{ item.created_at }}</div>
                    </div>
                </div>
                <div class="body-msg" v-html="item.message"></div>
                <template v-if="item.file">
                    <div class="body-msg" v-if="item.file.type == 'image'">
                        <img v-img="{src: item.file.original}" :src="item.file.thum" class="img-responsive"/>
                    </div>
                    <div class="body-msg" v-if="item.file.type == 'file'">
                        <a :href="item.file.original">
                            <i class="fa" :class="item.file.ico"></i> 
                        </a>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            item: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return {

            }
        },
        methods:{
            openImage: function () {
                var vm = this;
//                this.$nextTick(function () {
//                    $('.reply-zoom-img').click(function () {
//                        EventBus.$emit('openImage', $(this).attr('src'));
//                    });
//                });
            }
        },
        mounted(){
            this.openImage();
        }
    }
</script>