<template>
    <div class="audio-fields">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-wrap">
                    <div class="btn-box">
                        <button type="button" class="btn btn-custom-yellow">автозаповнення</button>
                        <i class="models-svg-028"></i>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="btn btn-custom collapsed" data-toggle="collapse" data-target="#demo3" aria-expanded="false">імпорт даних
                        </button>
                        <i class="models-svg-028"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="demo3" class="collapse modal-block">
                <div class="row">
                    <div class="col-md-12">
                        <p>Ви можете імортувати дані (тількі інформацію не файли)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Shutterstock</strong>
                    </div>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="посилання">
                            <span class="input-group-btn">
                          <button class="btn" type="button">
                            <i class="fas fa-arrow-right"></i>
                          </button>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <div class="delete">x</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Audiojungle</strong>
                    </div>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="посилання">
                            <span class="input-group-btn">
                          <button class="btn" type="button">
                            <i class="fas fa-arrow-right"></i>
                          </button>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <div class="delete">x</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-box">
            <div class="row">
                <div class="col-md-4">
                    <strong>Bit Rate</strong>
                </div>
                <div class="col-md-5">
                    <div class="input-group input-group-1">
                        <input type="text" class="form-control form-control-1" placeholder="320 kbps"/>
                        <span class="input-group-addon">
                            <i class="models-svg-028"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox-2">
                        <label>
                            <input type="checkbox" name="role[]" value="4">
                            <span></span>
                            Looped audio
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Sample Rate</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <input type="text" class="form-control form-control-1" placeholder="16-Bit Stereo, 44.1 kHz"/>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Main track lenght</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <vue-slider class="slid1" :height="3"></vue-slider>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Tempo (bpm)</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <vue-slider class="slid1" :height="3"></vue-slider>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Vocals</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <field-select-one2
                                    :options="[]"
                                    :name="'Unknown'"
                                    :title="'Unknown'"
                                    v-errors="'Unknown'"
                            ></field-select-one2>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>File formats included</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <field-select-one2
                                    :options="[]"
                                    :name="'Unknown'"
                                    :title="'Unknown'"
                                    v-errors="'Unknown'"
                            ></field-select-one2>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Composer</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <input type="text" class="form-control form-control-1" placeholder="Unknown"/>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Publisher</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <input type="text" class="form-control form-control-1" placeholder="Unknown"/>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>YouTube Content ID Administered By</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <input type="text" class="form-control form-control-1" placeholder="Unknown"/>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>YouTube Content ID Registered</strong>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group input-group-1">
                            <div class="radio radio-flex">
                                <label>
                                    <input type="radio" name="YouTubeID" value="1"> <span></span>Так
                                </label>
                                <label>
                                    <input type="radio" name="YouTubeID" value="2"> <span></span>Ні
                                </label>
                            </div>
                            <span class="input-group-addon">
                                <i class="models-svg-028"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component';
    export default {
        components: {
            vueSlider
        },
        data () {
            return {
                value: 0
            }
        }
    }
</script>