<template>
    <div class="row">
        <div class="col-md-12">
            <div class="options-box">
                <ul>
                    <li class="" v-for="(item, k) in items">
                        <div class="info">
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" v-model="top" @change="setItem(item, k)" :disabled="disabled">
                                    <span></span>
                                </label>
                            </div>
                            <div class="icon-box">
                                <i class="models1-svg-185"></i>
                            </div>
                            <div class="text">
                                <p>Топ-оголошення</p>
                            </div>
                            <div class="select-box" style="width: 150px">
                                <field-reklama-day :mykey="k" :items="item.tops" @selectDay="selectDay"></field-reklama-day>
                            </div>
                        </div>
                        <div class="price-box">
                            <strong>{{ selected[k].pix }}</strong><sup>PIX</sup>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('field-reklama-day', require('../products/FieldReklamaDay.vue'));
    export default{
        props:{
            value:{
                type: [Array, Object],
                default: null,
            },
            items:{
                type: [Array, Object],
                default: null,
            },
            disabled:{
                type: Boolean,
                default: false,
            }
        },
        data(){
            return{
                selected: [],
                top: false,
            }
        },
        watch:{
            items: function (data) {
                var vm = this;
                _.forEach(data, function (v,k) {
                    vm.selected.push({pix:0, day:0});
                });
            },
            value: function (data) {
                if(!Object.keys(data).length){
                    this.top = false;
                }else {
                    this.top = true;
                }
            }
        },
        methods:{
            selectDay: function (item, k) {
                var s = _.find(this.items[k].tops,{pix: item.toString()});
                this.selected[k].pix = parseInt(s.pix);
                this.selected[k].day = parseInt(s.day);
            },
            setItem: function (item, k) {
                if(this.top){
                    this.$emit('input', this.selected[k]);
                }else {
                    this.$emit('input', {});
                }
            }
        }
    }
</script>

