<template>
    <div class="row" id="block-reklama-rotation">
        <div class="col-md-12">
            <div class="options-box">
                <ul>
                    <li class="" v-for="item in items">
                        <div class="info">
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" v-model="rotation" @change="setItem(item)" :disabled="disabled">
                                    <span></span>
                                </label>
                            </div>
                            <div class="img-box">
                                <i class="models1-svg-184"></i>
                            </div>
                            <div class="text">
                                <p><strong>{{ item.rotation }}</strong> днів ротація в головному меню</p>
                            </div>
                        </div>
                        <div class="price-box">
                            <strong>{{ item.pix }}</strong><sup>PIX</sup>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value:{
                type: [Array, Object],
                default: null,
            },
            items:{
                type: [Array, Object],
                default: null,
            },
            disabled:{
                type: Boolean,
                default: false,
            }
        },
        data(){
            return{
                rotation: false,
            }
        },
        watch:{
            value: function (data) {
                if(!Object.keys(data).length){
                    this.rotation = false;
                }else {
                    this.rotation = true;
                }
            }
        },
        methods:{
            setItem: function (item) {
                if(this.rotation){
                    this.$emit('input', item);
                }else {
                    this.$emit('input', {});
                }
            }
        }
    }
</script>