<template>
    <div class="row">
        <div class="col-md-4" v-for="item in items">
            <div class="tarif-block">
                <div class="block title">
                    {{ item.name[$t('lang')] }}
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="info" v-html="item.description[$t('lang')]"></div>
                <div class="tarif-wrap active">
                    <div class="block block-1">
                        <div class="img-box">
                            <i class="models1-svg-185"></i>
                        </div>
                        <p>Топ-оголошення на <strong>{{ item.top }}</strong> днів днів в пошуку і категорії</p>
                    </div>
                    <div class="block block-2">
                        <div class="img-box">
                            <i class="models1-svg-184"></i>
                        </div>
                        <p v-if="item.rotation > 0">{{ item.rotation }} дні ротація в головному меню</p>
                        <p v-else>ротація в головному меню</p>
                    </div>
                    <div class="block block-3">
                        <div class="text-box">
                            <strong>{{ item.pix }}</strong><sup>PIX</sup>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button v-if="!value.length && item._id !== value._id" type="button" @click="selectBlock(item)" class="btn btn-yellow">Вибрати</button>
                        <button @click="cancelBlock" type="button" class="btn btn-yellow chk" v-else>Відмінити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value:{
                type: [Array, Object],
                default: null,
            },
            items:{
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                yourPIX: this.$auth.getUser().pix,
            }
        },
        watch:{
            value: function (data) {
//                if(this.item && data._id == this.item._id)
//                {
//                    this.item = [];
//                    this.$emit('input', []);
//                }
            }
        },
        methods:{
            selectBlock: function (item) {
                if(this.yourPIX < item.pix) {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: 'На вашому рахкнку недостатньо PIX.',
                    });
                }else {
                    this.$emit('input', item);
                }
            },
            cancelBlock: function () {
                this.item = null;
                this.$emit('input', {});
            }
        }
    }
</script>