<template>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <template v-for="(breadcrumb, k) in breadcrumbs">
                <li v-if="k == 0" class="breadcrumb-item">
                    <a href="#">
                        <i :class="breadcrumb.ico"></i> {{ breadcrumb.name[$t('lang')] }}
                    </a>
                </li>
                <li class="breadcrumb-item" v-else>
                    <a href="#">{{ breadcrumb.name[$t('lang')] }}</a>
                </li>
            </template>
        </ol>
    </nav>
</template>

<script>
    export default{
        props:{
            breadcrumbs: {
                type: [Array, Object],
                default: null,
            }
        }
    }
</script>