<template>
    <div class="product-comment">
        <div class="comments-box">
            <div class="comment">
                <div class="top-box">
                    <div class="left">
                        <div class="ava">
                            <a href="#">
                                <img src="http://erundit.ru/image/cache/catalog/avatar/260-200x200.jpg" alt="Захарчук Станіслав" class="img-circle img-responsive">
                            </a>
                        </div>
                        <div class="name">
                            <a href="#">
                                Homer Simpson
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="date">
                            9 червня 2017 20:01
                        </div>
                        <div class="status status-1">
                            <i class="fa fa-flag collapsed" data-toggle="collapse" data-target="#demo" aria-expanded="false"></i>
                        </div>
                        <i class="models-svg-034"></i>
                    </div>
                </div>
                <div class="text">
                    <p>Hey, I really appreciate your work. Good going… keep it up. :)
                        I would be happy if you check out my profile @Codiant Software and please share your view about my designs. Thanks!</p>
                </div>
            </div>
            <div id="demo" class="modal-block collapse" aria-expanded="false" style="height: 0px;">
                <div class="delete-comment">
                    <p>Поясніть чому адмінеістрація повинна видалити цей коментар, негативний коментар НЕ видаляється безпідставно</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ваше пояснення">
                        <span class="input-group-btn">
                            <button class="btn" type="button">
                              <i class="fa fa-paper-plane"></i>
                            </button>
                          </span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="top-box">
                    <div class="left">
                        <div class="ava">
                            <a href="#">
                                <img src="http://erundit.ru/image/cache/catalog/avatar/260-200x200.jpg" alt="Захарчук Станіслав" class="img-circle img-responsive">
                            </a>
                        </div>
                        <div class="name">
                            <a href="#">
                                Homer Simpson
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="date">
                            9 червня 2017 20:01
                        </div>
                        <div class="status status-1">
                            <i class="fa fa-flag collapsed" data-toggle="collapse" data-target="#demo-1" aria-expanded="false"></i>
                        </div>
                        <i class="models-svg-034"></i>
                    </div>
                </div>
                <div class="text">
                    <p>Hey, I really appreciate your work. Good going… keep it up. :)
                        I would be happy if you check out my profile @Codiant Software and please share your view about my designs. Thanks!</p>
                </div>
            </div>
            <div id="demo-1" class="modal-block collapse" aria-expanded="false" style="height: 0px;">
                <div class="delete-comment">
                    <p>Поясніть чому адмінеістрація повинна видалити цей коментар, негативний коментар НЕ видаляється безпідставно</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ваше пояснення">
                        <span class="input-group-btn">
                            <button class="btn" type="button">
                              <i class="fa fa-paper-plane"></i>
                            </button>
                          </span>
                    </div>
                </div>
            </div>
            <div class="delete-comment">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ваш коментар">
                    <span class="input-group-btn">
                          <button class="btn" type="button">
                            <i class="fa fa-paper-plane"></i>
                          </button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</template>