<template>
    <div class="cost-accordion">
        <div class="panel-group" id="accordion-cost" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" v-for="(item, k) in items">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion-cost" :href="'#colapse-'+k">
                            {{ item.name }}
                        </a>
                    </h4>
                </div>
                <div :id="'colapse-'+k" class="panel-collapse collapse">
                    <div class="panel-body" v-html="item.body"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import costAcc from '../products/costAccordionData';

    export default{
        data(){
            return{
                items: costAcc,
            }
        }
    }
</script>