<template>
    <div class="product-description">
        <div class="text">
            <p> High Detailed Photorealistic Lion; FULLY RIGGED, UVunwrapped and smoothable, made with Maya.
                Shave and a haircut for hair. This model has a clean geometry based on loops and 'only' quads. It is FULLY RIGGED and comes with Maya settings for MentalRay renderer. (Ready to render exactly as you see above)
                - eyes, corneas, gum, teeth and tongue are modeled separately.
                The model is provided in both the default rigging pose and signature/preview pose, in separate maya files.
                This model has a clean geometry based on loops and 'only' quads. It is FULLY RIGGED and comes with Maya settings for MentalRay renderer. (Ready to render exactly as you see above)
                - eyes, corneas, gum, teeth and tongue are modeled separately.
                The model is provided in both the default rigging pose and signature/preview pose, in separate maya files.</p>
        </div>
        <div class="tag-box">
            <a href="#">3d room</a>
            <a href="#">work room</a>
            <a href="#">teg1</a>
            <a href="#">teg_N</a>
        </div>
    </div>
</template>