<template>
    <div id="product-detail" class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th colspan="2">Специфікація</th>
                <th colspan="2">Включає такі формати</th>
            </tr>
            <tr>
                <td>Product ID</td>
                <td>1062764</td>
                <td>Cineam 4D 16 (.c4d)</td>
                <td>68 MB</td>
            </tr>
            <tr>
                <td>Опубліковано</td>
                <td>21.11.2017</td>
                <td>Alembic (.abc)</td>
                <td>68 MB</td>
            </tr>
            <tr>
                <td>Geaometry</td>
                <td>Tris</td>
                <td>OBJ (.obj)</td>
                <td>68 MB</td>
            </tr>
            <tr>
                <td>Polygons</td>
                <td>291.810</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Vertices</td>
                <td>327.310</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Текстури</td>
                <td>Так</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Матеріал</td>
                <td>Так</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Rigged</td>
                <td>Ні</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Анімовано</td>
                <td>Ні</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>UV Mapped</td>
                <td>Так</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Unwraped UVs</td>
                <td>Так</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>