<template>
    <v-select-one v-model="value" :options="options"></v-select-one>
</template>

<script>
    export default{
        props:{
            items:{
                type: [Array, Object],
                default: null,
            },
            mykey: 0,
        },
        data(){
            return{
                value: null,
            }
        },
        watch:{
            value: function (val) {
                this.$emit('selectDay', val, this.mykey);
                this.event.$emit('selectDay', val, this.mykey);
            }
        },
        computed:{
            options: function () {
                var options = [];
                _.forEach(this.items, function (v) {
                    options.push({
                        id: parseInt(v.pix),
                        name: v.day,
                    })
                });

                var first = _.head(options);
                this.value = first.id;
                return options;
            }
        }
    }
</script>
