<template>
    <div id="form-category">
        <div class="row">
            <div class="col-lg-6">
                <h2>Виберіть категорію</h2>
            </div>
            <div class="col-lg-6 text-right">

            </div>
        </div>
        <div class="row" v-if="items.length">
            <template v-for="(item, k) in items">
                <div class="col-lg-3">
                    <div class="thumbnail" @click="getSub(item, k)">
                        <p><i :class="item.ico"></i></p>
                        <p>{{ item.name[$t('lang')] }}</p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                items: (this.$session.has('catalog')) ? this.$session.get('catalog') : [],
                product: {
                    name: null,
                    category: [],
                    step: 0,
                },
            }
        },
        methods:{
            getSub: function (item, k) {
                console.log(item);
                this.product.category.push(item.id);
//                this.$emit('input', this.category);
//                this.$emit('categorySelect');
            },
            setName: function () {
                let name = {
                        uk: 'Новий товар',
                        ru: 'Новый товар',
                        en: 'New product',
                };
                this.product.name = name[this.$i18n.t('lang')];
            }
        },
        mounted()
        {
            this.setName();
        }
    }
</script>