<template>
    <div id="form-add-products-1">
        <div class="dropbox">
            <i class="ico-drag-drop"></i>
            <p>перетягніть сюди<br>ваш файл</p>
            <p><strong>або</strong></p>
            <button class="btn btn-default btn-up btn-xs" @click="getFiles" type="button">виберіть файл</button>
            <input id="upload-file" type="file" class="hidden" multiple="multiple" @change="onFileChange"/>
        </div>
        <!--<div class="row dropbox-info-wrap">-->
            <!--<div class="col-md-4">-->
                <!--<div class="dropbox-info">-->
                    <!--<p>Обмеження для одного файлу:</p>-->
                    <!--<strong>500 MB</strong>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="dropbox-info text-center">-->
                    <!--<p>Максимальний розмір файлів:</p>-->
                    <!--<strong>2 000 MB</strong>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="dropbox-info text-right">-->
                    <!--<p>Місця використовується:</p>-->
                    <!--<strong>316,63 KB</strong>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row" v-if="category == 2 && hasAudio">
            <div class="col-lg-12">
                <div class="download-audio">
                    <div class="info">
                        <p>Завантажені треки тільки <strong>MP3</strong> (max size 2mb)</p>
                    </div>
                    <ul class="archiv-ul">
                        <template v-for="(item, k) in items.audio">
                            <li class="archiv">
                                <div class="archiv-head">
                                    <i class="models-svg-018"></i>
                                    {{ item.name }}
                                    <div class="progress" v-if="item.loading">
                                        <div class="progress-bar" role="progressbar" :aria-valuenow="item.load" aria-valuemin="0" aria-valuemax="100" :style="{width:item.load+'%'}">{{ item.load }}%</div>
                                    </div>
                                    <i @click="removeAudio(item, k)" class="fa fa-times" v-if="!item.loading"></i>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" v-if="category == 3 && hasVideo">
            <div class="col-lg-12">
                <div class="download-video">
                    <div class="info">
                        <p>Завантажені відео тільки <strong>MP4</strong> (max size 20mb)</p>
                    </div>
                    <ul class="archiv-ul">
                        <template v-for="(item, k) in items.video">
                            <li class="archiv">
                                <div class="archiv-head">
                                    <i class="models-svg-022"></i>
                                    {{ item.name }}
                                    <div class="progress" v-if="item.loading">
                                        <div class="progress-bar" role="progressbar" :aria-valuenow="item.load" aria-valuemin="0" aria-valuemax="100" :style="{width:item.load+'%'}">{{ item.load }}%</div>
                                    </div>
                                    <i @click="removeVideo(item, k)" class="fa fa-times" v-if="!item.loading"></i>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5" v-if="hasImages">
                <div class="download-img">
                    <div class="info">
                        <p>Завантажені картинки тільки <strong>JPG, PNG</strong> (max size 2000x4000px)</p>
                    </div>
                    <ul v-if="items.images">
                        <draggable v-model="items.images">
                            <transition-group>
                                <li v-for="(image, k) in items.images" :key="k" class="col-lg-3">
                                    <div class="img-box">
                                        <i v-if="!image.loading" class="fa fa-times" @click="removeImage(image, k)"></i>
                                        <img :src="image.img" class="img-responsive" :class="[(image.loading) ? 'opa-05' : null]"/>
                                        <div class="filename" v-if="!image.loading">{{ image.name }}</div>
                                        <div class="progress" v-if="image.loading">
                                            <div class="progress-bar" role="progressbar" :aria-valuenow="image.load" aria-valuemin="0" aria-valuemax="100" :style="{width:image.load+'%'}">{{ image.load }}%</div>
                                        </div>
                                    </div>
                                </li>
                            </transition-group>
                        </draggable>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7" v-if="hasArchives">
                <div class="download-archive">
                    <div class="info">
                        <p>Завантажені архіви виключно в форматах <strong>ZIP, RAR</strong></p>
                    </div>
                    <ul class="archiv-ul">
                        <template v-for="(archiv, k) in items.archives">
                            <li class="archiv">
                                <div class="archiv-head">
                                    <i class="fa fa-archive"></i>
                                    {{ archiv.name }}
                                    <div class="progress" v-if="archiv.loading">
                                        <div class="progress-bar" role="progressbar" :aria-valuenow="archiv.load" aria-valuemin="0" aria-valuemax="100" :style="{width:archiv.load+'%'}">{{ archiv.load }}%</div>
                                    </div>
                                    <i @click="removeArchive(archiv, k)" class="fa fa-times" v-if="!archiv.loading"></i>
                                </div>
                                <div class="archiv-soft">
                                    <div class="form-group">
                                        <label>Software</label>
                                        <field-select-multiple2
                                                :options="[]"
                                                :url="'/api/v1/product/formats'"
                                                :name="'formats'"
                                                :title="'formats'"
                                                v-model="items.formats[k].value"
                                                v-errors="'formats'"
                                                @onSelect="saveFormat"
                                        ></field-select-multiple2>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import draggable from 'vuedraggable';
    Vue.component('field-software', require('../fields/FieldSoftware.vue'));

    export default{
        props:{
            category:{
                type: [String, Number],
                default: null,
            },
            value:{
                type: [Array, Object],
                default: null,
            },
        },
        components: {
            draggable,
        },
        data(){
            return {
                hasImages: false,
                hasArchives: false,
                hasAudio: false,
                hasVideo: false,
                items: {
                    images: [],
                    archives: [],
                    formats: [],
                    audio: [],
                    video: [],
                },
            }
        },
        watch: {
            'items.images': function (vals) {
                if(vals !== undefined && vals.length == 0)
                {
                    this.hasImages = false;
                }
            },
            'items.archives': function (vals) {
                if(vals !== undefined && vals.length == 0)
                {
                    this.hasArchives = false;
                }
            },
        },
        methods:{
            getFiles: function () {
                $('#upload-file').click();
            },
            onFileChange: function (e) {
                e.preventDefault();
                var vm = this;
                var files = e.target.files || e.dataTransfer.files;
                //
                _.forEach(files, function (file) {
                    var name = file.name.split('.');

                    if(file.type.indexOf('image') == 0)
                    {
                        vm.createImage(file);
                        vm.hasImages = true;
                    }
                    else if(_.last(name) == 'zip' || _.last(name) == 'rar' || _.last(name) == '7z' || _.last(name) == 'gz' || _.last(name) == 'tar')
                    {
                        vm.createArchive(file);
                        vm.hasArchives = true;
                    }
                    else if(_.last(name) == 'mp3')
                    {
                        if(vm.category == 2)
                        {
                            vm.createAudio(file);
                            vm.hasAudio = true;
                        }
                    }
                    else if(_.last(name) == 'mp4')
                    {
                        if(vm.category == 3)
                        {
                            vm.createVideo(file);
                            vm.hasVideo = true;
                        }
                    }
                    else
                    {

                    }
                });
            },
            createImage: function (file) {
                var vm = this;
                var reader = new FileReader();
                reader.onload = function (e) {
                    var id = Math.round(new Date().getTime() + (Math.random() * 100));
                    var i = e.target.result;
                    vm.items.images.push({
                        fid: null,
                        id: id,
                        img: i,
                        name: file.name,
                        loading: true,
                        load:0,
                    });
                    vm.uploadImage(file, id);
                }
                reader.readAsDataURL(file);
            },
            createArchive: function (file) {
                if(file.size > 2147483648)
                {
                    this.$notify({
                        type: 'error',
                        title: 'Помилка!',
                        text: 'Файл перевищує допустимий розмір.',
                    });
                }
                else {
                    var vm = this;
                    var id = Math.round(new Date().getTime() + (Math.random() * 100));
                    vm.items.archives.push({
                        fid: null,
                        id: id,
                        name: file.name,
                        path: null,
                        soft: null,
                        loading: true,
                        load: 0,
                    });
                    vm.uploadArchive(file, id);
                    this.items.formats.push({value: []});
                }
            },
            createVideo: function (file) {

                if(file.size > 20971520)
                {
                    this.$notify({
                        type: 'error',
                        title: 'Помилка!',
                        text: 'Файл перевищує допустимий розмір.',
                    });
                }
                else
                {
                    var vm = this;
                    var id = Math.round(new Date().getTime() + (Math.random() * 100));
                    vm.items.video.push({
                        fid: null,
                        id: id,
                        name: file.name,
                        path: null,
                        soft: null,
                        loading: true,
                        load:0,
                    });
                    vm.uploadVideo(file, id);
                }
            },
            createAudio: function (file) {
                if(file.size > 2097152)
                {
                    this.$notify({
                        type: 'error',
                        title: 'Помилка!',
                        text: 'Файл перевищує допустимий розмір.',
                    });
                }
                else
                {
                    var vm = this;
                    var id = Math.round(new Date().getTime() + (Math.random() * 100));
                    vm.items.audio.push({
                        fid: null,
                        id: id,
                        name: file.name,
                        path: null,
                        soft: null,
                        loading: true,
                        load:0,
                    });
                    vm.uploadAudio(file, id);
                }
            },
            uploadImage: function (file, id) {
                var vm = this;
                var k = this.getImageKeyByID(id);
                var form_data = new FormData();
                form_data.append('file', file);
                form_data.append('folder', 'images');

                axios.post('/api/v1/allcgstorage/upload', form_data, {
                    onUploadProgress: (progressEvent) => {
                        var pr = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                        vm.items.images[k].load = pr;
                        if(pr == 100)
                        {
                            vm.items.images[k].loading = false;
                        }
                    }
                }).then(response => {
                    vm.items.images[k]={
                        fid: response.data.id,
                        img: '/image/preview/'+response.data.id+'/68x68',
                        name: response.data.name,
                    };
                    vm.$emit('input', vm.items);
                    vm.$emit('save');
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Загрузки фото!',
                    });
                });
                //
//                axios.post('/api/v1/product/upload/images', form_data, {
//                    onUploadProgress: (progressEvent) => {
//                        var pr = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
//                        vm.items.images[k].load = pr;
//                        if(pr == 100)
//                        {
//                            vm.items.images[k].loading = false;
//                        }
//                    }
//                }).then(response => {
//
//                    vm.items.images[response.data.key]={
//                        fid: response.data.fid,
//                        id: response.data.id,
//                        img: response.data.img,
//                        name: response.data.name,
//                        loading: response.data.loading,
//                        load: response.data.load,
//                    };
//                    vm.$emit('input', vm.items);
//                    vm.$emit('save');
//                }).catch(error => {
//                    //
//                    this.$notify({
//                        type: 'error',
//                        title: 'Ошибка!',
//                        text: 'Загрузки фото!',
//                    });
//                });

            },
            getImageKeyByID: function (id) {
                var key = 0;
                _.forEach(this.items.images, function (i, k) {
                    if(i.id == id)
                    {
                        key = k;
                    }
                });
                return key;
            },
            removeImage: function (image, k) {
                var vm = this;
                this.items.images.splice(k, 1);
                axios.delete('/api/v1/allcgstorage/delete/'+image.fid);
                if(this.items.images.length == 0) this.hasImages = false;
                vm.$emit('input', vm.items);
                vm.$emit('save');
            },
            uploadArchive: function (file, id) {
                var vm = this;
                var k = this.getArchiveKeyByID(id);
                var form_data = new FormData();
                form_data.append('file', file);
                form_data.append('folder', 'archives');
                //form_data.append('key', k);
               // form_data.append('file_id', id);
                //
                axios.post('/api/v1/allcgstorage/upload', form_data, {
                    onUploadProgress: (progressEvent) => {
                        var pr = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                        vm.items.archives[k].load = pr;
                        if(pr == 100)
                        {
                            vm.items.archives[k].loading = false;
                        }
                    }
                }).then(response => {

                    vm.items.archives[k]={
                        fid: response.data.id,
                        path: response.data.path,
                        name: response.data.name,
                    };
                    vm.$emit('input', vm.items);
                    vm.$emit('save');
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Загрузки архива!',
                    });
                });


//                axios.post('/api/v1/product/upload/archives', form_data, {
//                    onUploadProgress: (progressEvent) => {
//                        var pr = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
//                        vm.items.archives[k].load = pr;
//                        if(pr == 100)
//                        {
//                            vm.items.archives[k].loading = false;
//                        }
//                    }
//                }).then(response => {
//
//                    vm.items.archives[response.data.key]={
//                        fid: response.data.fid,
//                        id: response.data.id,
//                        path: response.data.path,
//                        name: response.data.name,
//                        soft: response.data.soft,
//                        loading: response.data.loading,
//                        load: response.data.load,
//                    };
//                    vm.$emit('input', vm.items);
//                    vm.$emit('save');
//                }).catch(error => {
//                    //
//                    this.$notify({
//                        type: 'error',
//                        title: 'Ошибка!',
//                        text: 'Загрузки архива!',
//                    });
//                });
            },
            getArchiveKeyByID: function (id) {
                var key = 0;
                _.forEach(this.items.archives, function (i, k) {
                    if(i.id == id)
                    {
                        key = k;
                    }
                });
                return key;
            },
            removeArchive: function (item, k) {
                var vm = this;
                console.log(item);
                this.items.archives.splice(k, 1);
                this.items.formats.splice(k, 1);
                axios.delete('/api/v1/allcgstorage/delete/'+item.fid);
                if(this.items.archives.length == 0) this.hasArchives = false;
                vm.$emit('input', vm.items);
                vm.$emit('save');
            },
            uploadVideo: function (file, id) {
                var vm = this;
                var k = this.getVideoKeyByID(id);
                var form_data = new FormData();
                form_data.append('file', file);
                form_data.append('folder', 'videos');
                //form_data.append('key', k);
                //form_data.append('file_id', id);
                //
                axios.post('/api/v1/allcgstorage/upload', form_data, {
                    onUploadProgress: (progressEvent) => {
                        var pr = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                        vm.items.video[k].load = pr;
                        if(pr == 100)
                        {
                            vm.items.video[k].loading = false;
                        }
                    }
                }).then(response => {
                    vm.items.video[k]={
                        fid: response.data.id,
                        path: response.data.path,
                        name: response.data.name,
                    };
                    vm.$emit('input', vm.items);
                    vm.$emit('save');
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Загрузки видео!',
                    });
                });
            },
            getVideoKeyByID: function (id) {
                var key = 0;
                _.forEach(this.items.video, function (i, k) {
                    if(i.id == id)
                    {
                        key = k;
                    }
                });
                return key;
            },
            removeVideo: function (item, k) {
                var vm = this;
                this.items.video.splice(k, 1);
                axios.delete('/api/v1/allcgstorage/delete/'+item.fid);
                if(this.items.video.length == 0) this.hasVideo = false;
                vm.$emit('input', vm.items);
                vm.$emit('save');
            },
            uploadAudio: function (file, id) {
                var vm = this;
                var k = this.getAudioKeyByID(id);
                var form_data = new FormData();
                form_data.append('file', file);
                form_data.append('folder', 'audios');
                //form_data.append('key', k);
                //form_data.append('file_id', id);
                //
                axios.post('/api/v1/product/upload/audio', form_data, {
                    onUploadProgress: (progressEvent) => {
                        var pr = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                        vm.items.audio[k].load = pr;
                        if(pr == 100)
                        {
                            vm.items.audio[k].loading = false;
                        }
                    }
                }).then(response => {

                    vm.items.audio[response.data.key]={
                        fid: response.data.id,
                        path: response.data.path,
                        name: response.data.name,
                    };
                    vm.$emit('input', vm.items);
                    vm.$emit('save');
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка!',
                        text: 'Загрузки audio!',
                    });
                });
            },
            getAudioKeyByID: function (id) {
                var key = 0;
                _.forEach(this.items.audio, function (i, k) {
                    if(i.id == id)
                    {
                        key = k;
                    }
                });
                return key;
            },
            removeAudio: function (item, k) {
                var vm = this;
                this.items.audio.splice(k, 1);
                axios.delete('/api/v1/allcgstorage/delete/'+item.fid);
                if(this.items.audio.length == 0) this.hasAudio = false;
                vm.$emit('input', vm.items);
                vm.$emit('save');
            },
            saveFormat: function () {
                this.$emit('input', this.items);
                this.$emit('save');
            },
        },
        mounted(){
            var vm = this;
            //
            this.items = (this.$session.get('product').files) ? this.$session.get('product').files : this.items;
            //
            this.hasArchives = (this.items && this.items.archives.length) ? true : false;
            this.hasImages = (this.items && this.items.images.length) ? true : false;
            this.hasAudio = (this.items && this.items.audio.length) ? true : false;
            this.hasVideo = (this.items && this.items.video.length) ? true : false;
            //

        }
    }
</script>