<template>
    <div class="download-description">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group bold" v-errors="'category.1'">
                    <label>Вибір категорії <i class="models-svg-028"></i></label>
                    <field-category v-model="product.category"></field-category>
                </div>
                <div class="form-group bold"  v-errors="'name'">
                    <label>Найменування товару <i class="models-svg-028"></i></label>
                    <input v-model="product.name" type="text" class="form-control form-control-1" placeholder="Найменування" @blur="saveProduct"/>
                </div>
                <div class="form-group bold" v-errors="'description'">
                    <label>Опис <i class="models-svg-028"></i></label>
                    <textarea v-model="product.description" class="form-control form-control-1" placeholder="Опис товару" rows="10" @blur="saveProduct"></textarea>
                </div>
                <div class="form-group bold" v-errors="'tags'">
                    <label>Ключові слова</label>
                    <p>(повинні бути написані тільки англійською, розділені комою з пробілом, макисмум 10 слів)</p>
                    <field-tags v-model="product.tags" :id="product._id" @save="saveProduct"></field-tags>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <!--<audio-1></audio-1>-->
                <models-1 v-if="visible == 'model1'" v-model="product.models" @save="saveProduct"></models-1>
                <models-2 v-if="visible == 'model2'" v-model="product.models" @save="saveProduct"></models-2>
                <models-3 v-if="visible == 'model3'" v-model="product.models" @save="saveProduct"></models-3>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('field-category', require('../fields/FieldCategorySelect.vue'));
    Vue.component('field-tags', require('../fields/FieldTags.vue'));
    Vue.component('audio-1', require('../products/Audio1.vue'));
    Vue.component('models-1', require('../products/Models1.vue'));
    Vue.component('models-2', require('../products/Models2.vue'));
    Vue.component('models-3', require('../products/Models3.vue'));

    export default{
        data(){
            return{
                product:[],
                validate:{
                    'category.1': {
                        label: 'Вибір категорії',
                        required: true,
                    },
                    name: {
                        label: 'Найменування товару',
                        required: true,
                        default: 'Новий товар|Новый товар|New product',
                    },
                    description: {
                        label: 'Опис',
                        required: true,
                        dyn: true,
                    },
                    tags: {
                        label: 'Ключові слова',
                        required: true,
                        dyn: true,
                        maxArr: 3,
                    },
                },
                visible: null,
            }
        },
        methods:{
            validation: function () {
                var valid = this.$validate.rules(this.validate, this.product);
                if(valid)
                {
                    this.product.step = 3;
                    this.$Progress.start();
                    axios.post('/api/v1/product/store', this.product).then(response => {
                        this.$Progress.finish();
                        this.$session.set('product', response.data);
                        this.$router.push({name: 'products.create.step.3'});
                    }).catch(error => {
                        this.$Progress.fail();
                    });
                    this.event.$emit('saveProduct', this.product);
                }
            },
            saveProduct: function () {
                this.event.$emit('saveProduct', this.product);
            },
            setFields: function (data) {
                if(data.contains('5b06d906bd30255c722ae365')) {
                    this.visible = 'model1';
                    if(data.contains('5b0f9bbebd3025362c62456c')) {
                        this.visible = 'model2';
                    }
                    if(data.contains('5b0f9bbebd3025362c624576')) {
                        this.visible = 'model3';
                    }
                }
            }
        },
        mounted(){
            var vm = this;
            this.product = (this.$session.has('product')) ? this.$session.get('product') : this.product;
            //
            this.event.$on('submit', function () {
                vm.validation();
            });
            //
            this.event.$on('selectCategory', function (data) {
                vm.setFields(data);
            });

        }
    }
</script>