<template>
    <div class="gallery-box">
        <carousel :perPage="1" :paginationEnabled="false" :navigationEnabled="true" :scrollPerPage="true">
            <template v-for="image in images">
                <slide>
                    <img v-img:product-gal :src="'/image/preview/'+image+'/original'" alt="">
                </slide>
            </template>
        </carousel>
    </div>
</template>

<script>


    export default{
        props:{
            images: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{

            }
        },
        methods:{

        },
        mounted(){

        }
    }
</script>