<template>
    <div class="field-models">
        <div class="row form-group">
            <div class="col-md-4">
                <strong>Розширення</strong>
            </div>
            <div class="col-md-4">
                <field-select-one2
                        :options="[{id: 1, name: {en: 'test', ru: 'test', uk: 'test'}}]"
                        :name="'rozshirennya'"
                        v-model="form.rozshirennya"
                        @selected="saveProduct"
                ></field-select-one2>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Вихідні файли</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.vikhidni_fayli" name="vikhidni_fayli" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.vikhidni_fayli" name="vikhidni_fayli" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Безшовна</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.bezshovna" name="bezshovna" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.bezshovna" name="bezshovna" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>З слоями</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.z_sloyami" name="z_sloyami" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.z_sloyami" name="z_sloyami" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                form:{
                    rozshirennya: null,
                    vikhidni_fayli: false,
                    bezshovna: false,
                    z_sloyami: false,
                },
                fields:{
                    rozshirennya: null,
                    vikhidni_fayli: false,
                    bezshovna: false,
                    z_sloyami: false,
                }
            }
        },
        watch:{
            value: function (data) {
                this.form = data;
            }
        },
        methods: {
            saveProduct: function () {
                this.$emit('input', this.form);
                this.$emit('save');
            }
        },
        mounted(){
            var vm = this;
            //
            //this.form = this.value;
            _.forEach(vm.fields, function (v, k) {
                _.forEach(vm.value, function (b, i) {
                    if(i == k)
                    {
                        vm.form[i] = b;
                    }
                });
            });
        }
    }
</script>