<template>
    <div class="field-models">
        <div class="row">
            <div class="col-md-4">
                <strong>Рендер</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="checkbox checkbox-block">
                        <div class="checkbox-2">
                            <label>
                                <input type="checkbox" v-model="form.render" name="render[0]" value="V-ray" @change="saveProduct"> <span></span>V-ray
                            </label>
                        </div>
                        <div class="checkbox-2">
                            <label>
                                <input type="checkbox" v-model="form.render" name="render[1]" value="Corona" @change="saveProduct"> <span></span>Corona
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                visible: false,
                form:{
                    render: [],
                },
                fields:{
                    render: [],
                }
            }
        },
        watch:{
            value: function (data) {
                this.form = data;
            }
        },
        methods: {
            saveProduct: function () {
                this.$emit('input', this.form);
                this.$emit('save');
            }
        },
        mounted(){
            //Models2.vue
            var vm = this;
            //
            //this.form = this.value;
            //
            _.forEach(vm.fields, function (v, k) {
                _.forEach(vm.value, function (b, i) {
                    if(i == k)
                    {
                        vm.form[i] = b;
                    }
                });
            });
        }
    }
</script>