<template>
    <div class="field-models">
        <div class="row">
            <div class="col-md-4">
                <strong>Полігони</strong>
            </div>
            <div class="col-md-4">
                <input type="text" v-model="form.poligoni" name="poligoni" @blur="saveProduct" class="form-control form-control-1"/>
            </div>
            <div class="col-md-4">
                <div class="checkbox-2">
                    <label>
                        <input v-model="form.low_poly" name="low_poly" type="checkbox" :value="true" @change="saveProduct">
                        <span></span>
                        Low-poly (game-ready)
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <strong>Вершини</strong>
            </div>
            <div class="col-md-4">
                <input type="text" v-model="form.vershini" @blur="saveProduct" name="vershini" class="form-control form-control-1"/>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <strong>Геометрія</strong>
            </div>
            <div class="col-md-4">
                <field-select-one2
                        :options="optionGeometriya"
                        :name="'geometriya'"
                        v-model="form.geometriya"
                        @selected="saveProduct"
                ></field-select-one2>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Анімація</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.animatsiya" name="animatsiya" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.animatsiya" name="animatsiya" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Текстури</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.teksturi" name="teksturi" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.teksturi" name="teksturi" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Скелет</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.skelet" name="skelet" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.skelet" name="skelet" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Матеріали</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.materiali" name="materiali" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.materiali" name="materiali" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Колекція</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.kolektsiya" name="kolektsiya" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.kolektsiya" name="kolektsiya" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Для друку</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.dlya_druku" name="dlya_druku" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.dlya_druku" name="dlya_druku" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <strong>Unwrapped UVS</strong>
            </div>
            <div class="col-md-4">
                <field-select-one2
                        :options="optionUnwrapped"
                        :name="'unwrapped_uvs'"
                        v-model="form.unwrapped_uvs"
                        @selected="saveProduct"
                ></field-select-one2>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Плагіни</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.plagini" name="plagini" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.plagini" name="plagini" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>UVM mapping</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.uvm_mapping" name="uvm_mapping" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.uvm_mapping" name="uvm_mapping" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>3D скан</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.skan" name="skan" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.skan" name="skan" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Контент для дорослих</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="radio radio-flex">
                        <label>
                            <input type="radio" v-model="form.kontent_dlya_doroslikh" name="kontent_dlya_doroslikh" :value="true" @change="saveProduct"> <span></span>Так
                        </label>
                        <label>
                            <input type="radio" v-model="form.kontent_dlya_doroslikh" name="kontent_dlya_doroslikh" :value="false" @change="saveProduct"> <span></span>Ні
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Рендер</strong>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-1 w100p">
                    <div class="checkbox checkbox-block">
                        <div class="checkbox-2">
                            <label>
                                <input type="checkbox" v-model="form.render" name="render[0]" value="V-ray" @change="saveProduct"> <span></span>V-ray
                            </label>
                        </div>
                        <div class="checkbox-2">
                            <label>
                                <input type="checkbox" v-model="form.render" name="render[1]" value="Corona" @change="saveProduct"> <span></span>Corona
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            value: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                form:{
                    low_poly: false,
                    poligoni: null,
                    vershini: null,
                    geometriya: null,
                    animatsiya: false,
                    teksturi: false,
                    skelet: false,
                    materiali: false,
                    kolektsiya: false,
                    dlya_druku: false,
                    unwrapped_uvs: null,
                    plagini: false,
                    uvm_mapping: false,
                    skan: false,
                    kontent_dlya_doroslikh: false,
                    render: [],
                },
                fields:{
                    low_poly: false,
                    poligoni: null,
                    vershini: null,
                    geometriya: null,
                    animatsiya: false,
                    teksturi: false,
                    skelet: false,
                    materiali: false,
                    kolektsiya: false,
                    dlya_druku: false,
                    unwrapped_uvs: null,
                    plagini: false,
                    uvm_mapping: false,
                    skan: false,
                    kontent_dlya_doroslikh: false,
                    render: [],
                },
                optionGeometriya:[],
                optionUnwrapped:[],
            }
        },
        watch:{
            value: function (data) {
                this.form = data;
            }
        },
        methods: {
            saveProduct: function () {
                this.$emit('input', this.form);
                this.$emit('save');
            },
            getOptionGeometriya: function () {
                axios.post('/api/v1/catalog/filterdata/5b31f151bd30251a082a33c3').then(response => {
                    this.optionGeometriya = response.data;
                });
            },
            getOptionUnwrapped: function () {
                axios.post('/api/v1/catalog/filterdata/5b31f201bd30251a082a33c5').then(response => {
                    this.optionUnwrapped = response.data;
                });
            }
        },
        mounted(){
            var vm = this;
            //this.form = this.value;
            _.forEach(vm.fields, function (v, k) {
                _.forEach(vm.value, function (b, i) {
                    if(i == k)
                    {
                        vm.form[i] = b;
                    }
                });
            });
            //
            this.getOptionGeometriya();
            this.getOptionUnwrapped();
        }
    }
</script>