<template>
    <div class="price-box-my-price row">
        <div class="col-lg-6">
            <div class="form-group">
                <div class="input-group input-group-my-price">
                    <span class="input-group-addon">$</span>
                    <input type="number" pattern="[0-9]*" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-custom w100p">запропонувати свою ціну</button>
        </div>
    </div>
</template>