<template>
    <div class="product-owner">
        <div class="profile-card">
            <div class="row">
                <div class="col-lg-5"><a href="javascript:void(0);" class="ava">
                    <img src="/avatar/150x150/6" alt="Taras Chubarko" class="img-circle img-responsive avaprofile">
                    <div class="online-offline online"></div>
                </a>
                    <div class="on-off-text">в мережі</div>
                    <ul class="rating-line">
                        <li class="line w50p green"></li>
                        <li class="line w16p"></li>
                        <li class="line w16p"></li>
                        <li class="line w16p"></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <div class="rt">рейтинг</div>
                            <div class="at">0</div>
                        </div>
                        <div class="col-lg-6 text-center">
                            <div class="rt">активність</div>
                            <div class="at">0%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-12"><h2>Taras Chubarko</h2></div>
                    </div>
                    <div class="info"><i aria-hidden="true" class="fa fa-map-marker"></i> Київ, Україна</div>
                    <div class="info"><i aria-hidden="true" class="fa fa-clock-o"></i> На сайті з 23.12.2017</div>
                    <div class="info"><span>0</span> Відгуків</div>
                    <div class="icons"><i aria-hidden="true" class="fa fa-credit-card-alt"></i> <i aria-hidden="true"
                                                                                                   class="fa fa-envelope c-green"></i>
                        <i aria-hidden="true" class="fa fa-user-circle"></i> <i aria-hidden="true"
                                                                                class="fa fa-phone c-green"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-r-0">
                <button type="button" class="btn btn-custom w100p">підписатись <i class="blk-uniF106 m-r-0"></i></button>
            </div>
            <div class="col-md-4 p-r-0">
                <button type="button" class="btn btn-custom w100p">написати <i class="models-svg-128 f-sz-10 m-r-0"></i></button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-custom w100p">найняти <i class="models-svg-130 m-r-0"></i></button>
            </div>
        </div>
    </div>
</template>