<template>
    <div id="page-product-view" class="container">
        <breadcrumb :breadcrumbs="product.breadcrumbs"></breadcrumb>

        <div class="row">
            <div class="col-lg-4">
                <panel-left :product="product"></panel-left>
            </div>
            <div class="col-lg-8">
                <tab-product></tab-product>

                <transition name="fade2">
                    <template v-if="show == 'main'">
                        <gallery-product :images="product.images"></gallery-product>
                    </template>

                    <template v-if="show == 'detail'">
                        <detail-1-product></detail-1-product>
                    </template>

                    <template v-if="show == 'description'">
                        <description-product></description-product>
                    </template>

                    <template v-if="show == 'comment'">
                        <comment-product></comment-product>
                    </template>

                    <template v-if="show == 'review'">
                        <review-product></review-product>
                    </template>
                </transition>

            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('breadcrumb', require('../products/BreadcrumbProduct.vue'));
    Vue.component('panel-left', require('../products/PanelProductLeft.vue'));
    Vue.component('tab-product', require('../products/TabProductView.vue'));
    Vue.component('gallery-product', require('../products/GalleryProduct.vue'));
    Vue.component('detail-1-product', require('../products/Detail1.vue'));
    Vue.component('description-product', require('../products/Description.vue'));
    Vue.component('comment-product', require('../products/Comment.vue'));
    Vue.component('review-product', require('../products/Review.vue'));

    export default{
        data(){
            return{
                show: 'main',
                product: [],
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        watch:{
            '$route': 'getTab',
        },
        methods:{
            getTab: function (url) {
                if(url.params.tab == undefined){
                    this.show = 'main';
                }else {
                    this.show = url.params.tab;
                }
            },
            getData: function()
            {
                this.$Progress.start();
                axios.get('/api/v1/product/load/'+this.$route.params.slug).then(response => {
                    this.product = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted(){
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            //
            this.getTab(this.$route);
        }
    }
</script>