<template>
    <div id="page-add-product" class="container">
        <template v-if="category.length">
            <tab-add-product :current="cuttentTab"></tab-add-product>
            <!--<form-1 v-if="cuttentTab == 0" @setNext="setNext" @uploadet="saveProduct" :category="product.category[0]" v-model="product.files"></form-1>-->
            <!--<form-2 v-if="cuttentTab == 1" v-model="product.category" @save="saveProduct"></form-2>-->

            <!--<tab-add-product-footer :current="cuttentTab" @nextTab="nextTab" @prevTab="prevTab"></tab-add-product-footer>-->
        </template>
        <template v-else>
            <form-category></form-category>
        </template>
    </div>
</template>
<script>
    Vue.component('tab-add-product', require('../products/Tab.vue'));
    Vue.component('tab-add-product-footer', require('../products/TabFooter.vue'));
    Vue.component('form-category', require('../products/FormCategory.vue'));
    Vue.component('form-1', require('../products/Form1.vue'));
    Vue.component('form-2', require('../products/Form2.vue'));
    export default{
        data(){
            return{
                cuttentTab: 0,
                category: [],
//                next: false,
//                product: {
//                    product_id: null,
//                    name: null,
//                    files: [],
//                    category: [],
//                    step: 0,
//                    ses: null,
//                    lang: this.$i18n.t('lang'),
//                }
            }
        },
        head: {
            title: {
                inner: 'Додати продукт'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            nextTab: function () {
                if(this.cuttentTab !== 3 && this.next)
                {
                    this.cuttentTab +=1;
                    this.product.step = this.cuttentTab;
                }
            },
            prevTab: function () {
                if(this.cuttentTab !== 0)
                {
                    this.cuttentTab -=1;
                    this.product.step = this.cuttentTab;
                }
            },
            setNext: function () {
                this.next = true;
                this.cuttentTab +=1;
            },
            getData: function () {
//                if(!this.product.ses)
//                {
//                    this.product.ses = Math.round(new Date().getTime() + (Math.random() * 100));
//                    //
//                    let name = {
//                        uk: 'Новий товар',
//                        ru: 'Новый товар',
//                        en: 'New product',
//                    };
//
//                    this.product.name = name[this.$i18n.t('lang')];
//                }
//                this.readChanel();
            },
            createProduct: function () {
                //axios.post('/api/v1/product/store', this.product);
            },
            readChanel: function () {
//                var vm = this;
//                this.$echo.channel('productCreate.'+this.product.ses).listen('.Modules.Product.Events.ProductCreateEvent', (payload) => {
//                    vm.product = payload.product;
//                    vm.$session.set('product', vm.product);
//                });
            },
            saveProduct: function () {
                //this.$session.set('product', this.product);
                //this.createProduct();
            }
        },
        mounted(){
            var vm = this;
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            //
            //this.product = (this.$session.has('product')) ? this.$session.get('product') : this.product;
            //

        }
    }
</script>