<template>
    <div id="page-product-view" class="container">
        <breadcrumb></breadcrumb>

        <div class="row">
            <div class="col-lg-4">
                <panel-left></panel-left>
            </div>
            <div class="col-lg-8">
                <tab-product></tab-product>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('breadcrumb', require('../products/BreadcrumbProduct.vue'));
    Vue.component('panel-left', require('../products/PanelProductLeft.vue'));
    Vue.component('tab-product', require('../products/TabProductView.vue'));


    export default{
        mounted(){
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
        }
    }
</script>