<template>
    <div class="panel-product-left" data-spy="affix" data-offset-top="220" v-if="Object.keys(product).length">
        <div class="title-page">
            <div class="col-1">
                <div class="tariff" :class="product.price.category">{{ product.price.category }}</div>
            </div>
            <div class="col-2">
                <h1>{{ product.name }}</h1>
            </div>
        </div>
        <div class="radio-box">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="1"> <span></span>Single product
                </label>
                <div class="price">
                    ${{ product.price.amount }}
                </div>
            </div>
            <!--<div class="radio">-->
                <!--<label>-->
                    <!--<input type="radio" name="gender" value="1"> <span></span>Plan price-->
                <!--</label>-->
                <!--<div class="price">-->
                    <!--<i class="models-svg-028"></i>-->
                    <!--$100-->
                <!--</div>-->
            <!--</div>-->
            <div class="btn-box">
                <button type="button" class="btn btn-custom-yellow">додати в корзину <i class="models-svg-003"></i></button>
            </div>
        </div>
        <div class="panel-group" id="accordion-product" role="tablist" aria-multiselectable="true">
            <div class="panel panel-custom">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion-product" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Запропонувати свою ціну
                            <i class="ico2-chevron-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <my-price></my-price>
                    </div>
                </div>
            </div>
            <div class="panel panel-custom">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion-product" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Власник
                            <i class="ico2-chevron-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <product-owner></product-owner>
                    </div>
                </div>
            </div>
            <div class="panel panel-custom">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion-product" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Рейтинг
                            <i class="ico2-chevron-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <product-rating-box></product-rating-box>
                    </div>
                </div>
            </div>
            <div class="panel panel-custom">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion-product" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Поділитися в соц. мережах
                            <i class="ico2-chevron-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <product-social-share></product-social-share>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-custom w100p">вподобати<i class="models-svg-034"></i></button>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-custom w100p">додати в закладки<i class="models-svg-037 m-r-0"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('my-price', require('../products/MyPrice.vue'));
    Vue.component('product-owner', require('../products/Owner.vue'));
    Vue.component('product-rating-box', require('../products/RatingBox.vue'));
    Vue.component('product-social-share', require('../products/SocialShare.vue'));
    //
    export default{
        props:{
            product: {
                type: [Array, Object],
                default: null,
            }
        }
    }
</script>