<template>
    <div class="field-prices">
        <div class="download-tarif" :class="world+'-edition'">
            <div class="row">
                <div class="col-md-4" v-for="item in items">
                    <div class="tarif-wrap" :class="item.category">
                        <div class="tarif">
                            <div class="info-box">
                                <div class="text-center">
                                    <template v-if="item.category == 'free'">
                                        {{ item.category }}
                                    </template>
                                    <template v-else>
                                        <template v-if="world == 'sng'">
                                            <p>{{ item.category }}</p><br/>
                                            <div class="wrap-block">
                                                <div class="block">
                                                    <img src="/themes/site/assets/img/world.png"><br/>
                                                    <p>{{ item.amount }}<sup>$</sup></p>
                                                </div>
                                                <b></b>
                                                <div class="block">
                                                    <span>СНГ</span><br/>
                                                    <p>{{ item.amount_sng }}<sup>$</sup></p>
                                                </div>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <p>{{ item.category }}</p><br/>
                                            <p>{{ item.amount }}<sup>$</sup></p>
                                        </template>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="tarif-hover">
                            <div class="info-box">
                                <div class="text">
                                    <div class="block">
                                        <span>+{{ item.pix }}</span><sup>pix</sup>
                                    </div>
                                    <div class="block">
                                        <span>+{{ item.rate }}</span><sup>rate</sup>
                                    </div>
                                </div>
                                <div class="for-box">
                                    <b></b>
                                    <span>GET</span>
                                    <b></b>
                                </div>
                                <div class="text">
                                    <span>{{ item.persent }}%</span>
                                </div>
                            </div>
                            <button type="button" class="btn btn-custom" @click="setPrice(item)">SET PRICE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default{
        props:{
            value:{
                type:[Array, Object],
                default: null,
            }
        },
        data(){
            return{
                items: [],
            }
        },
        methods:{
            getPrices: function () {
                axios.post('/api/v1/product/prices').then(response => {
                    this.items = response.data[this.world];
                }).catch(error => {

                });
            },
            setPrice: function (item) {
                this.$emit('input', item);
            }
        },
        computed:{
            world: function () {
//                if(this.$auth.getUser()) {
//                    return this.$auth.getUser().location.world;
//                }
//                else {
//                    return this.$session.get('location').world;
//                }
                return 'sng';
            }
        },
        mounted(){
            this.getPrices();
            //
        }
    }
</script>