<template>
    <div id="page-add-product-success" class="container">
        <template v-if="product.status == 0">
            <p class="suico text-center"><i class="models-check-circle"></i></p>
            <h1 class="text-center">Товар додано!</h1>
            <p class="text-center">Після перевірки адміністатором він буде опублікований.</p>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3">
                    <router-link :to="{name: 'products.create'}" class="btn btn-default w100p">Додати ще</router-link>
                </div>
                <div class="col-lg-3">
                    <a href="/" class="btn btn-default w100p">На головну</a>
                </div>
            </div>
        </template>
        <template v-if="product.status == 1">
            <p class="suico text-center"><i class="models-check-circle"></i></p>
            <h1 class="text-center">Товар поновлено!</h1>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3">
                    <router-link :to="{name: 'products.create'}" class="btn btn-default w100p">Додати ще</router-link>
                </div>
                <div class="col-lg-3">
                    <a href="/" class="btn btn-default w100p">Перегляд</a>
                </div>
            </div>
        </template>

    </div>
</template>
<script>
    export default{
        data(){
            return {
                product:[],
            }
        },
        mounted(){
            var vm = this;
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            //
            this.product = (this.$session.has('product')) ? this.$session.get('product') : this.product;
        }
    }
</script>