<template>
    <div id="page-add-product" class="container">
        <div id="form-category">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Виберіть категорію</h2>
                </div>
                <div class="col-lg-6 text-right">

                </div>
            </div>
            <div class="row" v-if="items.length">
                <template v-for="(item, k) in items">
                    <div class="col-lg-3">
                        <div class="thumbnail" @click="getSub(item, k)">
                            <p><i :class="item.ico"></i></p>
                            <p>{{ item.name[$t('lang')] }}</p>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                items: (this.$session.has('catalog')) ? this.$session.get('catalog') : [],
                product: {
                    name: null,
                    category: [],
                    step: 1,
                },
            }
        },
        beforeCreate: function () {
//            var product = this.$session.get('product');
//            if (product) {
//                this.$router.push({name: 'products.create.step.'+product.step});
//            }
        },
        methods:{
            getSub: function (item, k) {
                this.product.category.push(item._id);
                this.$Progress.start();
                axios.post('/api/v1/product/store', this.product).then(response => {
                    this.$Progress.finish();
                    this.$session.set('product', response.data);
                    this.$router.push({name: 'products.create.step.1'});
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            setName: function () {
                let name = {
                    uk: 'Новий товар',
                    ru: 'Новый товар',
                    en: 'New product',
                };
                this.product.name = name[this.$i18n.t('lang')];
            }
        },
        mounted(){
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            this.setName();
        }
    }
</script>