<template>
    <div id="page-add-product" class="container">
        <tab-add-product :current="4"></tab-add-product>
        <form v-if="Object.keys(product).length" @submit="submit" accept-charset="UTF-8" role="form">

            <div class="download-reklama">
                <block-reklama v-model="product.reklama.block" :items="reklama.blocks"></block-reklama>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-box">
                            <strong>також ви можете ообрати окремі варіанти просування</strong>
                        </div>
                    </div>
                </div>
                <block-reklama-rotation v-model="product.reklama.rotation" :disabled="disabled" :items="reklama.rotations"></block-reklama-rotation>
                <block-reklama-top v-model="product.reklama.top" :disabled="disabled" :items="reklama.tops"></block-reklama-top>

                <div class="row">
                    <div class="col-md-12">
                        <div class="options-box">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="total-cost text-left">
                                        <span>Всого на рахунку:</span>
                                        <strong>{{ yourPIX }}</strong><sup>PIX</sup>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="total-cost text-right">
                                        <i class="fa fa-info-circle" data-toggle="tooltip" title="" data-original-title="PIX - внутрішня валюта сайту. Її можна отримати вийнятково за соціальну активність на сайті чи за розміщення товарів. Кількість РІХ Ви можете побачити в інфобоксі головного меню. РІХ можна витратити лише на просування свого товару, придбати товар чи вивести з рахунку - неможливо!"></i>
                                        <span>Всього до списання:</span>
                                        <strong>{{ product.reklama.total }}</strong><sup>PIX</sup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="download-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <p>Спочатку прочитайте:</p>
                            <b><a href="#">Як підготувати товар для продажу на ALLCG</a></b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pagination-box">
                            <router-link class="prev" :to="{name: 'products.create.step.3'}"><i class="icon glyphicon glyphicon-triangle-left"></i>попередній крок</router-link>
                            <button class="next" type="submit">Зберегти<i class="icon glyphicon glyphicon-triangle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    Vue.component('tab-add-product', require('../products/Tab.vue'));
    Vue.component('block-reklama', require('../products/BlockReklama.vue'));
    Vue.component('block-reklama-rotation', require('../products/BlockReklamaRotation.vue'));
    Vue.component('block-reklama-top', require('../products/BlockReklamaTop.vue'));
    //Vue.component('cost-accordion', require('../products/CostAccordion.vue'));
    //Vue.component('prices', require('../products/Prices.vue'));
    //Vue.component('form-2', require('../products/Form2.vue'));

    export default{
        data(){
            return {
                product:{
                    reklama:{
                        block: {},
                        rotation: {},
                        top: {},
                        total: 0,
                    }
                },
                yourPIX: this.$auth.getUser().pix,
                reklama: [],
                disabled: false,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        watch:{
            'product.reklama.block': function (data) {
                if(Object.keys(data).length) {
                    this.product.reklama.total = data.pix;
                    this.disabled = true;
                    this.product.reklama.rotation = {};
                }else {
                    this.product.reklama.total = 0;
                    this.disabled = false;
                }
            },
            'product.reklama.rotation': function (data) {
                if(Object.keys(this.product.reklama.top).length) {
                    if(Object.keys(data).length) {
                        this.product.reklama.total = data.pix+this.product.reklama.top.pix;
                    }
                    else {
                        this.product.reklama.total = this.product.reklama.top.pix;
                    }
                }else {
                    if(Object.keys(data).length) {
                        this.product.reklama.total = data.pix;
                    }else {
                        this.product.reklama.total = 0;
                    }
                }
            },
            'product.reklama.top': function (data) {
                if(Object.keys(this.product.reklama.rotation).length) {
                    if(Object.keys(data).length) {
                        this.product.reklama.total = data.pix+this.product.reklama.rotation.pix;
                    }
                    else {
                        this.product.reklama.total = this.product.reklama.rotation.pix;
                    }
                }else {
                    if(Object.keys(data).length) {
                        this.product.reklama.total = data.pix;
                    }else {
                        this.product.reklama.total = 0;
                    }
                }
            },
            'product.reklama.top.pix': function (data) {
                if(data) {
                    if(Object.keys(this.product.reklama.rotation).length) {
                        this.product.reklama.total = data+this.product.reklama.rotation.pix;
                    }
                    else {
                        this.product.reklama.total = data;
                    }
                }else {
                    if(Object.keys(this.product.reklama.rotation).length) {
                        this.product.reklama.total = data;
                    }else {
                        this.product.reklama.total = 0;
                    }
                }
            },
        },
        methods:{
            getData: function () {
                axios.post('/api/v1/product/reklama').then(response => {
                    this.reklama = response.data;
                }).catch(error => {

                });
            },
            saveProduct: function () {
                axios.post('/api/v1/product/store', this.product).then(response => {
                    this.$session.set('product', response.data);
                });
            },
            submit: function (e) {
                e.preventDefault();
                this.$Progress.start();
                this.product.step = 0;
                axios.post('/api/v1/product/store', this.product).then(response => {
                    this.$Progress.finish();
                    this.$session.set('product', response.data);
                    this.$router.push({name: 'products.create.success'});
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
        },
        mounted(){
            var vm = this;
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            //
            if(this.$session.has('product')){
                _.forEach(this.$session.get('product'), function (v, k) {
                    vm.product[k] = v;
                });
            }
            //
//            this.event.$on('selectDay', function (val, mykey) {
//                console.log(val);
//            });
        }
    }
</script>