<template>
    <div id="page-add-product" class="container">
        <tab-add-product :current="2"></tab-add-product>
        <form v-if="Object.keys(product).length" @submit="submit" accept-charset="UTF-8" role="form">
            <form-2></form-2>
            <div class="download-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <p>Спочатку прочитайте:</p>
                            <b><a href="#">Як підготувати товар для продажу на ALLCG</a></b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pagination-box">
                            <router-link class="prev" :to="{name: 'products.create.step.1'}"><i class="icon glyphicon glyphicon-triangle-left"></i>попередній крок</router-link>
                            <button class="next" type="submit">наступний крок<i class="icon glyphicon glyphicon-triangle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    Vue.component('tab-add-product', require('../products/Tab.vue'));
    Vue.component('form-2', require('../products/Form2.vue'));

    export default{
        data(){
            return {
                product: [],
            }
        },
        methods:{
            saveProduct: function () {
                axios.post('/api/v1/product/store', this.product).then(response => {
                    this.$session.set('product', response.data);
                });
            },
            submit: function (e) {
                e.preventDefault();
                this.event.$emit('submit');
            },
        },
        mounted(){
            var vm = this;
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            this.product = (this.$session.has('product')) ? this.$session.get('product') : this.product;
            this.event.$on('saveProduct', function (data) {
                vm.product = data;
                vm.saveProduct();
            });
        }
    }
</script>