<template>
    <div id="page-add-product" class="container">
        <tab-add-product :current="3"></tab-add-product>
        <form v-if="Object.keys(product).length" @submit="submit" accept-charset="UTF-8" role="form">

            <prices v-model="product.price"></prices>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="price-input">
                        <div class="block">
                            <input v-model="product.price.amount" type="text" class="form-control form-control-1" placeholder="200 e.g.">
                        </div>
                        <div class="block">
                            <strong>YOUR PRICE</strong>
                            <i class="icon icon-attention" data-toggle="tooltip" title="" data-original-title="Ви завжди можете встановити свою вартість. Але при встановленні власної ціни Ваш товар не буде брати участі в пакетних продажах, що суттєво зменшить рентабельність продукту. А також заробіток при продажі за власною ціною складе 75% вартості товару."></i>
                        </div>
                    </div>
                </div>
            </div>

            <cost-accordion></cost-accordion>
            <div class="download-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <p>Спочатку прочитайте:</p>
                            <b><a href="#">Як підготувати товар для продажу на ALLCG</a></b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pagination-box">
                            <router-link class="prev" :to="{name: 'products.create.step.2'}"><i class="icon glyphicon glyphicon-triangle-left"></i>попередній крок</router-link>
                            <button class="next" type="submit">наступний крок<i class="icon glyphicon glyphicon-triangle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    Vue.component('tab-add-product', require('../products/Tab.vue'));
    Vue.component('cost-accordion', require('../products/CostAccordion.vue'));
    Vue.component('prices', require('../products/Prices.vue'));
    //Vue.component('form-2', require('../products/Form2.vue'));

    export default{
        data(){
            return {
                product: {
                    price: {
                        amount: null,
                    }
                },
            }
        },
        methods:{
            saveProduct: function () {
                axios.post('/api/v1/product/store', this.product).then(response => {
                    this.$session.set('product', response.data);
                });
            },
            submit: function (e) {
                e.preventDefault();
                if(this.validate())
                {
                    this.product.step = 4;
                    this.$Progress.start();
                    axios.post('/api/v1/product/store', this.product).then(response => {
                        this.$Progress.finish();
                        this.$session.set('product', response.data);
                        this.$router.push({name: 'products.create.step.4'});
                    }).catch(error => {
                        this.$Progress.fail();
                    });
                }
            },
            validate: function () {
                var valid = false;
                var msg = '';

                if(!this.product.price)
                {
                    valid = false;
                    msg = 'Вибиріть або встановіть ціну товару.';
                }
                else
                {
                    valid = true;
                }

                if(!valid)
                {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: msg,
                    });
                }

                return valid;
            }
        },
        mounted(){
            var vm = this;
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            //this.product = (this.$session.has('product')) ? this.$session.get('product') : this.product;

            if(this.$session.has('product')){
                _.forEach(this.$session.get('product'), function (v, k) {
                    vm.product[k] = v;
                });
            }

            this.event.$on('saveProduct', function (data) {
                vm.product = data;
                vm.saveProduct();
            });
        }
    }
</script>