<template>
    <div id="page-add-product" class="container">
        <tab-add-product :current="1"></tab-add-product>
        <form v-if="Object.keys(product).length" @submit="submit" accept-charset="UTF-8" role="form">
            <form-1 v-model="product.files" :category="product.category[0]" @save="saveProduct"></form-1>
            <div class="download-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <p>Спочатку прочитайте:</p>
                            <b><a href="#">Як підготувати товар для продажу на ALLCG</a></b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pagination-box">
                            <button class="next" type="submit">наступний крок<i class="icon glyphicon glyphicon-triangle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    Vue.component('tab-add-product', require('../products/Tab.vue'));
    Vue.component('form-1', require('../products/Form1.vue'));

    export default{
        data(){
            return {
                product: [],
            }
        },
        methods:{
            saveProduct: function () {
                axios.post('/api/v1/product/store', this.product).then(response => {
                    this.$session.set('product', response.data);
                });
            },
            submit: function (e) {
                e.preventDefault();
                if(this.validate())
                {
                    this.product.step = 2;
                    this.$Progress.start();
                    axios.post('/api/v1/product/store', this.product).then(response => {
                        this.$Progress.finish();
                        this.$session.set('product', response.data);
                        this.$router.push({name: 'products.create.step.2'});
                    }).catch(error => {
                        this.$Progress.fail();
                    });
                }
            },
            validate: function () {
                var valid = false;
                var msg = '';

                if(!this.product.files)
                {
                    valid = false;
                    msg = 'Завантажте файли.';
                }
                else
                {
                    if(this.product.category[0] == 2)
                    {
                        if(!this.product.files.audio.length)
                        {
                            valid = false;
                            msg = 'Завантажте файли аудіо.';
                        }
                        else if(!this.product.files.archives.length)
                        {
                            valid = false;
                            msg = 'Завантажте архівні файли для продажу.';
                        }
                        else
                        {
                            valid = true;
                        }
                    }
                    else if(this.product.category[0] == 3)
                    {
                        if(!this.product.files.video.length)
                        {
                            valid = false;
                            msg = 'Завантажте файли відео.';
                        }
                        else if(!this.product.files.archives.length)
                        {
                            valid = false;
                            msg = 'Завантажте архівні файли для продажу.';
                        }
                        else
                        {
                            valid = true;
                        }
                    }
                    else
                    {

                        if(!this.product.files.images.length)
                        {
                            valid = false;
                            msg = 'Завантажте файли превю.';
                        }
                        else if(!this.product.files.archives.length)
                        {
                            valid = false;
                            msg = 'Завантажте архівні файли для продажу.';
                        }
                        else
                        {
                            valid = true;
                        }
                    }

                    var countFormats = this.product.files.formats.length;
                    if(countFormats > 0)
                    {
                        var err = [];
                        _.forEach(this.product.files.formats, function (v) {
                            if(!v.value.length)
                            {
                                err.push('err');
                            }
                        });

                        if(err.length)
                        {
                            valid = false;
                            msg = 'Вкажіть формати файлів.';
                        }
                        else
                        {
                            valid = true;
                        }
                    }
                }

                if(!valid)
                {
                    this.$notify({
                        type: 'error',
                        title: this.$i18n.t('error'),
                        text: msg,
                    });
                }

                return valid;
            }
        },
        mounted(){
            this.$parent.currentBlock = null;
            this.$parent.headerClass = null;
            this.product = (this.$session.has('product')) ? this.$session.get('product') : this.product;
        }
    }
</script>