<template>
    <div class="row">
        <div class="col-md-12">
            <div class="raiting-box">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    </div>
                </div>
                <ul>
                    <li class="download">114<i class="models-svg-048"></i></li>
                    <li>19<i class="models-svg-065"></i></li>
                    <li>305<i class="models-svg-043"></i></li>
                    <li>114<i class="models-svg-034"></i></li>
                </ul>
            </div>
        </div>
    </div>
</template>