<template>
    <div class="product-review">
        <div class="review-box">
            <div class="review-top">
                <div class="left">
                    <div class="raiting-box">
                        <div class="number">
                            4
                        </div>
                        <div class="raiting-wrap">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                            <div class="title">
                                Відгуки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <select class="form-control select">
                        <option>Найновіші</option>
                        <option>Тест</option>
                        <option>Тест</option>
                        <option>Тест</option>
                        <option>Тест</option>
                    </select>
                </div>
            </div>
            <div class="review">
                <div class="left">
                    <div class="raiting-box">
                        <div class="icon">
                            <a href="#">
                                <img src="images/user-icon.png" alt="">
                            </a>
                        </div>
                        <div class="raiting-wrap">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#">Homer Simpson</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-text">
                        <p><strong>За якість виконання: </strong>I really appreciate your work. </p>
                    </div>
                </div>
                <div class="right">
                    <div class="date">
                        9 червня 2017 20:01
                    </div>
                    <div class="status">
                        <i class="icon icon-flag" data-toggle="collapse" data-target="#demo-2" aria-expanded="true"></i>
                    </div>
                    <i class="icon icon-like"></i>
                </div>
            </div>
            <div id="demo-2" class="modal-block collapse" aria-expanded="false" style="height: 0px;">
                <div class="delete-comment">
                    <p>Поясніть чому адмінеістрація повинна видалити цей коментар, негативний коментар НЕ видаляється безпідставно</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ваше пояснення">
                        <span class="input-group-btn">
                          <button class="btn" type="button">
                            <i class="icon icon-send-button"></i>
                          </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="left">
                    <div class="raiting-box">
                        <div class="icon">
                            <a href="#">
                                <img src="images/user-icon.png" alt="">
                            </a>
                        </div>
                        <div class="raiting-wrap">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#">Homer Simpson</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-text">
                        <p><strong>За якість виконання: </strong>I really appreciate your work. </p>
                    </div>
                </div>
                <div class="right">
                    <div class="date">
                        9 червня 2017 20:01
                    </div>
                    <div class="status">
                        <i class="icon icon-flag" data-toggle="collapse" data-target="#demo-3" aria-expanded="true"></i>
                    </div>
                    <i class="icon icon-like"></i>
                </div>
            </div>
            <div id="demo-3" class="modal-block collapse" aria-expanded="false" style="height: 0px;">
                <div class="delete-comment">
                    <p>Поясніть чому адмінеістрація повинна видалити цей коментар, негативний коментар НЕ видаляється безпідставно</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ваше пояснення">
                        <span class="input-group-btn">
                            <button class="btn" type="button">
                              <i class="icon icon-send-button"></i>
                            </button>
                          </span>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="left">
                    <div class="raiting-box">
                        <div class="icon">
                            <a href="#">
                                <img src="images/user-icon.png" alt="">
                            </a>
                        </div>
                        <div class="raiting-wrap">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#">Homer Simpson</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-text">
                        <p><strong>За якість виконання: </strong>I really appreciate your work. </p>
                    </div>
                </div>
                <div class="right">
                    <div class="date">
                        9 червня 2017 20:01
                    </div>
                    <div class="status">
                        <i class="icon icon-flag" data-toggle="collapse" data-target="#demo-4" aria-expanded="true"></i>
                    </div>
                    <i class="icon icon-like"></i>
                </div>
            </div>
            <div id="demo-4" class="modal-block collapse" aria-expanded="false" style="height: 0px;">
                <div class="delete-comment">
                    <p>Поясніть чому адмінеістрація повинна видалити цей коментар, негативний коментар НЕ видаляється безпідставно</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ваше пояснення">
                        <span class="input-group-btn">
                          <button class="btn" type="button">
                            <i class="icon icon-send-button"></i>
                          </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="left">
                    <div class="raiting-box">
                        <div class="icon">
                            <a href="#">
                                <img src="images/user-icon.png" alt="">
                            </a>
                        </div>
                        <div class="raiting-wrap">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#">Homer Simpson</a>
                            </div>
                        </div>
                    </div>
                    <div class="review-text">
                        <p><strong>За якість виконання: </strong>I really appreciate your work. </p>
                    </div>
                </div>
                <div class="right">
                    <div class="date">
                        9 червня 2017 20:01
                    </div>
                    <div class="status">
                        <i class="icon icon-flag" data-toggle="collapse" data-target="#demo-5" aria-expanded="true"></i>
                    </div>
                    <i class="icon icon-like"></i>
                </div>
            </div>
            <div id="demo-5" class="modal-block collapse" aria-expanded="false" style="height: 0px;">
                <div class="delete-comment">
                    <p>Поясніть чому адмінеістрація повинна видалити цей коментар, негативний коментар НЕ видаляється безпідставно</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ваше пояснення">
                        <span class="input-group-btn">
                          <button class="btn" type="button">
                            <i class="icon icon-send-button"></i>
                          </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="response">
                <p>Напишіть декілька слів про якість купленого товару</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ваш відгук">
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                          <input type="file" name="file" id="file">
                          <label for="file"><i class="icon icon-camera"></i></label>
                        </button>
                      </span>
                </div>
                <div class="download-img">
                    <ul id="sortable" class="ui-sortable">
                        <li class="ui-state-default ui-sortable-handle">
                            <div class="close-btn">
                                x
                            </div>
                            <i class="fas fa-spinner fa-spin"></i>
                            <div class="img-box">
                                <img src="images/download-img.jpg" alt="">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-hight" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </li>
                        <li class="ui-state-default ui-sortable-handle">
                            <div class="close-btn">
                                x
                            </div>
                            <i class="fas fa-spinner fa-spin"></i>
                            <div class="img-box">
                                <img src="images/download-img.jpg" alt="">
                            </div>
                            <div class="name">
                                img1522222222.png
                            </div>
                        </li>
                        <li class="ui-state-default ui-sortable-handle">
                            <div class="close-btn">
                                x
                            </div>
                            <i class="fas fa-spinner fa-spin"></i>
                            <div class="img-box">
                                <img src="images/download-img.jpg" alt="">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-hight" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </li>
                        <li class="ui-state-default ui-sortable-handle">
                            <div class="close-btn">
                                x
                            </div>
                            <i class="fas fa-spinner fa-spin"></i>
                            <div class="img-box">
                                <img src="images/download-img.jpg" alt="">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-hight" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </li>
                        <li class="ui-state-default ui-sortable-handle">
                            <div class="close-btn">
                                x
                            </div>
                            <i class="fas fa-spinner fa-spin"></i>
                            <div class="img-box">
                                <img src="images/download-img.jpg" alt="">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-hight" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="raiting-response">
                    <div class="container-bar">
                        <div class="bar-item extra">
                            extra
                        </div>
                        <div class="bar-item hight enlarge">
                            high
                        </div>
                        <div class="bar-item midle">
                            middle
                        </div>
                        <div class="bar-item low">
                            low
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="progress-container">
                        <div class="next">
                            <button type="button" class="btn">+</button>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-dark progress-bar-striped active progress-bar-hight" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="min-width: 0%; width: 75%;">75%</div>
                        </div>
                        <div class="prev">
                            <button type="button" class="btn">-</button>
                        </div>
                    </div>
                    <div class="info">
                        <strong>Рейтинг продукту</strong>
                    </div>

                </div>
                <div class="btn-box">
                    <button type="button" class="btn btn-custom">додати відгук <i class="icon icon-send-button"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>