<template>
    <div class="row">
        <div class="col-md-12">
            <div class="soc-block">
                <a href="#">
                    <i class="fa fa-facebook-f fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest-p fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-vk fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fa fa-youtube fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</template>