<template>
    <ul class="add-products-tab">
        <li :class="[(current >= 1) ? 'active' : 'noactive']">Загрузка файлів <i class="glyphicon glyphicon-menu-right"></i></li>
        <li :class="[(current >= 2) ? 'active' : 'noactive']">опис <i class="glyphicon glyphicon-menu-right"></i></li>
        <li :class="[(current >= 3) ? 'active' : 'noactive']">Вартість <i class="glyphicon glyphicon-menu-right"></i></li>
        <li :class="[(current >= 4) ? 'active' : 'noactive']">реклама товару <i class="glyphicon glyphicon-menu-right"></i></li>
    </ul>
</template>

<script>
    export default{
        props:{
            current: {
                type: Number,
                default: 1,
            }
        }
    }
</script>