<template>
    <div class="download-footer">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <p>Спочатку прочитайте:</p>
                    <b><a href="#">Як підготувати товар для продажу на ALLCG</a></b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pagination-box">
                    <button v-if="current > 0" @click="prev" type="button" class="prev"><i class="icon glyphicon glyphicon-triangle-left"></i>попередній крок</button>
                    <button @click="next" type="button" class="next">{{ (current == 3) ? 'додати товар' : 'наступний крок' }}<i class="icon glyphicon glyphicon-triangle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            current: {
                type: Number,
                default: 0,
            }
        },
        methods:{
            next: function () {
                this.$emit('nextTab');
                this.event.$emit('nextTab');
            },
            prev: function () {
                this.$emit('prevTab')
            }
        }
    }
</script>