<template>
    <ul id="tab-product-view">
        <li><router-link :to="{name: 'product.slug'}">Галерея</router-link></li>
        <li><router-link :to="{name: 'product.slug.tab', params:{tab:'detail'}}">Деталі</router-link></li>
        <li><router-link :to="{name: 'product.slug.tab', params:{tab:'description'}}">Опис</router-link></li>
        <li><router-link :to="{name: 'product.slug.tab', params:{tab:'comment'}}">Коментарі</router-link></li>
        <li><router-link :to="{name: 'product.slug.tab', params:{tab:'review'}}">Відгуки</router-link></li>
    </ul>
</template>