<template>
    <div class="tpl-product-card-edit" :class="[opa]" v-tooltip="tooltip">
        <div class="in">
            <div class="tpl-left">
                <ul class="infos">
                    <li>
                        <div class="division" v-bind:class="'division-'+item.division">{{ item.division }}</div>
                    </li>
                    <li><div class="ic">{{ item.downloads }}<br> <i class="blk-uniF105"></i></div></li>
                    <li><div class="ic">{{ item.comments }}<br> <i class="models-svg-065"></i></div></li>
                    <li><div class="ic">{{ item.views }}<br> <i class="models-svg-043"></i></div></li>
                    <li><div class="ic">{{ item.likes }}<br> <i class="models-svg-034"></i></div></li>
                </ul>
            </div>
            <div class="tpl-rigth" @mouseover="onMouseover" @mouseleave="onMouseleave">
                <div class="line-bg">
                    <div class="line" :style="{width: item.rating+'%'}"></div>
                </div>
                <img :src="item.img" class="img-responsive item-img">
                <div class="captions-link anim" :class="hover">
                    <nav>
                        <i class="fa fa-pencil" @click="openItem(item)" title="редагувати"></i>
                        <i class="fa fa-trash" @click="deleteItem(item)" title="видалити"></i>
                        <i class="fa fa-link" @click="viewItem(item)" title="перегляд"></i>
                    </nav>
                </div>
            </div>
        </div>
        <div class="captions">
            <div class="captions-left">
                <h3 class="h3">{{ item.name }}</h3>
                <h4>{{ item.tags }}</h4>
            </div>
            <div class="captions-rigth">
                <div class="price">$ {{ item.price }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            item: {
                type: [Array, Object],
                default: null,
            }
        },
        data(){
            return{
                tooltip:{
                    content: null,
                },
                opa: null,
                hover: 'unvis',
            }
        },
        methods:{
            openItem: function (item) {
                if(item.status == 0 && item.step >= 1)
                {
                    this.completeCreate(item);
                }
            },
            completeCreate: function (item) {
                this.$Progress.start();
                axios.post('/api/v1/product/store/compete/'+item.id).then(response => {
                    this.$session.set('product', response.data);
                    this.$router.push({name: 'products.create.step.'+response.data.step});
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            setTooltip: function () {
                if(this.item.status == 0 && this.item.step >= 1)
                {
                    this.tooltip.content = 'Продовжити створення';
                    this.opa = 'opa-05';
                }
                if(this.item.status == 0 && this.item.step == 0)
                {
                    this.tooltip.content = 'Створено, чекає модерації';
                }
            },
            onMouseover: function()
            {
                this.hover = 'zoomIn';
            },
            onMouseleave: function()
            {
                this.hover = 'zoomOut';
            },
            deleteItem: function (item) {
                this.$Progress.start();
                axios.delete('/api/v1/product/'+item.id).then(response => {
                    this.$emit('reload');
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            viewItem: function (item) {
                this.$router.push({name: 'product.slug', params:{slug: item.slug}});
            }
        },
        mounted(){
            this.setTooltip();
        }
    }
</script>