<template>
    <div class="tpl-video" :class="'tpl-video-id-'+item.id">
        <div class="in" @mouseover="onOver(item)" @mouseleave="onOut(item)">
            <div class="tpl-left">
                <ul v-if="!hoverBlock" class="infos">
                    <li>
                        <div class="division" v-bind:class="'division-'+item.division">{{ item.division }}</div>
                    </li>
                    <li><div class="ic">{{ item.downloads }}<br> <i class="blk-uniF105"></i></div></li>
                    <li><div class="ic">{{ item.comments }}<br> <i class="models-svg-065"></i></div></li>
                    <li><div class="ic">{{ item.views }}<br> <i class="models-svg-043"></i></div></li>
                    <li><div class="ic">{{ item.likes }}<br> <i class="models-svg-034"></i></div></li>
                </ul>
                <ul class="infos2" v-else>
                    <li>{{ item.video.duration }}</li>
                    <li><i class="models-svg-182 cupoint" @click="play(item)"></i></li>
                    <li><i class="models-svg-181 cupoint" @click="pause(item)"></i></li>
                    <li><i class="models-svg-037 f-sz-25 cupoint"></i></li>
                </ul>

            </div>
            <div class="tpl-rigth">
                <div class="user">
                    <router-link :to="item.user.link" class="ava">
                        <img :src="item.user.avatar" class="img-circle img-responsive">
                    </router-link>
                </div>
                <div class="line-bg">
                    <div class="line" :style="{width: item.rating+'%'}"></div>
                </div>
                <img :src="item.img" class="img-responsive item-img">
                <!--<d-player></d-player>-->
            </div>
            <div class="clearfix"></div>
            <div class="captions">
                <template v-if="!hoverBlock">
                    <div class="captions-left">
                        <h3 class="h3">{{ item.name }}</h3>
                        <h4>{{ item.category }}</h4>
                    </div>
                    <div class="captions-rigth">
                        <div class="price">$ {{ item.price }}</div>
                    </div>
                </template>
                <template v-else>
                    <div class="text-right">
                        <button class="btn btn-shop w100p">
                            Додати в кошик
                            <i class="models-svg-003"></i>
                        </button>
                    </div>
                </template>
            </div>
        </div>
        <div class="clearfix"></div>

        <div v-if="hoverBlock" :style="popSettings" class="big-image-block" :class="[(num == 0 || num == 1) ? 'big-image-block-r' : 'big-image-block-l']">
            <d-player ref="player" :options="options"></d-player>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import VueDPlayer from 'vue-dplayer';

    export default {
        components: {
            'd-player': VueDPlayer
        },
        props: {
            item: {
                type: Object,
                default: null,
            },
            num: {
                type: Number,
                default: 0,
            },
        },
        data(){
            return {
                hoverBlock: false,
                playBlock: false,
                popSettings:{
                    top: '0px',
                    left: '0px',
                    right: '0px',
                    bottom: '0px',
                    marginLeft: '0px',
                    marginRight: '0px',
                },
                options:{
                    container: '.dplayer',
                    video: {
                        url: this.item.video.url,
                        pic: this.item.video.pic,
                    }
                },
            }
        },
        methods: {
            onOver: function (item) {
                EventBus.$emit('closeAll');
                this.hoverBlock = true;

                var $b = $('.tpl-video-id-'+item.id);

                if(this.num == 0 || this.num == 1)
                {
                    this.popSettings.marginLeft = $b.width()+45+'px';
                }
                else
                {
                    this.popSettings.marginLeft = -($b.width()*2)+30+'px';
                }
            },
            onOut: function (item) {
                this.hoverBlock = false;
                this.playBlock = false;
            },
            play: function (item) {
                this.playBlock = true;
                const player = this.$refs.player.dp;
                player.play();

                //dplayer-ptime
            },
            pause: function (item) {
                const player = this.$refs.player.dp;
                player.pause();
                //console.log(player);
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            EventBus.$on('closeAll', function () {
                vm.hoverBlock = false;
            });
            //var x = document.getElementsByClassName("dplayer-video").duration;
            //console.log(x);
            //
            //const player = this.$refs.player.dp;
        }
    }
</script>