<template>
    <div class="wavesurfer">
        <div :id="options.container"></div>
        <img src="/uploads/default/setting.gif" class="img-responsive" v-if="loading">
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            options: {
                type: Object,
                default: null,
            },
        },
        data(){
            return {
                loading: false,
            }
        },
        methods: {
            init: function () {
                var wavesurfer = WaveSurfer.create({
                    container: '#'+this.options.container,
                    waveColor: '#212121',
                    progressColor: '#B71C1C',
                    height: 360,
                    responsive: true,
                });
                return wavesurfer;
            }
        },
        mounted() {
            var vm = this;
            var wavesurfer = this.init();
            wavesurfer.load(this.options.url);

            wavesurfer.on('loading', function () {
                vm.loading = true;
            });

            wavesurfer.on('ready', function () {
                vm.loading = false;
            });

//            wavesurfer.on('audioprocess', function () {
//                console.log(wavesurfer.getCurrentTime());
//            });

            EventBus.$on('playAudio', function () {
                wavesurfer.play();
            });

            EventBus.$on('pauseAudio', function () {
                wavesurfer.pause();
            });

            EventBus.$on('stopAudio', function () {
                wavesurfer.stop();
                wavesurfer.destroy();
            });

        }
    }
</script>