<template>
    <div id="block-profile-my" v-if="!loadData">
        <div class="blur-bg"></div>
        <div class="blur-bg2"></div>
        <div class="container" v-if="Object.keys(user).length">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-5">
                            <a href="javascript:void(0);"  v-if="user" class="ava">
                                <img :src="'/avatar/150x150/'+user.id" :alt="user.fullname" class="img-circle img-responsive avaprofile">
                                <div class="online-offline online"></div>
                            </a>
                            <div class="on-off-text">в мережі</div>
                            <ul class="rating-line">
                                <li class="line w50p green"></li>
                                <li class="line w16p"></li>
                                <li class="line w16p"></li>
                                <li class="line w16p"></li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-lg-6 text-center">
                                    <div class="rt">{{ $t('reytynh') }}</div>
                                    <div class="at">{{ user.rating }}</div>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <div class="rt">{{ $t('aktyvnist') }}</div>
                                    <div class="at">{{ user.activity }}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h2 v-if="user">{{ user.fullname }}</h2>
                                </div>
                                <div class="col-lg-2">

                                </div>
                            </div>
                            <div class="info"><button-new-message :user="user"></button-new-message></div>
                            <div class="info" v-if="user.address.address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ user.address.address }}</div>
                            <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ $t('Na_sayti_z') }} {{ user.registred }}</div>
                            <div class="info" v-html="this.$options.filters.Vidhuk(user.reviews)"></div>
                            <div class="icons">
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                <i class="fa fa-envelope c-green" aria-hidden="true"></i>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <i class="fa fa-phone c-green" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { EventBus } from '../../event-bus.js';
    Vue.component('button-new-message', require('../../buttons/ButtonNewMessage.vue'));

    export default {
        data(){
            return {
                loadData: false,
                user: [],
            }
        },
        methods: {
            getData: function () {
                this.loadData = true;
                axios.post('/api/v1/user/block/profile/'+this.$route.params.slug).then(response => {
                    this.user = response.data;
                    this.loadData = false;
                }).catch(error => {
                    this.loadData = false;
                });
            }
        },
        mounted() {
            var vm = this;
            this.getData();

        }
    }
</script>