<template>
    <div id="menu-profile-my" :class="'lang-'+$t('lang')">
        <div class="container">
            <nav>
                <router-link to="/profile/activity"><span>{{ $t('menuProfile.Aktyvnist') }}</span></router-link>
                <router-link to="/profile/settings"><span>{{ $t('menuProfile.Nalashtuvannya') }}</span></router-link>
                <router-link to="/profile/friends"><span>{{ $t('menuProfile.Druzi') }}</span></router-link>
                <router-link to="/profile/message"><span>{{ $t('menuProfile.Povidomlennya') }}</span></router-link>
                <router-link to="/profile/gallery"><span>{{ $t('menuProfile.Halereya') }}</span></router-link>
                <router-link to="/profile/products"><span>{{ $t('menuProfile.Produkty') }}</span></router-link>
                <router-link to="/profile/sale-buy"><span>{{ $t('menuProfile.Prodazh_Pokupka') }}</span></router-link>
                <router-link to="/profile/bookmarks"><span>{{ $t('menuProfile.Zakladky') }}</span></router-link>
                <router-link to="/profile/tariff-plan"><span>{{ $t('menuProfile.Taryfnyy_plan') }}</span></router-link>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                
            }  
        },
        methods: {
            
        },
        mounted() {
            
        }
    }
</script>