<template>
    <div class="upload-avatar">
        <div class="img">
            <img :src="'/avatar/100x100/'+user.id" :alt="user.first_name" class="img-circle img-responsive avaprofile" :class="uploadClass">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw upim"  v-if="!hideA"></i>
            <a href="javascript:void(0);" v-on:click="getAva"><i class="topcat-uniF111" v-if="hideA"></i> </a>
            <input id="upload-avatar-input" class="hidden" type="file" v-on:change="onFileChange">
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            profile: {
                type: [Array, Object],
                default: [],
            }
        },
        data(){
            return {
                user: this.$auth.getUser(),
                loading: false,
                uploadClass: '',
                hideA: true,
            }
        },
        methods: {
            getAva: function()
            {
                $('#upload-avatar-input').click();
            },
            onFileChange: function(e)
            {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var form_data = new FormData();
                $.each(files, function(k,v){
                    form_data.append('image', v);
                });
                //
                this.uploadClass = 'opa';
                this.hideA = false;
                axios.post('/api/v1/user/profile/upload/avatar', form_data).then(response => {
                    this.uploadClass = '';
                    this.hideA = true;
                    this.replaceSrc();
                }).catch(error => {
                    //
                    this.uploadClass = '';
                    this.hideA = true;
                    alert('Error loading file!');
                });
            },
            replaceSrc: function () {
                var images = document.getElementsByClassName('avaprofile');

                for(var i = 0; i < images.length; i++)
                {
                    var dt = new Date();
                    var img = images[i];

                    if(img.src.length >= 0 & img.id != 'idImageNoTimestamp')
                    {
                        img.src = img.src + "?" + dt.getTime();
                        //javascript:alert(document.lastModified);
                    }
                }
            }
        },
        mounted() {
            
        }
    }
</script>