<template>
    <div id="upload-bg" v-bind:style='{ backgroundImage: bg }'>
        <div class="row">
            <div class="col-lg-3">
                <upload-avatar :profile="profile"></upload-avatar>
            </div>
            <div class="col-lg-8 text-center">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw upbg" v-if="loading"></i>
            </div>
            <div class="col-lg-1">
                <ul class="remote-bg">
                    <li>
                        <a href="javascript:void(0);" v-on:click="getBg"><i class="topcat-uniF111"></i></a>
                        <input id="upload-bg-input" class="hidden" type="file" v-on:change="onFileChange">
                    </li>
                    <li><a href="javascript:void(0);" v-on:click="removeBg"><i class="fa fa-window-close" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:void(0);" v-on:click="refreshBg"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.component('upload-avatar', require('./UploadAvatar.vue'));

    export default {
        props:{
            profile:{
                type: [Array, Object],
                default: [],
            }
        },
        data(){
            return {
                user: this.$auth.getUser(),
                loading: false,
                bg: null,
            }  
        },
        methods: {
            getBg: function () {
                $('#upload-bg-input').click();
            },
            onFileChange: function(e)
            {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                var form_data = new FormData();
                $.each(files, function(k,v){
                    form_data.append('image', v);
                });
                //
                this.loading = true;
                axios.post('/api/v1/user/profile/upload/bg', form_data).then(response => {
                    this.user = response.data.user;
                    var timeInMs = Date.now();
                    this.bg = "url(/profile/bg/" + this.user.id + "?"+timeInMs+")";
                    this.$parent.$parent.bg = "url(/profile/bg/" + this.user.id + "?"+timeInMs+")";
                    //$('#blbg').replaceWith("<style id='blbg'>.blur-bg:after{ background-image: url(/profile/bg/blur/"+this.user.id+"?"+timeInMs+") }</style>");
                    this.loading = false;
                }).catch(error => {
                    //
                    alert('Error loading file!');
                    this.loading = false;
                });
            },
            setBg: function () {
                this.bg = "url(/profile/bg/" + this.user.id + ")";
            },
            removeBg: function () {
                this.loading = true;
                axios.post('/api/v1/user/profile/remove/bg/'+this.user.id).then(response => {
                    this.user = response.data.user;
                    var timeInMs = Date.now();
                    this.bg = "url(/profile/bg/" + this.user.id + "?"+timeInMs+")";
                    this.$parent.$parent.bg = "url(/profile/bg/" + this.user.id + "?"+timeInMs+")";
                    //$('#blbg').replaceWith("<style id='blbg'>.blur-bg:after{ background-image: url(/profile/bg/blur/"+this.user.id+"?"+timeInMs+") }</style>");
                    this.loading = false;
                }).catch(error => {
                    //
                    alert('Error remove file!');
                    this.loading = false;
                });
            },
            refreshBg: function () {
                this.loading = true;
                axios.post('/api/v1/user/profile/refresh/bg/'+this.user.id).then(response => {
                    this.user = response.data.user;
                    var timeInMs = Date.now();
                    this.bg = "url(/profile/bg/" + this.user.id + "?"+timeInMs+")";
                    this.$parent.$parent.bg = "url(/profile/bg/" + this.user.id + "?"+timeInMs+")";
                    //$('#blbg').replaceWith("<style id='blbg'>.blur-bg:after{ background-image: url(/profile/bg/blur/"+this.user.id+"?"+timeInMs+") }</style>");
                    this.loading = false;
                }).catch(error => {
                    //
                    alert('Error remove file!');
                    this.loading = false;
                });
            }
        },
        computed: {
//            
        },
        mounted() {
            this.bg = "url(/profile/bg/" + this.user.id +")";
        }
    }
</script>