<template>
    <span>
        <button type="button" class="btn btn-danger btn-rounded btn-sm " @click="showModal = true">
            <i class="icon-trash icons f-sz-10"></i>
        </button>
        <modal v-if="showModal" @close="showModal = false" :header="false">
            <div slot="body" class="remove-warn">
                <template v-if="!removed">
                    <i class="icon-question icons"></i>
                    <h3>Ви впевнені що хочете видалити?</h3>
                    <div class="btns">
                        <button class="btn btn-success" type="button" @click="remove">Так, видалити</button>
                        <button class="btn btn-danger" type="button" @click="cancel">Ні</button>
                    </div>
                </template>
                <template v-else>
                    <i class="icon-check icons"></i>
                    <h3>Видалено!</h3>
                    <div class="btns">
                        <button class="btn btn-success" type="button" @click="cancel">OK</button>
                    </div>
                </template>
            </div>
        </modal>
    </span>
</template>
<script>
    export default {
        props:{
            link:{
                type: String,
                default: null,
            }
        },
        data(){
            return {
                showModal: false,
                removed: false,
            }
        },
        methods:{
            remove: function () {
                var vm = this;
                axios.delete(this.link).then(response => {
                    this.removed = true;
                    this.eb.$emit('reload');
                }).catch(error => {
                    this.loading = false;
                    this.$msg.errLocale(error, this.$notify, 'Помилка!');
                });
            },
            cancel: function () {
                this.showModal = false;
                this.removed = false;
            }
        },
        mounted(){

        }
    }
</script>