<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
            <v-card>
                <v-card-title>
                    <span class="headline">Імпорт з Excel</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex lg12>
                                <field-import-xls v-model="path"></field-import-xls>
                            </v-flex>
                            <v-progress-linear :indeterminate="indeterminate"></v-progress-linear>
                            <template v-if="visible">
                                <v-flex md6>
                                    <v-btn color="success" block @click="importAdd">Додати як нові елементи</v-btn>
                                </v-flex>
                                <v-flex md6>
                                    <v-btn color="info" block>Оновити елементи</v-btn>
                                </v-flex>
                            </template>
                        </v-layout>
                    </v-container>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="dialog = false">Закрити</v-btn>
                </v-card-actions>
            </v-card>
    </v-dialog>
</template>

<script>
    Vue.component('field-import-xls', require('../catalog/FieldImportXls.vue'));
    export default{
        props:{
            catalog:{
                type:[Array,Object],
                default: null,
            },
            element:{
                type:[Array, Object],
                default: () => ({}),
            }
        },
        data(){
            return{
                dialog: false,
                path: null,
                visible: false,
                indeterminate: false,
            }
        },
        watch:{
            path: function (item) {
                this.visible = (item) ? true : false;
            }
        },
        methods:{
            importAdd: function () {
                this.indeterminate = true;
                axios.post('/api/admin/catalog/upload/add', {
                    path: this.path,
                    catalog_id: this.catalog._id,
                    parent_id: (this.element) ? this.element._id : null
                }).then(response => {
                    this.indeterminate = false;
                    this.$emit('reload');
                    this.dialog = false;
                    this.visible = false;
                    this.path = null;
                }).catch(error => {
                    this.indeterminate = false;
                    alert('Помилка!');
                    console.log(error);
                });
            }
        },
        mounted(){
            var _this = this;
            //
            this.event.$on('openDialogImportCatalog', function () {
                _this.dialog = true;
            });
        }
    }
</script>