<template>
    <div class="field-import-xls">
        <v-layout wrap>
            <v-flex md7>
                <v-text-field v-model="file.name" label="Назва файлу"></v-text-field>
            </v-flex>
            <v-flex md5>
                <v-btn
                        :loading="loading"
                        :disabled="loading"
                        block
                        color="blue-grey"
                        class="white--text"
                        @click="getFile"
                >
                    Завантажити
                    <v-icon right dark>cloud_upload</v-icon>
                </v-btn>
            </v-flex>
        </v-layout>
        <input @change="onFileChange" id="import-xls" class="hidden" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    </div>
</template>

<script>
    export default{
        props:{
            value:{
                type: String,
                default: null,
            }
        },
        data(){
            return{
                loading: false,
                file: {
                    name: null,
                }
            }
        },
        watch:{
            value: function (item) {
                if(!item)
                {
                    this.file.name = null;
                }
            }
        },
        methods: {
            getFile: function () {
                $('#import-xls').click();
            },
            onFileChange: function(e){
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.file.name = files[0].name;

                var form_data = new FormData();
                form_data.append('xls', files[0]);
                //form_data.append('name', files[0].name);
                this.loading = true;
                axios.post('/api/admin/catalog/upload/xlsx', form_data).then(response => {
                    this.$emit('input', response.data);
                    this.loading = false;
                });
            }
        }
    }
</script>

