<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex lg12>
                                <p v-if="Object.keys(element).length">{{ element.name.uk }}</p>
                                <v-text-field v-model="form.name.en" :rules="[v => !!v || 'обовя,зково']" label="Назва" suffix="EN" required></v-text-field>
                                <v-text-field v-model="form.name.ru" :rules="[v => !!v || 'обовя,зково']" label="Назва" suffix="RU" required></v-text-field>
                                <v-text-field v-model="form.name.uk" :rules="[v => !!v || 'обовя,зково']" label="Назва" suffix="UK" required></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="form.ico" label="Клас іконки"></v-text-field>
                            </v-flex>
                            <v-flex md6>
                                <v-switch label="Активність" color="primary" v-model="form.status"></v-switch>
                            </v-flex>
                            <v-flex md6>
                                <v-select
                                        :items="[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1, 1,2,3,4,5,6,7,8,9,10]"
                                        v-model="form.sort"
                                        label="Позиція в списку"
                                        single-line
                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="dialog = false">Закрити</v-btn>
                    <v-btn color="teal" flat @click="submit">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
    export default{
        props:{
            catalog:{
                type:[Array,Object],
                default: null,
            },
            element:{
                type:[Array, Object],
                default: () => ({}),
            }
        },
        data(){
            return{
                dialog: false,
                valid: false,
                title: 'Додати елемент довідника',
                method: 'post',
                form:{
                    _id: null,
                    catalog_id: this.catalog._id,
                    name: {
                        en: null,
                        ru: null,
                        uk: null,
                    },
                    parent_id: (this.element) ? this.element._id : null,
                    sort:1,
                    ico: null,
                    status:true,
                },
            }
        },
        methods:{
            submit: function () {
                if (this.$refs.form.validate()) {

                    if(this.method == 'post')
                    {
                        axios.post('/api/admin/catalog/data/items', this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                            this.$refs.form.reset();
                        }).catch(error => {
                            console.error(error);
                        });
                    }
                    if(this.method == 'put')
                    {
                        axios.put('/api/admin/catalog/data/items/'+this.form._id, this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {
                            console.error(error);
                        });
                    }
                }
            },
            clearForm: function () {
                this.form = {
                    _id: null,
                    catalog_id: this.catalog._id,
                    name: {
                        en: null,
                        ru: null,
                        uk: null,
                    },
                    parent_id: (this.element) ? this.element._id : null,
                    sort: 1,
                    ico: null,
                    status: true,
                };
            }
        },
        mounted(){
            var _this = this;
            //
            this.event.$on('openCatalogItemsForm', function (method, data = null) {
                _this.method = method;
                _this.dialog = true;

                if(method == 'put') {
                    _this.form = data;
                    _this.title = 'Редагувати елемент довідника';
                }
                else {
                    _this.clearForm();
                    _this.title = 'Додати елемент довідника';
                }
            });
        }
    }
</script>