<template>
    <v-dialog v-model="dialog" persistent max-width="550px">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex lg12>
                                <v-text-field v-model="form.name" :rules="[v => !!v || 'обовязково']" label="Назва" required></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink" flat @click="dialog = false">Закрити</v-btn>
                    <v-btn color="teal" flat @click="submit">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
    export default{
        data(){
            return{
                dialog: false,
                valid: false,
                title: 'Додати довідник',
                method: 'post',
                form:{
                    _id: null,
                    name: null,
                },
            }
        },
        methods:{
            submit: function () {
                if (this.$refs.form.validate()) {

                    if(this.method == 'post')
                    {
                        axios.post('/api/admin/catalog', this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {
                            console.error(error);
                        });
                    }
                    if(this.method == 'put')
                    {
                        axios.put('/api/admin/catalog/'+this.form._id, this.form).then(response => {
                            this.$emit('reload');
                            this.dialog = false;
                            this.clearForm();
                        }).catch(error => {
                            console.error(error);
                        });
                    }
                }
            },
            clearForm: function () {
                this.form = {
                    _id: null,
                    name: null,
                };
                this.$refs.form.reset();
            }
        },
        mounted(){
            var _this = this;
            //
            this.event.$on('openCatalogForm', function (method, data = null) {
                _this.method = method;
                _this.dialog = true;

                if(method == 'put') {
                    _this.form = data;
                    _this.title = 'Редагувати довідник';
                }
                else {
                    _this.clearForm();
                    _this.title = 'Додати довідник';
                }
            });
        }
    }
</script>