<template>
    <div class="page">
        <v-toolbar color="teal lighten-3" height="50" dark flat>
            <v-btn small fab dark color="teal" @click="openCatalogForm">
                <v-icon dark>add</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title>Довідники</v-toolbar-title>
        </v-toolbar>

        <v-data-table
                :headers="headers"
                :items="items"
                :loading="loading"
                hide-actions
        >
            <v-progress-linear slot="progress" height="2" color="pink" indeterminate></v-progress-linear>

            <template slot="items" slot-scope="props">
                <tr>
                    <td><v-icon>class</v-icon></td>
                    <td>{{ props.item._id }}</td>
                    <td>
                        <router-link :to="{name: 'admin.catalog.slug', params:{slug: props.item.slug}}">{{ props.item.name }}</router-link>
                    </td>
                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="teal">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <form-catalog @reload="getData"></form-catalog>
    </div>
</template>

<script>
    Vue.component('form-catalog', require('../catalog/FormCatalog.vue'));

    export default{
        data(){
            return{
                loading: false,
                items:[],
                headers: [
                    { text: '#', width: '20px', sortable: false},
                    { text: '_id', width: '200px', sortable: false},
                    { text: 'Назва довідника', sortable: false},
                    { text: '', width: '150px', sortable: false},
                ],
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            openCatalogForm: function () {
                this.event.$emit('openCatalogForm', 'post');
            },
            editItem: function (item) {
                this.event.$emit('openCatalogForm', 'put', item);
            },
            getData: function()
            {
                this.loading = true;
                axios.get('/api/admin/catalog').then(response => {
                    this.items = response.data.data;
                    this.loading = false;
                }).catch(error => {
                    console.log(error);
                    this.loading = false;
                });
            },
        },
        mounted(){
            var vm = this;
            //
        }
    }
</script>

