<template>
    <div class="page">
        <v-toolbar color="teal lighten-3" height="50" dark flat>
            <v-btn small fab dark color="teal" @click="openCatalogItemsForm">
                <v-icon dark>add</v-icon>
            </v-btn>
            <v-btn small fab dark color="pink" @click="openDialogImport">
                <v-icon dark>save_alt</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title>Довідник - "{{ catalog.name }}"</v-toolbar-title>
        </v-toolbar>

        <v-data-table
                :headers="headers"
                :items="items"
                :loading="loading"
                hide-actions
        >
            <v-progress-linear slot="progress" height="2" color="pink" indeterminate></v-progress-linear>

            <template slot="items" slot-scope="props">
                <tr>
                    <td>
                        <v-tooltip top>
                            <v-icon slot="activator">class</v-icon>
                            <span>{{ props.item._id }}</span>
                        </v-tooltip>

                    </td>
                    <td>{{ props.item._id }}</td>
                    <td>
                        <router-link :to="{name: 'admin.catalog.slug2', params:{slug: $route.params.slug, slug2: props.item.slug}}">{{ props.item.name.uk }}</router-link>
                    </td>
                    <td class="text-xs-center">{{ props.item.children.length }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="teal">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <form-catalog-item @reload="getData" :catalog="catalog"></form-catalog-item>
        <dialog-import-catalog @reload="getData" :catalog="catalog"></dialog-import-catalog>
    </div>
</template>

<script>
    Vue.component('form-catalog-item', require('../catalog/FormCatalogItem.vue'));
    Vue.component('dialog-import-catalog', require('../catalog/DialogImport.vue'));

    export default{
        data(){
            return{
                loading: false,
                items:[],
                headers: [
                    { text: '#', width: '20px', sortable: false},
                    { text: 'ID', width: '100px', sortable: false},
                    { text: 'Назва елемента', sortable: false},
                    { text: 'К-ть елементів', width: '150px', sortable: false},
                    { text: '', width: '150px', sortable: false},
                ],
                catalog:[],
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods:{
            openCatalogItemsForm: function () {
                this.event.$emit('openCatalogItemsForm', 'post');
            },
            editItem: function (item) {
                this.event.$emit('openCatalogItemsForm', 'put', item);
            },
            openDialogImport: function () {
                this.event.$emit('openDialogImportCatalog');
            },
            getData: function()
            {
                this.loading = true;
                axios.get('/api/admin/catalog/'+this.$route.params.slug).then(response => {
                    this.catalog = response.data;
                    this.items = response.data.parent_items;
                    this.loading = false;
                }).catch(error => {
                    console.log(error);
                    this.loading = false;
                });
            },
            deleteItem: function (item) {
                this.loading = true;
                axios.delete('/api/admin/catalog/data/items/'+item._id).then(response => {
                    this.getData();
                    this.loading = false;
                }).catch(error => {
                    console.log(error);
                    this.loading = false;
                });
            }
        },
        mounted(){
            var vm = this;
            //
        }
    }
</script>

